<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" lang="th">

<f:view contentType="text/html;charset=UTF-8" encoding="UTF-8" locale="#{webPreferences.locale}">
	<h:head>
		<f:facet name="first">
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
			<meta name="apple-mobile-web-app-capable" content="yes" />
		</f:facet>
		<title>Index</title>
	</h:head>
	
	<h:body>
		<p:textEditor />
		
		<h:outputStylesheet library="webjars" name="font-awesome/5.15.4/css/all.min-jsf.css" />
		<h:outputStylesheet library="webjars" name="primeflex/3.1.0/primeflex.min.css" />
	</h:body>
</f:view>
</html>