<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		widgetVar="mainConfirmDialog" header="#{msg['msg.confirm.title']}"
		message="#{msg['msg.confirm.info']}" responsive="true">
		
		<h:panelGroup layout="block" styleClass="center" style="margin-top:10px;">
			<p:commandButton value="#{msg['msg.button.yes']}" type="button"
				styleClass="ui-confirmdialog-yes"
				icon="fa fa-check">
			</p:commandButton>
			<p:commandButton value="#{msg['msg.button.no']}" 
				type="button"
				styleClass="ui-confirmdialog-no ui-button-danger"
				style="margin-left:15px;"
				icon="fa fa-times">
			</p:commandButton>
		</h:panelGroup>
	</p:confirmDialog>
</ui:composition>