<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:po="http://primefaces.org/pandora">

	<po:menu widgetVar="PandoraMenuWidget">
		<p:submenu id="om_homepage" label="Main Menu" icon="pi pi-fw pi-home">
			<p:menuitem value="#{msg['menu.dashboard']}"
				action="#{menuCtrl.changePageAction('DASHBOARD')}" icon="pi pi-fw pi-sitemap"
				immediate="true">
			</p:menuitem>
			<p:menuitem value="#{msg['menu.home']}"
				action="#{menuCtrl.changePageAction('HOME')}"
				icon="pi pi-fw pi-home" immediate="true">
			</p:menuitem>
			<p:menuitem value="#{msg['menu.session']}"
				action="#{menuCtrl.changePageAction('SESSION')}"
				icon="pi pi-fw pi-book" immediate="true">
			</p:menuitem>
			<p:menuitem value="#{msg['menu.view']}"
				action="#{menuCtrl.changePageAction('VIEW')}"
				icon="pi pi-fw pi-book" immediate="true">
			</p:menuitem>
		</p:submenu>
	</po:menu>

</ui:composition>