<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div class="layout-rightpanel">
		<div class="rightpanel-wrapper">
			<div class="rightpanel-header">
				<div class="cover">
					<p:graphicImage name="images/profile-cover1.jpg" styleClass="cover-image"/>
					<p:graphicImage name="images/icons/admin.svg" styleClass="avatar-image" />
				</div>
				<div class="profile-info">
					<h4>#{userInfo.fullName}</h4>
					<span class="status p-mt-2">Role: #{userInfo.role}</span>
					<ul class="no-bullets p-mt-2">
						<li>
							<p:commandLink immediate="true"> 
								<i class="pi pi-fw pi-user icon" aria-hidden="true"/> #{msg['menu.profile']}
							</p:commandLink>
						</li>
						<li>
							<p:commandLink immediate="true"> 
								<i class="pi pi-fw pi-cog icon" aria-hidden="true"/> #{msg['menu.settings']}
							</p:commandLink>
						</li>
						<li>
							<p:commandLink immediate="true"> 
								<i class="pi pi-fw pi-sign-out icon fa-red" aria-hidden="true"/> #{msg['menu.logout']}
							</p:commandLink>
						</li>
					</ul>
				</div>
			</div>

			<div class="rightpanel-graph">
				<h4>#{msg['dashboard.user.activity.summary']}</h4>
				<div class="graph-content">
					<div class="graph-wrapper">
						<div class="graph-item">40%</div>
						<div class="graph-item">20%</div>
						<div class="graph-item">25%</div>
						<div class="graph-item">15%</div>
					</div>
					<ul>
						<li><span><span class="label-color"></span>#{msg['dashboard.user.meeting']}</span></li>
						<li><span><span class="label-color"></span>#{msg['dashboard.user.event']}</span></li>
						<li><span><span class="label-color"></span>#{msg['dashboard.user.course']}</span></li>
						<li><span><span class="label-color"></span>#{msg['dashboard.user.assessment']}</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</ui:composition>