<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div class="layout-topbar">
		<div class="layout-topbar-wrapper">
			<ui:remove> +++++++++++++ Logo +++++++++++++++++ </ui:remove>
			<div class="layout-topbar-left">
				<div class="menu-button">
					<i class="pi pi-bars" aria-hidden="true"/>
				</div>
				<h:link id="logolink" class="layout-topbar-logo">
					<p:graphicImage name="images/#{webPreferences.darkLogo ? 'logo-pandora.svg' : 'logo-pandora.svg'}" styleClass="topbar-logo"/>
				</h:link>
			</div>
			
			<div class="layout-topbar-right">
				<ul class="layout-topbar-actions">
					<li class="topbar-item notifications">
						<a href="#"> 
							<i class="topbar-icon pi pi-bell" aria-hidden="true"><span class="dot"></span></i>
						</a>
						<ul>
							<li class="layout-submenu-header">
								<h4 class="header-text">Notifications</h4> 
							</li>
							<li class="layout-submenu-item">
								<div class="menu-text">
									<i class="fa fa-users" aria-hidden="true"/>
									<div>
										<p>Meeting transaction 10</p>
									</div>
								</div>
							</li>
							<li class="layout-submenu-item">
								<div class="menu-text">
									<i class="fa fa-fw fa-book" aria-hidden="true"/>
									<div>
										<p>Event transaction 11</p>
									</div>
								</div>
							</li>
							<li class="layout-submenu-item">
								<div class="menu-text">
									<i class="fa fa-fw fa-book" aria-hidden="true"/>
									<div>
										<p>Course transaction 11</p>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li class="topbar-item-v-separator" />
				</ul>
			</div>
			
			<a href="#" class="layout-rightpanel-button"> 
				<p:graphicImage name="images/icons/admin.svg" /> 
			</a>
		</div>
	</div>

</ui:composition>