<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div class="layout-footer">
		<p:graphicImage name="images/logo-footer.svg" styleClass="topbar-logo"/>
		<div class="social-icons">
			<a><i class="pi pi-facebook" aria-hidden="true"/></a>
			<a><i class="pi pi-twitter" aria-hidden="true"/></a>
		</div>
	</div>
</ui:composition>