<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" lang="th">

<f:view contentType="text/html" locale="#{webPreferences.locale}">
	<h:head>
		<f:facet name="first">
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
			<meta name="apple-mobile-web-app-capable" content="yes" />
		</f:facet>
		<title><ui:insert name="title">#{msg['msg.app.name']}</ui:insert></title>
		
		<h:outputScript name="pandora-layout/js/layout.js" />
		<h:outputScript name="pandora-layout/js/prism.js" />
		
		<ui:insert name="head" />
	</h:head>

	<h:body styleClass="#{webPreferences.inputStyleClass}">
		<div class="layout-wrapper #{webPreferences.layoutConfig}">

			<ui:include src="system-rightpanel.xhtml" />
			<ui:include src="sytem-menu.xhtml" />

			<div class="layout-main">
				<ui:include src="system-topbar.xhtml" />
				<h:panelGroup rendered="false">
					<ui:include src="system-breadcrumb.xhtml" />
				</h:panelGroup>
				
				<div class="layout-content">
					<ui:include src="inc-ajax-status.xhtml" />
					<ui:include src="inc-confirm-dialog.xhtml" />
				
					<ui:insert name="content" />
					<ui:insert name="popup" />
				</div>

				<ui:include src="system-config.xhtml" />
				<ui:include src="system-footer.xhtml" />
				
				<div class="layout-mask"></div>
			</div>
		</div>

		<h:outputStylesheet name="pandora-layout/css/primeicons.css" />
		<h:outputStylesheet name="pandora-layout/css/primeflex.min.css" />
		<h:outputStylesheet name="pandora-layout/css/#{webPreferences.layout}.css" />
        <h:outputStylesheet name="css/style-font.css" />
        <h:outputStylesheet name="css/style-pandora.css" />
        <h:outputStylesheet name="css/style-resp.css" />
        <h:outputStylesheet name="css/style-required.css" />
        
	</h:body>
</f:view>
</html>