<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" 
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">#{msg['menu.session']}</ui:define>

	<ui:define name="content">
		<h:form id="form" prependId="false">
			<div class="p-grid nested-grid">			
				<div class="p-col-12">					
					<h:panelGroup layout="block" styleClass="card">
	                    <div class="ui-fluid p-formgrid p-grid">
	                    	<ui:remove>++++++++++++++ Row 1 +++++++++++++++ </ui:remove>
	                        <div class="p-field p-col-12 p-md-12">
								<p:inputText value="#{sessionCtrl.name}"
									placeholder="Name">
								</p:inputText>
							</div>
	                        <div class="p-field p-col-12 p-md-12">
								<h:outputText value="Host : [#{sessionCtrl.systemName}] Session : [#{sessionCtrl.sessionId}]" />
	                        </div>
	                        <div class="p-field p-col-12 p-md-12">
								<p:commandButton value="Click Me" 
									action="#{sessionCtrl.clickAction()}"
									update="@form" icon="pi pi-search">
								</p:commandButton>
	                        </div>
	                    </div>					
					</h:panelGroup>
				</div>
			</div>
		</h:form>

	</ui:define>
	
	<ui:define name="popup">

	</ui:define>

</ui:composition>