<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" 
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">#{msg['menu.view']}</ui:define>

	<ui:define name="content">
		<h:form id="form" prependId="false">
			<div class="p-grid nested-grid">			
				<div class="p-col-12">					
					<h:panelGroup layout="block" styleClass="card">
						<div class="ui-fluid p-formgrid p-grid">
							<div class="p-field p-col-12 p-md-6">
								<label for="firstname6">Firstname</label>
								<p:inputText value="#{viewCtrl.form.fisrtName}" type="text" />
							</div>
							<div class="p-field p-col-12 p-md-6">
								<label for="lastname6">Lastname</label>
								<p:inputText value="#{viewCtrl.form.lastName}" type="text" />
							</div>
							<div class="p-field p-col-12">
								<label for="address">Address</label>
								<p:inputTextarea value="#{viewCtrl.form.address}" rows="4" />
							</div>
							<div class="p-field p-col-12 p-md-6">
								<label for="city">City</label>
								<p:inputText value="#{viewCtrl.form.city}" type="text" />
							</div>
							<div class="p-field p-col-12 p-md-3">
								<label for="state">State</label>
								<p:selectOneMenu value="#{viewCtrl.form.state}">
									<f:selectItem itemLabel="Select" itemValue="" />
									<f:selectItem itemLabel="Arizona" itemValue="Arizona" />
									<f:selectItem itemLabel="California" itemValue="California" />
									<f:selectItem itemLabel="Florida" itemValue="Florida" />
									<f:selectItem itemLabel="Ohio" itemValue="Ohio" />
									<f:selectItem itemLabel="Washington" itemValue="Washington" />
								</p:selectOneMenu>
							</div>
							<div class="p-field p-col-12 p-md-3">
								<label for="zip">Zip</label>
								<p:inputText value="#{viewCtrl.form.zip}" type="text" />
							</div>
	                        <div class="p-field p-col-12 p-md-12">
								<h:outputText value="Host : [#{viewCtrl.systemName}] Session : [#{viewCtrl.sessionId}]" />
	                        </div>
	                        <div class="p-field p-col-12 p-md-12">
								<p:commandButton value="Click Me" 
									action="#{viewCtrl.clickAction()}"
									update="@form" icon="pi pi-search">
								</p:commandButton>
	                        </div>
						</div>			
					</h:panelGroup>
				</div>
			</div>
		</h:form>

	</ui:define>
	
	<ui:define name="popup">

	</ui:define>

</ui:composition>