<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="jakarta.faces.facelets"
                xmlns:p="http://primefaces.org/ui">

    <div class="layout-rightpanel">
        <div class="rightpanel-wrapper">
            <div class="rightpanel-header">
                <div class="cover">
                    <p:graphicImage name="images/rightpanel/asset-cover.jpg" styleClass="cover-image"
                                    library="pandora-layout"/>
                    <p:graphicImage name="images/rightpanel/avatar.png" styleClass="avatar-image"
                                    library="pandora-layout"/>
                </div>
                <div class="profile-info">
                    <h4>Amelia Cabal</h4>
                    <span>Normal Employee</span>
                    <span class="status">ONLINE</span>
                </div>
            </div>

            <div class="rightpanel-summary">
                <h4>AMILEA’S SUMMARY</h4>
                <div class="numbers-row">
                    <div class="number">
                        <h5>$10,491.08</h5>
                        <span>Revenue</span>
                    </div>
                    <div class="number">
                        <h5>+2.5M</h5>
                        <span>Potential Reach</span>
                    </div>
                </div>
                <div class="numbers-row">
                    <div class="number">
                        <h5>299.565</h5>
                        <span>Pageview</span>
                    </div>
                    <div class="number">
                        <h5>5.965</h5>
                        <span>Followers</span>
                    </div>
                </div>
            </div>

            <div class="rightpanel-graph">
                <h4>PANDORA STREAM</h4>

                <div class="graph-content">
                    <div class="graph-wrapper">
                        <div class="graph-item"></div>
                        <div class="graph-item"></div>
                        <div class="graph-item"></div>
                        <div class="graph-item"></div>
                    </div>
                    <ul>
                        <li>
                            <span><span class="label-color"></span>United States</span>
                        </li>
                        <li>
                            <span><span class="label-color"></span>Brasil</span>
                        </li>
                        <li>
                            <span><span class="label-color"></span>Germany</span>
                        </li>
                        <li>
                            <span><span class="label-color"></span>Argentina</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</ui:composition>