<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="jakarta.faces.facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:po="http://primefaces.org/pandora">

    <po:menu widgetVar="PandoraMenuWidget">
        <p:submenu id="m_homepage" label="Main Menu" icon="pi pi-fw pi-home">
            <p:menuitem id="m_dashboard" value="Dashboard" icon="pi pi-fw pi-home" />
            <p:submenu id="m_components" label="UI Kit" icon="pi pi-fw pi-star">
                <p:menuitem id="m_formlayout" value="Form Layout" icon="pi pi-fw pi-id-card" />
            </p:submenu>
        </p:submenu>
    </po:menu>

</ui:composition>