<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="jakarta.faces.html"
                xmlns:ui="jakarta.faces.facelets"
                xmlns:p="http://primefaces.org/ui" >

    <div class="layout-topbar">
        <div class="layout-topbar-wrapper">
            <div class="layout-topbar-left">
                <div class="menu-button">
                    <i class="pi pi-bars"/>
                </div>
                <h:link id="logolink" class="layout-topbar-logo">
                    <p:graphicImage name="images/#{webPreferences.darkLogo ? 'logo-footer.svg' : 'logo-pandora.svg'}"
                                    library="pandora-layout">
                    </p:graphicImage>
                </h:link>
            </div>
            <div class="layout-topbar-right">
                <ul class="layout-topbar-actions">
                    <li class="topbar-item notifications">
                        <a href="#">
                            <i class="topbar-icon pi pi-bell"><span class="dot"></span></i>
                        </a>
                        <ul>
                            <li class="layout-submenu-header">
                                <h4 class="header-text">Notifications </h4>
                                <span class="header-helper-text"> all items</span>
                            </li>
                            <li class="layout-submenu-item">
                                <div class="menu-text">
                                    <i class="pi pi-twitter"/>
                                    <div>
                                        <span>comment</span>
                                        <p>Aliquam sem fringilla ut morbi tincidunt augue interdum.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="layout-submenu-item">
                                <div class="menu-text">
                                    <i class="pi pi-github"/>
                                    <div>
                                        <span>issue</span>
                                        <p>Nisl vel pretium lectus quam.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="layout-submenu-item">
                                <div class="menu-text">
                                    <i class="pi pi-heart"/>
                                    <div>
                                        <span>comment</span>
                                        <p>Felis imperdiet proin fermentum leo vel orci porta non pulvinar.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="topbar-item-v-separator"/>
                </ul>
            </div>
            <a href="#" class="layout-rightpanel-button">
                <p:graphicImage name="images/icons/admin.svg" />
            </a>
        </div>
    </div>

</ui:composition>