<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="jakarta.faces.html"
                xmlns:ui="jakarta.faces.facelets"
                xmlns:p="http://primefaces.org/ui">

    <div class="menu-wrapper">
        <div class="layout-menu-container">
            <h:form id="menuform">
                <div class="layout-profile">
                    <a class="layout-profile-button" href="#">
                        <span class="profile-image-icons">
                            <p:graphicImage name="images/menu/avatar.png" library="pandora-layout" />
                            <span class="icons">
                                <i class="pi pi-fw pi-comment"><span></span></i>
                                <i class="pi pi-fw pi-bell"/>
                                <i class="pi pi-fw pi-sign-out"/>
                            </span>
                        </span>
                        <span class="profile-info-button">
                            <span class="layout-profile-userinfo">
                                <span class="layout-profile-name">Amelia Cabal</span>
                                <span class="layout-profile-role">Normal Employee</span>
                            </span>
                            <i class="layout-profile-icon pi pi-angle-down"/>
                        </span>
                    </a>
                    <ul class="layout-profile-menu">
                        <li class="info">
                            <div class="profile-info">
                                <div class="layout-profile-userinfo">
                                    <span class="layout-profile-name">Amelia Cabal</span>
                                    <span class="layout-profile-role">Normal Employee</span>
                                </div>
                                <div class="icons">
                                    <i class="pi pi-fw fa-comment"/>
                                    <i class="pi pi-fw fa-bell-o"/>
                                    <i class="pi pi-fw fa-sign-out"/>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <i class="pi pi-fw pi-user"/>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="pi pi-fw pi-cog"/>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="pi pi-fw pi-envelope"/>
                                <span>Messages</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="pi pi-fw pi-bell"/>
                                <span>Notifications</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <ui:include src="#{webPreferences.groupedMenu ? 'inc-menu-grouped.xhtml' : 'inc-menu-ungrouped.xhtml'}" />
            </h:form>
        </div> 
    </div>

</ui:composition>