<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="jakarta.faces.html"
                xmlns:f="jakarta.faces.core"
                xmlns:ui="jakarta.faces.facelets"
                xmlns:p="http://primefaces.org/ui">

    <div class="layout-config">
        <div class="layout-config-content">
            <a href="#" class="layout-config-button">
                <i class="pi pi-cog"/>
            </a>
            <h:form id="config-form">
                <p:tabView id="config-form-tabs">
                    <ui:remove> +++++++++++++ Thems +++++++++++++++ </ui:remove>
                    <p:tab title="Theme">
                        <div class="layout-config-subtitle first">Your Palette</div>
                        <h:panelGroup id="layout-config-palette" layout="block" styleClass="grid layout-config-palette">
                            <div class="col col-fixed">
                                <span style="background-color: #{webPreferences.menuBgColor};" class="layout-config-selected-palette"
                                      title="#{webPreferences.menuTitle}" />
                                <span class="layout-config-selected-palette-title"> Menu </span>
                            </div>
                            <div class="col col-fixed">
                                <span style="background-color: #{webPreferences.themeBgColor};"  class="layout-config-selected-palette"
                                      title="#{webPreferences.themeTitle}" />
                                <span class="layout-config-selected-palette-title"> Menu Active </span>
                            </div>
                            <div class="col col-fixed">
                                <span style="background-color: #{webPreferences.topbarBgColor};"  class="layout-config-selected-palette"
                                      title="#{webPreferences.topbarTitle}" />
                                <span class="layout-config-selected-palette-title"> Topbar </span>
                            </div>
                            <div class="col col-fixed">
                                <span style="background-color: #{webPreferences.componentBgColor};"  class="layout-config-selected-palette"
                                      title="#{webPreferences.componentTitle}">
                                </span>
                                <span class="layout-config-selected-palette-title"> Component </span>
                            </div>
                        </h:panelGroup>
                        <div class="layout-config-subtitle">Palettes</div>
                        <div class="grid layout-config-palettes">
                            <ui:repeat value="#{webPreferences.palettes}" var="paletteTheme">
                                <p:outputPanel deferred="true" deferredMode="visible" styleClass="sm:col-4 md:col-3 lg:col-6 col-fixed">
                                    <p:commandLink styleClass="layout-config-palette-option"
                                                   actionListener="#{webPreferences.changePalette(paletteTheme)}"
                                                   update="@(.layout-config-palette) logolink"
                                                   onstart="PrimeFaces.PandoraConfigurator.beforeResourceChange()"
                                                   oncomplete="PrimeFaces.PandoraConfigurator.changePalette('#{paletteTheme.menuColor.name}', '#{paletteTheme.menuTheme.name}',
                                        '#{paletteTheme.topbarTheme.name}', '#{paletteTheme.componentTheme.name}')">
                                        <span style="background-color: #{paletteTheme.menuColor.code};" title="#{paletteTheme.menuColor.name}">
                                        </span>
                                        <span style="background-color: #{paletteTheme.menuTheme.code};" title="#{paletteTheme.menuTheme.name}">
                                        </span>
                                        <span style="background-color: #{paletteTheme.topbarTheme.code};" title="#{paletteTheme.topbarTheme.name}">
                                        </span>
                                        <span style="background-color: #{paletteTheme.componentTheme.code};" title="#{paletteTheme.componentTheme.name}">
                                        </span>
                                    </p:commandLink>
                                </p:outputPanel>
                            </ui:repeat>
                        </div>
                    </p:tab>

                    <ui:remove> +++++++++++++ Menu +++++++++++++++ </ui:remove>
                    <p:tab title="Menu">
                        <p:outputPanel id="menuthemes-panel">
                            <div class="layout-config-subtitle first">Mode</div>
                            <div class="grid">
                                <div class="col col-fixed">
                                    <p:commandLink styleClass="layout-config-option layout-config-option-image"
                                                   actionListener="#{webPreferences.setMenuMode('layout-static')}"
                                                   update=":config-form:config-form-tabs:menuthemes-panel"
                                                   oncomplete="PrimeFaces.PandoraConfigurator.changeMenuToStatic()">
                                        <p:graphicImage name="images/configurator/menu/pandora-static.png" library="pandora-layout" title="Static"/>
                                        <span class="layout-config-option-text">Static</span>
                                        <ui:fragment rendered="#{webPreferences.menuMode eq 'layout-static'}">
                                            <span class="layout-config-option-check-mask">
                                                <i class="pi pi-check"/>
                                            </span>
                                        </ui:fragment>
                                    </p:commandLink>
                                </div>
                                <div class="col col-fixed">
                                    <p:commandLink styleClass="layout-config-option layout-config-option-image"
                                                   actionListener="#{webPreferences.setMenuMode('layout-overlay')}"
                                                   update=":config-form:config-form-tabs:menuthemes-panel"
                                                   oncomplete="PrimeFaces.PandoraConfigurator.changeMenuToOverlay()">
                                        <p:graphicImage name="images/configurator/menu/pandora-overlay.png" library="pandora-layout" title="Overlay"/>
                                        <span class="layout-config-option-text">Overlay</span>
                                        <ui:fragment rendered="#{webPreferences.menuMode eq 'layout-overlay'}">
                                            <span class="layout-config-option-check-mask">
                                                <i class="pi pi-check"/>
                                            </span>
                                        </ui:fragment>
                                    </p:commandLink>
                                </div>
                                <div class="col col-fixed">
                                    <p:commandLink styleClass="layout-config-option layout-config-option-image"
                                                   actionListener="#{webPreferences.setMenuMode('layout-horizontal')}"
                                                   update=":config-form:config-form-tabs:menuthemes-panel"
                                                   oncomplete="PrimeFaces.PandoraConfigurator.changeMenuToHorizontal()">
                                        <p:graphicImage name="images/configurator/menu/pandora-horizontal.png" library="pandora-layout" title="Horizontal"/>
                                        <span class="layout-config-option-text">Horizontal</span>
                                        <ui:fragment rendered="#{webPreferences.menuMode eq 'layout-horizontal'}">
                                            <span class="layout-config-option-check-mask">
                                                <i class="pi pi-check"/>
                                            </span>
                                        </ui:fragment>
                                    </p:commandLink>
                                </div>
                                <div class="col col-fixed">
                                    <p:commandLink styleClass="layout-config-option layout-config-option-image"
                                                   actionListener="#{webPreferences.setMenuMode('layout-slim')}"
                                                   update=":config-form:config-form-tabs:menuthemes-panel"
                                                   oncomplete="PrimeFaces.PandoraConfigurator.changeMenuToSlim()">
                                        <p:graphicImage name="images/configurator/menu/pandora-slim.png" library="pandora-layout" title="Slim"/>
                                        <span class="layout-config-option-text">Slim</span>
                                        <ui:fragment rendered="#{webPreferences.menuMode eq 'layout-slim'}">
                                            <span class="layout-config-option-check-mask">
                                                <i class="pi pi-check"/>
                                            </span>
                                        </ui:fragment>
                                    </p:commandLink>
                                </div>
                                <div class="col col-fixed">
                                    <p:commandLink styleClass="layout-config-option layout-config-option-image"
                                                   actionListener="#{webPreferences.setMenuMode('layout-slim-plus')}"
                                                   update=":config-form:config-form-tabs:menuthemes-panel"
                                                   oncomplete="PrimeFaces.PandoraConfigurator.changeMenuToSlimPlus()">
                                        <p:graphicImage name="images/configurator/menu/pandora-slimplus.png" library="pandora-layout" title="SlimPlus"/>
                                        <span class="layout-config-option-text">Slim Plus</span>
                                        <ui:fragment rendered="#{webPreferences.menuMode eq 'layout-slim-plus'}">
                                            <span class="layout-config-option-check-mask">
                                                <i class="pi pi-check"/>
                                            </span>
                                        </ui:fragment>
                                    </p:commandLink>
                                </div>
                            </div>
                            <div class="layout-config-subtitle">Type</div>
                            <div class="grid">
                                <div class="col col-fixed">
                                    <p:commandLink styleClass="layout-config-option layout-config-option-image"
                                                   actionListener="#{webPreferences.setGroupedMenu(true)}"
                                                   update=":config-form:config-form-tabs:menuthemes-panel menuform">
                                        <p:graphicImage name="images/configurator/menu/pandora-grouped.png" library="pandora-layout" title="Grouped" />
                                        <span class="layout-config-option-text">Grouped</span>
                                        <ui:fragment rendered="#{webPreferences.groupedMenu}">
                                            <span class="layout-config-option-check-mask">
                                                <i class="pi pi-check"/>
                                            </span>
                                        </ui:fragment>
                                    </p:commandLink>
                                </div>
                                <div class="col col-fixed">
                                    <p:commandLink styleClass="layout-config-option layout-config-option-image"
                                                   actionListener="#{webPreferences.setGroupedMenu(false)}"
                                                   update=":config-form:config-form-tabs:menuthemes-panel menuform">
                                        <p:graphicImage name="images/configurator/menu/pandora-ungrouped.png" library="pandora-layout" title="Ungrouped" />
                                        <span class="layout-config-option-text">Ungrouped</span>
                                        <ui:fragment rendered="#{!webPreferences.groupedMenu}">
                                            <span class="layout-config-option-check-mask">
                                                <i class="pi pi-check"/>
                                            </span>
                                        </ui:fragment>
                                    </p:commandLink>
                                </div>
                            </div>
                            <div class="layout-config-subtitle">Color</div>
                            <div class="grid">
                                <ui:repeat value="#{webPreferences.menuColors.keySet().toArray()}" var="menuColor">
                                    <div class="col col-fixed">
                                        <p:commandLink styleClass="layout-config-option layout-config-option-image"
                                                       actionListener="#{webPreferences.setMenuColor(menuColor)}"
                                                       update=":config-form:config-form-tabs:menuthemes-panel :config-form:config-form-tabs:layout-config-palette"
                                                       onstart="PrimeFaces.PandoraConfigurator.beforeResourceChange()"
                                                       oncomplete="PrimeFaces.PandoraConfigurator.changeMenuTheme('#{menuColor}', '#{webPreferences.menuColors.get(menuColor).get(0).file}')">
                                            <p:graphicImage name="images/configurator/menu/pandora-#{menuColor}.png" library="pandora-layout" title="#{menuColor}" />
                                            <span class="layout-config-option-text">#{menuColor}</span>
                                            <ui:fragment rendered="#{menuColor eq webPreferences.menuColor}">
                                                <span class="layout-config-option-check-mask">
                                                    <i class="pi pi-check"/>
                                                </span>
                                            </ui:fragment>
                                        </p:commandLink>
                                    </div>
                                </ui:repeat>
                            </div>
                            <div class="layout-config-subtitle">Theme</div>
                            <div class="grid">
                                <ui:repeat value="#{webPreferences.menuColors.get(webPreferences.menuColor)}" var="menuTheme">
                                    <div class="col lg:col-2 col-fixed">
                                        <p:commandLink styleClass="layout-config-option"
                                                       actionListener="#{webPreferences.setMenuTheme(menuTheme.file)}"
                                                       update=":config-form:config-form-tabs:menuthemes-panel :config-form:config-form-tabs:layout-config-palette"
                                                       onstart="PrimeFaces.PandoraConfigurator.beforeResourceChange()"
                                                       oncomplete="PrimeFaces.PandoraConfigurator.changeMenuTheme('#{webPreferences.menuColor}', '#{menuTheme.file}')">
                                            <span class="layout-config-option-color" style="background-color: #{menuTheme.color};"/>
                                            <ui:fragment rendered="#{menuTheme.file eq webPreferences.menuTheme}">
                                                <span class="layout-config-option-check-mask">
                                                    <i class="pi pi-check"/>
                                                </span>
                                            </ui:fragment>
                                        </p:commandLink>
                                    </div>
                                </ui:repeat>
                            </div>
                        </p:outputPanel>
                    </p:tab>

                    <ui:remove> +++++++++++++ Topbar +++++++++++++++ </ui:remove>
                    <p:tab title="Topbar">
                        <p:outputPanel id="topbarthemes-panel">
                            <div class="grid">
                                <ui:repeat value="#{webPreferences.topbarThemes}" var="topbarTheme">
                                    <div class="col lg:col-2 col-fixed">
                                        <p:commandLink styleClass="layout-config-option"
                                                       actionListener="#{webPreferences.setTopbarTheme(topbarTheme.file)}"
                                                       update=":config-form:config-form-tabs:topbarthemes-panel logolink :config-form:config-form-tabs:layout-config-palette"
                                                       onstart="PrimeFaces.PandoraConfigurator.beforeResourceChange()"
                                                       oncomplete="PrimeFaces.PandoraConfigurator.changeSectionTheme('#{topbarTheme.file}', 'layout-topbar')">
                                            <span class="layout-config-option-color" style="background-color: #{topbarTheme.color};"/>
                                            <ui:fragment rendered="#{topbarTheme.file eq webPreferences.topbarTheme}">
                                                <span class="layout-config-option-check-mask">
                                                    <i class="pi pi-check"/>
                                                </span>
                                            </ui:fragment>
                                        </p:commandLink>
                                    </div>
                                </ui:repeat>
                            </div>
                        </p:outputPanel>
                    </p:tab>

                    <ui:remove> +++++++++++++ Components +++++++++++++++ </ui:remove>
                    <p:tab title="Components">
                        <div class="layout-config-subtitle">Input Style</div>
                        <p:selectOneRadio value="#{webPreferences.inputStyle}" layout="responsive" columns="1"
                                          onchange="PrimeFaces.PandoraConfigurator.updateInputStyle(event.target.value)">
                            <f:selectItem itemLabel="Outlined" itemValue="outlined"/>
                            <f:selectItem itemLabel="Filled" itemValue="filled"/>
                            <p:ajax/>
                        </p:selectOneRadio>

                        <div class="layout-config-subtitle">Theme</div>
                        <p:outputPanel id="componentthemes-panel">
                            <div class="grid">
                                <ui:repeat value="#{webPreferences.componentThemes}" var="componentTheme">
                                    <div class="col lg:col-2 col-fixed">
                                        <p:commandLink styleClass="layout-config-option"
                                                       actionListener="#{webPreferences.setComponentTheme(componentTheme.file)}"
                                                       update=":config-form:config-form-tabs:componentthemes-panel :config-form:config-form-tabs:layout-config-palette"
                                                       onstart="PrimeFaces.PandoraConfigurator.beforeResourceChange()"
                                                       oncomplete="PrimeFaces.PandoraConfigurator.changeComponentsTheme('#{componentTheme.file}')">
                                            <span class="layout-config-option-color" style="background-color:#{componentTheme.color}" title="#{componentTheme.name}"/>
                                            <ui:fragment rendered="#{componentTheme.file eq webPreferences.componentTheme}">
                                                <span class="layout-config-option-check-mask">
                                                    <i class="pi pi-check"/>
                                                </span>
                                            </ui:fragment>
                                        </p:commandLink>
                                    </div>
                                </ui:repeat>
                            </div>
                        </p:outputPanel>
                    </p:tab>
                </p:tabView>
            </h:form>
        </div>
    </div>
</ui:composition>