<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="jakarta.faces.facelets"
                xmlns:p="http://primefaces.org/ui">

    <div class="layout-footer">
        <p:graphicImage name="images/logo-footer.svg" library="pandora-layout"/>
        <div class="social-icons">
            <a><i class="pi pi-github"/></a>
            <a><i class="pi pi-facebook"/></a>
            <a><i class="pi pi-twitter"/></a>
        </div>
    </div>
</ui:composition>