<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="jakarta.faces.facelets">

    <div class="layout-breadcrumb">
        <div class="breadcrumb">
            <div class="breadcrumb-icon">
                <i class="pi pi-sitemap"/>
            </div>
            <div class="route-bar-breadcrumb">
                <ui:insert name="viewname" />
            </div>
        </div>
        <div class="status">
            <span>System Status</span>
            <div class="status-circle">
                <i class="pi pi-circle-on"/>
                <span class="tooltip tooltip-1">CPU</span>
            </div>
            <div class="status-circle">
                <i class="pi pi-circle-on"/>
                <span class="tooltip tooltip-2">GPU</span>
            </div>
            <div class="status-circle">
                <i class="pi pi-circle-on"/>
                <span class="tooltip tooltip-3">SSD</span>
            </div>
        </div>
    </div>

</ui:composition>