<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="jakarta.faces.html"
                xmlns:ui="jakarta.faces.facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
                     widgetVar="mainConfirmDialog" header="Confirm Action"
                     message="Confirm you action?." responsive="true">

        <h:panelGroup layout="block" styleClass="center" style="margin-top:10px;">
            <p:commandButton value="No"
                             type="button"
                             styleClass="ui-confirmdialog-no ui-button-danger"
                             style="margin-right:15px;"
                             icon="pi pi-times">
            </p:commandButton>
            <p:commandButton value="Yes" type="button"
                             styleClass="ui-confirmdialog-yes"
                             icon="pi pi-check">
            </p:commandButton>
        </h:panelGroup>
    </p:confirmDialog>
</ui:composition>