<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="jakarta.faces.html"
      xmlns:f="jakarta.faces.core"
      xmlns:ui="jakarta.faces.facelets"
      lang="en">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title><ui:insert name="title">PrimeFaces Pandora</ui:insert></title>

        <h:outputScript name="js/layout-min.js" library="pandora-layout" />
        <h:outputScript name="js/prism.js" library="pandora-layout"/>
        <h:outputScript name="js/primefaces-locale-th.js" rendered="#{webPreferences.langThai}" />
        <ui:insert name="head"/>
    </h:head>

    <h:body styleClass="#{webPreferences.inputStyleClass}">
        <div class="layout-wrapper #{webPreferences.layoutConfig}" >
         
            <ui:include src="inc-rightpanel.xhtml"/>
            <ui:include src="inc-menu.xhtml"/>

            <div class="layout-main">
                <ui:include src="inc-topbar.xhtml"/>
                <ui:include src="inc-breadcrumb.xhtml" />

                <div class="layout-content">
                    <ui:include src="inc-ajax-status.xhtml" />
                    <ui:include src="inc-confirm-dialog.xhtml" />
                    <ui:insert name="content"/>
                </div>

                <ui:include src="inc-config.xhtml" />
                <ui:include src="inc-footer.xhtml"/>
            </div>
        </div>

        <h:outputStylesheet name="css/primeicons.css" library="pandora-layout"/>
        <h:outputStylesheet name="css/primeflex.min.css" library="pandora-layout"/>
        <h:outputStylesheet name="css/#{webPreferences.layout}.css" library="pandora-layout" />

        <h:outputStylesheet name="css/style-font.css" />
        <h:outputStylesheet name="css/style.css" />
        <h:outputStylesheet name="css/style-resp.css" />
    </h:body>

</html>