<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="jakarta.faces.html"
                xmlns:ui="jakarta.faces.facelets"
                xmlns:p="http://primefaces.org/ui" >

    <div class="layout-topbar">
        <div class="layout-topbar-wrapper">
            <div class="layout-topbar-left">
                <div class="menu-button">
                    <i class="pi pi-bars"/>
                </div>
                <h:link id="logolink" class="layout-topbar-logo">
                    <p:graphicImage name="images/#{webPreferences.darkLogo ? 'logo.svg' : 'logo.svg'}" width="125" height="55">
                    </p:graphicImage>
                </h:link>
            </div>
            <div class="layout-topbar-right">
                <ui:insert name="activeMenu" />
            </div>
            <a href="#" class="layout-rightpanel-button">
                <p:graphicImage name="images/icons/user.svg" />
            </a>
        </div>
    </div>

</ui:composition>