<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="jakarta.faces.html"
                xmlns:ui="jakarta.faces.facelets"
                xmlns:p="http://primefaces.org/ui">

    <div class="layout-footer">
        <p:graphicImage name="images/logo.svg"/>
        <h:panelGroup layout="block" styleClass="social-icons" rendered="true">
            <h:outputText value="#{msg['msg.app.copyright']}" />
        </h:panelGroup>
    </div>
</ui:composition>