<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="jakarta.faces.html"
                xmlns:po="http://primefaces.org/pandora"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="jakarta.faces.facelets">

    <div class="menu-wrapper">
        <div class="layout-menu-container">
            <h:form id="menuform">
                <po:menu widgetVar="PandoraMenuWidget">
                    <p:submenu id="m_dashboard" label="Dashboard" icon="pi pi-fw pi-home">
                        <p:menuitem value="Dashboard" icon="pi pi-fw pi-money-bill"
                                    global="false">
                        </p:menuitem>
                    </p:submenu>
                    <p:submenu id="m_system" label="System Setting" icon="fa-solid fa-sliders">
                        <p:menuitem value="System Info"
                                    action="#{menuCtrl.changePageAction('SYSTEM_INFO')}"
                                    icon="fa-solid fa-user-gear"
                                    global="false">
                        </p:menuitem>
                    </p:submenu>
                    <p:submenu label="Demo Page" icon="fa-regular fa-rectangle-list">
                        <p:menuitem value="Input Form"
                                    action="#{menuCtrl.changePageAction('DEMO_FORM')}"
                                    icon="fa-brands fa-wpforms"
                                    global="false">
                        </p:menuitem>
                        <p:menuitem value="Form Layout"
                                    action="#{menuCtrl.changePageAction('DEMO_FORM_LAYOUT')}"
                                    icon="fa-brands fa-wpforms"
                                    global="false">
                        </p:menuitem>
                        <p:menuitem value="Table Data"
                                    action="#{menuCtrl.changePageAction('DEMO_FORM_TABLE')}"
                                    icon="fa-solid fa-table-list"
                                    global="false">
                        </p:menuitem>
                    </p:submenu>
                </po:menu>
            </h:form>
        </div>
    </div>

</ui:composition>