<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="jakarta.faces.facelets"
                xmlns:p="http://primefaces.org/ui">

    <div class="layout-rightpanel">
        <div class="rightpanel-wrapper">
            <div class="rightpanel-header">
                <div class="cover">
                    <p:graphicImage name="images/rightpanel/asset-cover_02.jpg" styleClass="cover-image"
                                    library="pandora-layout"/>
                    <p:graphicImage name="images/icons/user.svg" styleClass="avatar-image"/>
                </div>
                <div class="profile-info">
                    <h4>#{userInfo.firstName}</h4>
                    <span>#{userInfo.lastAccess}</span>
                    <span class="status">ONLINE</span>
                    <p:divider />
                    <div class="center">
                        <p:commandLink>
                            <i class="pi pi-sign-out"> </i> #{msg['login.logout']}
                        </p:commandLink>
                    </div>
                </div>
            </div>
            <div class="rightpanel-graph">

            </div>
        </div>
    </div>

</ui:composition>