<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="jakarta.faces.facelets"
                xmlns:p="http://primefaces.org/ui">
    <div>
        <p:skeleton height="2rem" class="p-mb-2" borderRadius="16px"/>
        <p:skeleton width="10rem" class="p-mb-2" borderRadius="16px"/>
        <p:skeleton width="5rem" borderRadius="16px" class="p-mb-2"/>
        <p:skeleton height="2rem" class="p-mb-2" borderRadius="16px"/>
        <div class="p-d-flex p-jc-between p-mt-3">
            <p:skeleton width="10rem" height="3rem" borderRadius="16px"/>
            <p:skeleton width="10rem" height="3rem" borderRadius="16px"/>
        </div>
    </div>
</ui:composition>