<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="jakarta.faces.facelets"
				xmlns:p="http://primefaces.org/ui">
	<div class="form-skeleton p-p-4">
		<div class="p-d-flex p-mb-3">
			<p:skeleton shape="circle" size="4rem" class="p-mr-2" />
			<div>
				<p:skeleton width="10rem" class="p-mb-2" />
				<p:skeleton width="5rem" class="p-mb-2" />
				<p:skeleton height=".5rem" />
			</div>
		</div>
		<p:skeleton width="100%" height="150px" />
		<div class="p-d-flex p-jc-between p-mt-3">
			<p:skeleton width="4rem" height="2rem" />
			<p:skeleton width="4rem" height="2rem" />
		</div>
		
		<ul class="p-m-0 p-p-0">
			<li class="p-mb-3">
				<div class="p-d-flex">
					<p:skeleton shape="circle" size="4rem" class="p-mr-2" />
					<div style="flex: 1">
						<p:skeleton width="100%" class="p-mb-2" />
						<p:skeleton width="75%" />
					</div>
				</div>
			</li>
			<li class="p-mb-3">
				<div class="p-d-flex">
					<p:skeleton shape="circle" size="4rem" class="p-mr-2" />
					<div style="flex: 1">
						<p:skeleton width="100%" class="p-mb-2" />
						<p:skeleton width="75%" />
					</div>
				</div>
			</li>
		</ul>
	</div>
</ui:composition>