<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="jakarta.faces.facelets"
				xmlns:p="http://primefaces.org/ui">
	<div>
		<p:dataTable var="item" value="#{skeletonCtrl.popupItems}">
			<p:columns value="#{skeletonCtrl.columns}" var="column" headerText="  ">
				<p:skeleton />
			</p:columns>
		</p:dataTable>
	</div>
</ui:composition>