<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="jakarta.faces.facelets"
				xmlns:p="http://primefaces.org/ui">

	<style>
		.custom-skeleton {
			border-radius: 4px;
		}
		.custom-skeleton>ul {
			list-style: none;
		}
	</style>

	<div class="custom-skeleton p-4">
		<ul class="m-0 p-0">
			<li class="mb-3">
				<div class="flex">
					<p:skeleton shape="circle" size="4rem" class="mr-2"/>
					<div style="flex: 1">
						<p:skeleton width="100%" class="mb-2"/>
						<p:skeleton width="75%"/>
					</div>
				</div>
			</li>
			<li class="mb-3">
				<div class="flex">
					<p:skeleton shape="circle" size="4rem" class="mr-2"/>
					<div style="flex: 1">
						<p:skeleton width="100%" class="mb-2"/>
						<p:skeleton width="75%"/>
					</div>
				</div>
			</li>
			<li class="mb-3">
				<div class="flex">
					<p:skeleton shape="circle" size="4rem" class="mr-2"/>
					<div style="flex: 1">
						<p:skeleton width="100%" class="mb-2"/>
						<p:skeleton width="75%"/>
					</div>
				</div>
			</li>
			<li class="mb-3">
				<div class="flex">
					<p:skeleton shape="circle" size="4rem" class="mr-2"/>
					<div style="flex: 1">
						<p:skeleton width="100%" class="mb-2"/>
						<p:skeleton width="75%"/>
					</div>
				</div>
			</li>
			<li>
				<div class="flex">
					<p:skeleton shape="circle" size="4rem" class="mr-2"/>
					<div style="flex: 1">
						<p:skeleton width="100%" class="mb-2"/>
						<p:skeleton width="75%"/>
					</div>
				</div>
			</li>
		</ul>
	</div>
</ui:composition>