html {
	font-family: Sarabun !important;
}
body {
	padding: 0px !important;
	background-color: #EEF2F6;
	font-family: Sarabun !important;
	font-size: 16px;
	font-weight: 250;
}
body .ui-widget {
    font-family: Sarabun;
    font-size: 15px;
}
body table a {
    color: #000 !important;
    text-decoration: underline;
}
table a {
	color: #000 !important;
    text-decoration: underline !important;
}
.ui-tabs-panel {
	height: 99% !important;
}
.select-auto {
	width: 99% !important;
}
.topbar-logo {
	height: 50px;
}
.center {
	text-align: center !important;
}
.left {
	text-align: left !important;
}
.right {
	text-align: right !important;
}

.label {
	font-weight: bold;
}

pre {
	padding: 5px;
	margin: 5px;
}

.string {
	color: green;
}

.number {
	color: darkorange;
}

.boolean {
	color: blue;
}

.null {
	color: magenta;
}

.key {
	color: #ff4d4d;
}

.ajax-status-centered {
	width:80px;
	height:80px;
  	position: fixed;
  	top: 50% !important;
  	left: 50% !important;
  	transform: translate(-50%, -50%) !important;
  	z-index: 996 !important;
}
.ajax-status-icon {
	font-size: 8em !important;
	color: rgb(249, 61, 6) !important;
}

.dashboard .global-sales table thead th {
	border-bottom: 1px solid #b1b1b1 !important;
}

.form-right {
	text-align: right !important;
	font-weight: bold !important;
}

.font-red {
	color: #ff0000 !important;
}
.font-blue {
	color: #007bff !important;
}
.font-error {
	color: #ff0000 !important;
	font-size: 1.5em !important;
}
.ui-layout-unit {
    position: absolute;
    top: 100px !important;
    height: 865px !important;
}
.single-line {
    text-wrap:none;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.table-button {
	padding: 2px !important;
}
.dashboard .global-sales table tbody tr td {
    padding: 7px 5px !important;
}
.ui-inputswitch {
	border: 1px solid #808080 !important;
	border-radius: 3px !important;
}
.label-name {
	font-weight: bold !important;
}
.json-textarea {
	overflow-y: scroll !important;
	resize: none !important;
	height: 640px !important;
}

.status-badge {
	border-radius: 16px;
	padding: 0.7em 0.7em !important;
	font-weight: 700;
	font-size: 14px;
}
.button-full {
	width: 98% !important;
}
.block-home {
	height: 250px !important;
}

.btn-link {
	height: 40px !important;
	font-size:20px !important;
	padding: 4px 12px !important;
}
.top-bar {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.btn-link-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}

.table-form {
	width: 100% !important;
	margin: 0px auto;
	border-spacing: 2px;
	border-collapse: separate;
}
.image-round{
	border-radius: 4px !important;
}
.event-media {
	height: auto;	
}

body .ui-button, .ui-button {
	padding: 0px 15px 0px 15px;
}

/* +++++++++++++++ form +++++++++++++++ */
.form-checkbox-margin {
	margin-top: 10px;
}
.form-slider {
	margin-top: 15px;
}
.form-selectoneradio-table {
	text-align: left;
	float: left !important;
}
.ui-fluid .ui-autocomplete, .ui-fluid .ui-autocomplete-input {
    width: 100%;
}
.ui-fluid .ui-autocomplete-input {
    width: calc(100% - 2.457rem) !important;
}
body .ui-fluid .ui-autocomplete-multiple-container.ui-autocomplete-dd-multiple-container {
    width: calc(100% - 2.457rem) !important;
}
body .ui-autocomplete .ui-autocomplete-dropdown {
    position: absolute;
}
body .ui-input-icon-left > i, body .ui-input-icon-right > i {
    margin-top: -0.5rem;
    margin-right: 0.75rem;
}

/* +++++++++++++++ menu +++++++++++++++ */
.layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul {
	left: auto;
}
.layout-wrapper .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions .topbar-item.notifications > ul > li > .menu-text i {
    margin-top: 5px;
}
.layout-rightpanel .rightpanel-wrapper .rightpanel-graph .graph-content .graph-wrapper {
	font-size: 0.98rem;
}
.graph-item:nth-child(1), .graph-item:nth-child(2), .graph-item:nth-child(3), .graph-item:nth-child(4) {
	text-align: center;
}
.layout-rightpanel .rightpanel-wrapper .rightpanel-graph .graph-content > ul > li {
    cursor: default;
}

.profile-info ul.no-bullets {
	list-style-type: none;
	padding: 5px;
}
.profile-info ul.no-bullets li {
	padding-top: 5px;
	font-size: 1.7rem;
}
.profile-info ul.no-bullets li a:active, .profile-info ul.no-bullets li a:hover{
	text-decoration: none;
}
.profile-info i.icon {
	font-size: 1.4rem;
}

/* +++++++++++++++ button +++++++++++++++ */
.button-right {
	text-align: right !important;
	padding-right: 10px;
}
.ui-stack {
	position: fixed;
	bottom: 10px;
	left: 20px;
	z-index: -1px;
}
.profile-icon {
	border: 0 none;
	height: 24px; 
	min-width: 24px; 
	width: 24px;
}
.fileUpload-button {
	width: 100% !important;
}
.fileUpload-button div.ui-button, .fileUpload-button span.ui-button {
	width: 98% !important;
}

/* +++++++++++++++ Table +++++++++++++++ */
.ui-datatable table thead, .ui-datatable table tr {
	border-top-left-radius: 4px !important;
	border-top-right-radius: 4px !important;
}
.ui-datatable-empty-message {
	text-align: center !important;
	font-weight: bold;
	color: #e74c3c !important;
}
table.ui-selectonemenu-table {
    border-collapse: collapse;
    width: 100% !important;
}
table.ui-selectonemenu-table td {
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}

body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-selectonemenu-row > td {
    text-wrap:none !important;
    white-space:nowrap !important;
    overflow:hidden !important;
    text-overflow:ellipsis !important;
}

/* +++++++++++++++ Tabs +++++++++++++++ */
body .ui-tabs .ui-tabs-navscroller > .ui-tabs-nav li.ui-state-active {
    border-bottom: 3px solid #21B5AD;
}
.ui-tabs .ui-tabs-navscroller.ui-tabs-navscroller-btn-hidden {
    border-bottom: 2px solid #dee2e6;
}
body .ui-tabs .ui-tabs-navscroller {
    border-bottom: 2px solid #dee2e6;
}
/* +++++++++++++++ Card +++++++++++++++ */
.card {
    border-radius: 4px;
    padding-top: 25px !important;
    box-sizing: border-box;
}
.card-not-content {
	border-radius: 4px;
}
.card-not-content div.ui-card-body, .card-not-content div.ui-card-content {
	padding: 0px;
}
.block-image {
	width: 99% !important;
	margin-left: 0px;
	border-radius: 4px !important;
	margin-top: 10px !important;
}
.block-file-size {
	font-size: 9px;
	color: #aeaeae !important;
}
.block-period {
	width: 99% !important;
	margin-left: 1px;
	padding:15px 5px 5px 5px !important;
	background-color: #f3f3f3;
	border-color: #f3f3f3;
	border-radius: 4px !important;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 10px !important;
}

/* +++++++++++++++ dialog/Modal +++++++++++++++ */
.dialog-resposive {
	width: 60% !important;
}
body .ui-dialog .ui-dialog-titlebar {
	color: #FFFFFF;
	border-bottom: 1px solid #2da888;
	background-color: #2da888 !important;
	border-color: #2da888 !important;
	padding: 1.2rem;
}
body .ui-dialog .ui-dialog-content {
    padding: 1.5rem 1.5rem 2rem 1.5rem;
}
body .ui-dialog.ui-confirm-dialog .ui-dialog-content {
    padding: 1.5rem 1.5rem 2rem 1.5rem;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
	background: transparent;
	color: #FFFFFF;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon:hover {
	background: transparent;
	color: #FFFFFF;
}

/** +++++++++++++++++++++ file icon ++++++++++++++++++++++ */
.file-doc-file {
	color: #c0c0c0 !important;
	font-size: 3.14em !important;
}
.file-doc-excel {
	color: #00ae57 !important;
	font-size: 3.14em !important;
}
.file-doc-pdf {
	color: #ff0000 !important;
	font-size: 3.14em !important;
}
.file-doc-word {
	color: #007bff !important;
	font-size: 3.14em !important;
}
.file-doc-powerpoint {
	color: #D35400 !important;
	font-size: 3.14em !important;
}
.file-doc-image {
	color: #c0c0c0 !important;
	font-size: 3.14em !important;
}
.yellow {
	color: #FAFA00 !important;
}
.red {
	color: #e74c3c !important;
}
.green {
	color: #27ae60 !important;
}
.orange {
  color: #fd7e14 !important;
}

.yellow {
  color: #FAFA00 !important;
}
.sky {
  color: #000000 !important;
}

/** +++++++++++++++++++++ font icon ++++++++++++++++++++++ */
.fa-square {
	color: #00ae57 !important;
}
.fa-red {
	color: #ff0000 !important;
}
.fa-blue {
	color: #007bff !important;
}
.fa-green {
	color: #00ae57 !important;
}
.fa-orange {
	color: #D35400 !important;
}
.fa-yellow {
	color: #fbfb00 !important;
}
.fa-05x {
    font-size: 1.5em !important;
}
.fa-1x {
    font-size: 2.0em !important;
}
.fa-2x {
    font-size: 2.35em !important;
}
.fa-3x {
    font-size: 3.14em !important;
}

.layout-footer {
	padding: 15px 24px;
}