body {
	font-family: Sarabun !important;
	background-color: #fcf6f0;
	margin: 0px !important;
	padding: 0px !important;
	font-size: 16px;
}
body .ui-widget {
    font-family: Sarabun !important;
    font-size: 16px;
}
body .ui-button {
	padding-top: 4px;
	padding-bottom: 4px;
}
body .ui-tag {
    background: none;
    color: #000 !important;
    font-size: 16px;
    font-weight: 700;
}
body .ui-inputfield {
    padding: 0.75rem 0.75rem;
    outline: 0 none;
    font-size: 16px;
}
body .ui-commandlink {
	height: 43px;
}
body .ui-message {
	margin: 0 5px 0px 0px;
	padding: 0.5rem 0px 0.5rem 0px;
	width: 100%;
}

.p-field {
    margin-bottom: 0.5rem;
}
.fa-icon {
    font-size: 1.5em !important;
}
a.facebook {
	color: #FFF !important;
	padding-top: 0.7rem !important;
}
a.facebook i {
	padding-right: 5px !important;
}
a.google {
	color: #0288D1 !important;
	padding-top: 0.7rem !important;
}
.google-logo {
	background: url("#{resource['images/icons/google.svg']}") no-repeat left !important;
	height: 25px;
	padding-left: 30px;
}
a.sso {
	color: #21B5AD !important;
	padding-top: 0.7rem !important;
}
.sso-logo {
	background: url("#{resource['images/icons/sso.png']}") no-repeat left !important;
	height: 25px;
	padding-left: 30px;
}

a {
	padding-top: 8px;
	padding-bottom: 8px;
}
a, a:active, a:hover {
    text-decoration: none;  
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.card {
    padding: 7px 0px 0px 7px;
}

.login-body .login-topbar {
	height: 65px;
	color: #FFF;
	padding: 0px !important;
	background-color: #2da888 !important;
	border-color: #2da888 !important;
}
.login-body {
	height: auto !important;
}
.login-body .login-form {
	margin-top:3%;
	flex: 1 0 auto;
	padding: 2em 8em 2em 10em;
}
.login-image {
    overflow: hidden;
    background-image: url("#{resource['images/login-cover.svg']}");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.login-logo-bg {
	width: 160px;
	height: 100%;
	border-radius: 100px;
	background-color: #fff;
	margin-left: -50px;
}
.login-logo {
	padding: 8px 10px 10px 25px;
	margin: 0px 10px;
	margin-left: 20px;
}
.login-logo img {
	width: 90px;
	height: 50px;
}
.app-title {
	padding-left: 20px;
	font-size: 20px;
	font-weight: 250;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #fff;
}
.login_title {
    font-family: Sarabun;
    font-size: 20px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    line-height: normal;
    letter-spacing: .43px;
    color: #464646;
}
.p-grid {
    margin-right:0px !important;
    margin-left: 0px !important;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
	body {
		font-size: 14px;
	}
	body .ui-widget {
	    font-size: 14px;
	}
	body .ui-button {
		padding-top: 2px;
		padding-bottom: 2px;
	}
	body .ui-tag {
	    font-size: 14px;
	}
	body .ui-inputfield {
	    padding: 0.7rem 0.7rem;
	}
	.login-body .login-topbar {
		height: 45px;
	}	
	.login-body .login-wrapper {
	    min-height: calc(100% - 45px);
	}
	.login-logo-bg {
		width: 110px;
		height: 100%;
		border-radius: 110px;
		background-color: #fff;
		margin-left: -40px;
	}
	.login-logo {
		padding: 7px 7px 7px 15px;
		margin: 0px 10px;
		margin-left: 20px;
	}
	.login-logo img {
		width: 70px;
		height: 35px;
	}
	.app-title {
		padding-left: 5px;
		font-size: 13px;
	}
	.login-body .login-form {
		margin-top:1%;
		flex: 1 0 auto;
		padding: 1em;
	}	
	.login-image {
	    display: none !important;
	}
	.card {
	    padding: 20px;
	}
}