<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:h="jakarta.faces.html"
				xmlns:ui="jakarta.faces.facelets"
				xmlns:p="http://primefaces.org/ui"
				template="/templates/template.xhtml">

	<ui:define name="viewname">
		Dashboard
	</ui:define>
	<ui:define name="content">
		<h:form id="sysForm" prependId="false">
			<p:tabView id="tabView">
				<p:tab title="Demo" id="tabLog">
					<p:commandButton value="View Log" >
					</p:commandButton>
					<p:spacer width="10" />
					<p:commandButton value="View Input File" >
					</p:commandButton>
					<p:spacer width="10" />
					<p:commandButton value="Jobs Dependency">
					</p:commandButton>
				</p:tab>
				<p:tab title="Servlet Container" id="tabServletContainer">
					<p:commandButton value="Keep Enabled" action="#{demoCtrl.clickAction()}" update="@this">
					</p:commandButton>
				</p:tab>
				<p:tab title="Form Container" id="tabForm">
					<p:datePicker value="#{demoCtrl.form.date}"
								  showIcon="true"
								  monthNavigator="true"
								  yearNavigator="true"
								  pattern="#{demoCtrl.datePattern}"
								  locale="#{demoCtrl.locale}">
					</p:datePicker>
				</p:tab>
			</p:tabView>
		</h:form>
	</ui:define>
</ui:composition>