<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="jakarta.faces.html"
                xmlns:ui="jakarta.faces.facelets"
				xmlns:p="http://primefaces.org/ui"
                template="/templates/template.xhtml">

    <ui:define name="viewname">
        Dashboard
    </ui:define>
    <ui:define name="content">
        <h:form id="sysForm" prependId="false">
			<div class="grid">
				<div class="col-12 md:col-12 w-full">
					<h:panelGroup id="infographicLayout" layout="block" styleClass="text-center p-0 m-0 w-full h-full">
						<h:outputText value="#{svgCtrl.svgData}"
									  escape="false"
									  rendered="#{not empty svgCtrl.svgData}">
						</h:outputText>
					</h:panelGroup>
				</div>
				<div class="col-12 md:col-12 mt-3">
					<p:commandButton type="button"
									 value="Export (PDF)"
									 onclick="exportPdfAction();"
									 immediate="true"
									 icon="fa-regular fa-file-pdf">
					</p:commandButton>
					<p:commandButton type="button"
									 value="Export (PNG)"
									 onclick="exportImageAction()"
									 immediate="true"
									 icon="fa-regular fa-file-pdf" styleClass="ml-3">
					</p:commandButton>
				</div>
			</div>
        </h:form>
		<script type="text/javascript">
			//<![CDATA[
			function exportImageAction() {
				html2canvas(document.querySelector("#infographicLayout")).then(canvas => {
					return Canvas2Image.saveAsPNG(canvas, undefined, undefined, "infographic");
				});
			}

			function exportPdfAction() {
				html2canvas(document.querySelector("#infographicLayout")).then(canvas => {
					window.jsPDF = window.jspdf.jsPDF;
					const imgData = Canvas2Image.convertToJPEGDataURL(canvas);
					const doc = new jsPDF({
						orientation: 'p',
						unit: 'mm',
						format: 'a4'
					});
					const width = doc.internal.pageSize.getWidth();
					const height = doc.internal.pageSize.getHeight();
					console.log("PDF Page width:" + width + ", height:" + height);

					doc.addImage(imgData, "JPEG", 0, 0, width, height);
					//doc.addImage(imgData, "JPEG", 0, 0);
					doc.save("infographic.pdf");
				});
			}
			//]]>
		</script>
    </ui:define>
</ui:composition>