html {
    font-family: Sarabun, sans-serif !important;
}
body {
    padding: 0 !important;
    background-color: #EEF2F6;
    font-family: Sarabun, sans-serif !important;
    font-size: 16px;
    font-weight: 250;
}
body .ui-widget {
    font-family: Sarabun, sans-serif !important;
    font-size: 16px;
}
.layout-main .layout-content {
    padding: 1em !important;
}
.ajax-status-centered {
    width:80px;
    height:80px;
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 996 !important;
}
.ajax-status-icon {
    font-size: 8em !important;
    color: rgb(249, 61, 6) !important;
}
.ajax-status-content {
    background: transparent !important;
}
.layout-footer {
    padding: 10px 20px !important;
}