<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="jakarta.faces.html"
      xmlns:f="jakarta.faces.core"
      xmlns:p="http://primefaces.org/ui"
      lang="en">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon.ico']}" />
    </f:facet>
    <title>#{msg['login.title']}</title>
    <h:outputScript name="js/layout.js" library="avalon-layout" />
</h:head>

<h:body styleClass="login-body">
    <div class="login-image"> </div>
    <div class="card login-panel ui-fluid">
        <div class="login-panel-content">
            <h:form id="sysForm" prependId="false">
                <h:inputHidden id="screenWidth" value="#{loginCtrl.screenWidth}" />
                <h:inputHidden id="screenHeight" value="#{loginCtrl.screenHeight}" />

                <div class="grid">
                    <div class="col-3" style="text-align:left;">
                        <p:graphicImage name="images/login/icon-login.svg" library="avalon-layout" />
                    </div>
                    <div class="col-9" style="text-align:left;">
                        <h2 class="welcome-text">#{msg['login.header']}</h2>
                        <span class="guest-sign-in">#{msg['login.sub.header']}</span>
                    </div>
                    <div class="col-12" style="text-align:left;">
                        <h:panelGroup>
                            <label class="login-label">#{msg['login.username']}</label>
                            <div class="login-input">
                                <p:inputText value="#{loginCtrl.username}"
                                             placeholder="#{msg['login.username.placeholder']}"
                                             label="#{msg['login.username']}" required="true">
                                </p:inputText>
                            </div>
                        </h:panelGroup>
                    </div>
                    <div class="col-12" style="text-align:left;">
                        <h:panelGroup>
                            <label class="login-label">#{msg['login.password']}</label>
                            <div class="login-input">
                                <p:password value="#{loginCtrl.password}"
                                            placeholder="#{msg['login.password.placeholder']}"
                                            label="#{msg['login.password']}" required="true">
                                </p:password>
                            </div>
                        </h:panelGroup>
                    </div>
                    <div class="col-12 md:col-6 button-pane">
                        <p:commandButton value="SIGN IN"
                                         icon="fa-solid fa-user-shield"
                                         action="#{loginCtrl.loginAction()}"
                                         update="@form">
                        </p:commandButton>
                    </div>
                </div>
            </h:form>
        </div>
    </div>
    <h:outputStylesheet name="css/style-font.css"/>
    <h:outputStylesheet name="primeflex/3.3.1/primeflex.min.css" library="webjars"/>
    <h:outputStylesheet name="css/layout-#{webPreferences.theme}.css" library="avalon-layout" />
    <h:outputStylesheet name="css/style.css"/>
    <h:outputStylesheet name="css/style-resp.css"/>

    <script type="text/javascript">
        $(function(){
            const screenWidth = $(document).width();
            const screenHeight = $(document).height();
            console.log("screenWidth:" + screenWidth + " screenHeight:" + screenHeight);
            $("#screenWidth").val(screenWidth);
            $("#screenHeight").val(screenHeight);
        });
    </script>
</h:body>

</html>