<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="jakarta.faces.html"
                xmlns:f="jakarta.faces.core"
                xmlns:ui="jakarta.faces.facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/template.xhtml">

    <ui:define name="head">
        <h:outputStylesheet name="css/flag-icons.css" library="flag-icons"/>
    </ui:define>

    <ui:define name="title">DataTable</ui:define>

    <ui:define name="content">
        <h:form id="form">
            <div class="grid table-demo">
                <div class="col-12">
                    <div class="card">
                        <h5>Default</h5>
                        <p>Pagination, sorting, filtering and checkbox selection.</p>
                        <p:dataTable widgetVar="customersDT" var="customer"
                                     value="#{demoCtrl.customers1}" reflow="true"
                                     selection="#{demoCtrl.selectedCustomers}"
                                     selectionPageOnly="false"
                                     selectionRowMode="none"
                                     rowKey="#{customer.id}"
                                     globalFilterOnly="true"
                                     filteredValue="#{demoCtrl.filteredCustomers1}"
                                     globalFilterFunction="#{demoCtrl.globalFilterFunction}"
                                     paginator="true" rows="10"
                                     paginatorPosition="bottom"
                                     rowsPerPageTemplate="#{systemCtrl.rowPerPage}">

                            <p:ajax event="page" global="false"/>
                            <p:ajax event="sort" global="false"/>
                            <p:ajax event="filter" global="false"/>

                            <f:facet name="header">
                                <div class="flex align-items-center justify-content-between">
                                    <span style="font-weight: bold">CUSTOMERS</span>
                                    <span class="ui-input-icon-left filter-container">
                                        <i class="pi pi-search"/>
                                        <p:inputText onkeyup="PF('customersDT').filter()" placeholder="Global Search" style="width: 400px;">
                                        </p:inputText>
                                    </span>
                                </div>
                            </f:facet>
                            <p:column selectionBox="true" width="50" styleClass="text-center"/>
                            <p:column headerText="Name" sortBy="#{customer.name}" filterBy="#{customer.name}" filterMatchMode="contains">
                                <h:outputText value="#{customer.name}"/>
                            </p:column>
                            <p:column headerText="Country" sortBy="#{customer.country.name}" filterBy="#{customer.country.name}">
                                <span class="fi fi-#{customer.country.code}" style="width: 30px; height: 20px"/>
                                <h:outputText style="vertical-align: middle; margin-left: .5rem" value="#{customer.country.name}"/>
                            </p:column>
                            <p:column headerText="Representative" sortBy="#{customer.representative.name}" filterBy="#{customer.representative.name}">
                                <h:outputText style="vertical-align: middle; margin-left: .5rem" value="#{customer.representative.name}"/>
                            </p:column>
                            <p:column headerText="Join Date" sortBy="#{customer.date}" filterBy="#{customer.date}">
                                <h:outputText value="#{customer.date}"/>
                            </p:column>
                            <p:column headerText="Status" sortBy="#{customer.status}" filterBy="#{customer.status}">
                                <span class="customer-badge status-#{customer.status.name().toLowerCase()}">#{customer.status}</span>
                            </p:column>
                            <p:column headerText="Activity" sortBy="#{customer.activity}" filterBy="#{customer.activity}">
                                <p:progressBar value="#{customer.activity}" displayOnly="true" style="height: .5rem"/>
                            </p:column>
                            <p:column style="width: 8rem; text-align: center;">
                                <p:commandButton icon="pi pi-cog" styleClass="ui-button-secondary" global="false" />
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card">
                        <h5>Customized</h5>
                        <p:dataTable widgetVar="customersDT2" var="customer"
                                     value="#{demoCtrl.customers2}"
                                     globalFilterOnly="true"
                                     filteredValue="#{demoCtrl.filteredCustomers2}"
                                     globalFilterFunction="#{demoCtrl.globalFilterFunction}"
                                     scrollable="true"
                                     scrollHeight="500">

                            <p:ajax event="page" global="false"/>
                            <p:ajax event="sort" global="false"/>
                            <p:ajax event="filter" global="false"/>

                            <f:facet name="header">
                                <div class="flex align-items-center justify-content-between">
                                    <span style="font-weight: bold">CUSTOMERS</span>
                                    <span class="ui-input-icon-left filter-container">
                                        <i class="pi pi-search"/>
                                        <p:inputText onkeyup="PF('customersDT2').filter()" placeholder="Search" style="width: 400px;">
                                        </p:inputText>
                                    </span>
                                </div>
                            </f:facet>
                            <p:column field="name" headerText="Name" sortBy="#{customer.name}">
                                <h:outputText value="#{customer.name}"/>
                            </p:column>
                            <p:column field="country" headerText="Country" sortBy="#{customer.country.name}">
                                <span class="fi fi-#{customer.country.code}" style="width: 30px; height: 20px"/>
                                <h:outputText style="vertical-align: middle; margin-left: .5rem" value="#{customer.country.name}"/>
                            </p:column>
                            <p:column field="representative" headerText="Representative" sortBy="#{customer.representative.name}">
                                <h:outputText style="vertical-align: middle; margin-left: .5rem" value="#{customer.representative.name}"/>
                            </p:column>
                            <p:column field="date" headerText="Join Date" sortBy="#{customer.date}" filterable="false">
                                <h:outputText value="#{customer.date}"/>
                            </p:column>
                            <p:column field="status" headerText="Status" sortBy="#{customer.status}" filterable="false">
                                <span class="customer-badge status-#{customer.status.name().toLowerCase()}">#{customer.status}</span>
                            </p:column>
                            <p:column field="activity" headerText="Activity" sortBy="#{customer.activity}">
                                <p:progressBar value="#{customer.activity}" displayOnly="true" style="height: .5rem"/>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card">
                        <h5>Row Group and Scrolling</h5>
                        <p:dataTable var="customer" scrollable="true"
                                     scrollHeight="600" rowKey="#{customer.id}"
                                     value="#{demoCtrl.customers1}"
                                     sortBy="#{customer.representative.name}">

                            <p:ajax event="page" global="false"/>
                            <p:ajax event="sort" global="false"/>
                            <p:ajax event="filter" global="false"/>

                            <p:headerRow field="representative.name">
                                <p:column colspan="6">
                                    <div class="inline-flex align-items-center" style="vertical-align: middle">
                                        <p:graphicImage name="images/icons/user.svg" width="32" style="vertical-align: middle">
                                        </p:graphicImage>
                                        <h:outputText styleClass="ml-2" value="#{customer.representative.name}"/>
                                    </div>
                                </p:column>
                            </p:headerRow>

                            <p:column headerText="Name">
                                <h:outputText value="#{customer.name}"/>
                            </p:column>

                            <p:column headerText="Country">
                                <span class="fi fi-#{customer.country.code}" style="width: 30px; height: 20px"/>
                                <h:outputText style="vertical-align: middle; margin-left: .5rem" value="#{customer.country.name}"/>
                            </p:column>

                            <p:column headerText="Activity">
                                <p:progressBar value="#{customer.activity}" displayOnly="true" style="height: .5rem"/>
                            </p:column>

                            <p:column headerText="Status">
                                <span class="customer-badge status-#{customer.status.name().toLowerCase()}">#{customer.status}</span>
                            </p:column>

                            <p:column headerText="Date">
                                <h:outputText value="#{customer.date}">
                                    <f:converter converterId="customDateConverter"/>
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </div>
        </h:form>

    </ui:define>

</ui:composition>