<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/pandora" 
    template="/WEB-INF/templates/template.xhtml">

    <ui:define name="title">Dashboard</ui:define>
    <ui:define name="head">
    </ui:define>

    <ui:define name="content">
        <div class="p-grid layout-dashboard">
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="overview-box messages">
                    <div class="box-text">
                        <h4>Messages</h4>
                        <span class="span-text">24 new since last visit</span>
                    </div>
                    <div class="box-image">
                        <p:graphicImage name="images/dashboard/asset-messages.svg" library="pandora-layout" />
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="overview-box logins">
                    <div class="box-text">
                        <h4>Logins</h4>
                        <span class="span-text">48 new since last visit</span>
                    </div>
                    <div class="box-image">
                        <p:graphicImage name="images/dashboard/asset-login.svg" library="pandora-layout" />
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="overview-box files">
                    <div class="box-text">
                        <h4>Files Synced</h4>
                        <span class="span-text">163,02 / 240 GB</span>
                    </div>
                    <div class="box-image">
                        <p:graphicImage name="images/dashboard/asset-filessynced.svg" library="pandora-layout" />
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="overview-box users">
                    <div class="box-text">
                        <h4>Users Online</h4>
                        <span class="span-text">72 new user this week</span>
                    </div>
                    <div class="box-image">
                        <p:graphicImage name="images/dashboard/asset-usersonline.svg" library="pandora-layout" />
                    </div>
                </div>
            </div>
            <div class="p-col-12">
                <div class="p-grid">
                    <div class="p-col-12 p-md-6">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-6">
                                <div class="card profile">
                                    <div class="profile-header">
                                        <div class="profile-image">
                                                <p:graphicImage styleClass="center" name="images/dashboard/avatar-and-info.png" library="pandora-layout" />
                                        </div>
                                        <div class="profile-info">
                                            <h4>Alex Walker</h4>
                                            <span class="span-text"><i class="pi pi-map-marker"/> Ankara, Turkey</span>
                                            <span class="span-text"><i class="pi pi-phone"/> 312-265-02-55</span>
                                        </div>
                                    </div>
                                    <div class="profile-content">
                                        <div class="profile-content-info">
                                            <div class="icon"><i class="pi pi-undo"/></div>
                                            <p>Action History</p>
                                            <i class="pi pi-angle-right"/>
                                        </div>
                                        <div class="profile-content-info">
                                            <div class="icon"><i class="pi pi-comment"/></div>
                                            <p>Messages</p>
                                            <i class="pi pi-angle-right"/>
                                        </div>
                                        <div class="profile-content-info">
                                            <div class="icon"><i class="pi pi-list"/></div>
                                            <p>Assignments</p>
                                            <i class="pi pi-angle-right"/>
                                        </div>
                                        <div class="profile-content-info">
                                            <div class="icon"><i class="pi pi-user"/></div>
                                            <p>Related Persons</p>
                                            <i class="pi pi-angle-right"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-col-12 p-md-6">
                                <div class="card stats card-w-title">
                                    <div class="card-header">
                                        <h4>Stats Overview</h4>
                                        <h:form>
                                            <p:menuButton icon="pi pi-ellipsis-v">
                                                <p:menuitem value="Save" icon="pi pi-save"/>
                                                <p:menuitem value="Update" icon="pi pi-refresh"/>
                                                <p:menuitem value="Delete" icon="pi pi-times"/>
                                            </p:menuButton>
                                        </h:form>
                                    </div>
                                    <div class="stats-content">
                                        <div class="stat">
                                            <div class="stat-title">
                                                <h6>Mirage</h6>
                                                <span class="span-text">PrimeNG</span>
                                            </div>
                                            <div class="progress-bar">
                                                <span class="progress"></span>
                                                <span class="progress-bar-background"></span>
                                            </div>
                                            <span class="span-text">55%</span>
                                        </div>
                                        <div class="stat">
                                            <div class="stat-title">
                                                <h6>Prestige</h6>
                                                <span class="span-text">PrimeVue</span>
                                            </div>
                                            <div class="progress-bar">
                                                <span class="progress"></span>
                                                <span class="progress-bar-background"></span>
                                            </div>
                                            <span class="span-text">23%</span>
                                        </div>
                                        <div class="stat">
                                            <div class="stat-title">
                                                <h6>Posedion</h6>
                                                <span class="span-text">PrimeFaces</span>
                                            </div>
                                            <div class="progress-bar">
                                                <span class="progress"></span>
                                                <span class="progress-bar-background"></span>
                                            </div>
                                            <span class="span-text">38%</span>
                                        </div>
                                        <div class="stat">
                                            <div class="stat-title">
                                                <h6>Olympia</h6>
                                                <span class="span-text">PrimeReact</span>
                                            </div>
                                            <div class="progress-bar">
                                                <span class="progress"></span>
                                                <span class="progress-bar-background"></span>
                                            </div>
                                            <span class="span-text">44%</span>
                                        </div>
                                        <div class="stat">
                                            <div class="stat-title">
                                                <h6>Ecuador</h6>
                                                <span class="span-text">PrimeFaces</span>
                                            </div>
                                            <div class="progress-bar">
                                                <span class="progress"></span>
                                                <span class="progress-bar-background"></span>
                                            </div>
                                            <span class="span-text">80%</span>
                                        </div>
                                        <div class="stat">
                                            <div class="stat-title">
                                                <h6>Icarus</h6>
                                                <span class="span-text">PrimeNG</span>
                                            </div>
                                            <div class="progress-bar">
                                                <span class="progress"></span>
                                                <span class="progress-bar-background"></span>
                                            </div>
                                            <span class="span-text">66%</span>
                                        </div>
                                        <div class="stat">
                                            <div class="stat-title">
                                                <h6>Sapphire</h6>
                                                <span class="span-text">PrimeNG</span>
                                            </div>
                                            <div class="progress-bar">
                                                <span class="progress"></span>
                                                <span class="progress-bar-background"></span>
                                            </div>
                                            <span class="span-text">21%</span>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="p-col-12">
                                <div class="card event">
                                    <div class="event-text">
                                        <h4>Meeting with Product Team</h4>
                                        <span  class="span-text">Details of phase 2 will be discussed tomorrow morning.</span>
                                    </div>
                                    <div class="event-attendees">
                                        <div class="person">
                                            <span class="span-text">MB</span>
                                        </div>
                                        <div class="person">
                                            <span class="span-text">ZG</span>
                                        </div>
                                        <div class="person">
                                            <span class="span-text">BH</span>
                                        </div>
                                        <div class="person">
                                            <span class="span-text">SI</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-col-12">
                                <div class="card event event-2">
                                    <div class="event-text">
                                        <h4>Q3 Budget Planning</h4>
                                        <span class="span-text">All executives are required to join this event.</span>
                                    </div>
                                    <div class="event-attendees">
                                        <div class="person">
                                            <span class="span-text">SS</span>
                                        </div>
                                        <div class="person">
                                            <span class="span-text">GE</span>
                                        </div>
                                        <div class="person">
                                            <span class="span-text">SI</span>
                                        </div>
                                        <div class="person">
                                            <span class="span-text">ZG</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="p-col-12 p-md-6">
                        <div class="card timeline">
                            <span class="span-text">Sunday</span>
                            <h4 class="span-text">12 January</h4>
                            <ul>
                                <li>
                                    <div class="timeline-item-left">
                                        <div class="timeline-icon">
                                            <i class="pi pi-twitter"/>
                                            <span class="span-text">12:42</span>
                                        </div>
                                        <i class="pi pi-ellipsis-v"/>
                                    </div>
                                    <div class="timeline-item-right">
                                        <span class="span-text">12/5/2021</span>
                                        <span class="span-text"><i class="pi pi-circle-on"/> TWITTER</span>
                                        <h5>Evelyn Allen</h5>
                                        <p>Earum porro tenetur consequuntur veritatis eos vel natus quisquam.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-item-left">
                                        <div class="timeline-icon">
                                            <i class="pi pi-youtube"/>
                                            <span class="span-text">12:42</span>
                                        </div>
                                        <i class="pi pi-ellipsis-v"/>
                                    </div>
                                    <div class="timeline-item-right">
                                        <span class="span-text">12/5/2021</span>
                                        <span class="span-text"><i class="pi pi-circle-on"/> YOUTUBE</span>
                                        <h5>Pavith Nadal</h5>
                                        <p>Quibusdam ratione est repellat qui nam quisquam veniam quibusdam ratione..
                                        </p>
                                        <div class="images">
                                            <p:graphicImage name="images/dashboard/posters.jpg"
                                                library="pandora-layout" />
                                            <p:graphicImage name="images/dashboard/amsterdam.jpg"
                                                library="pandora-layout" />
                                            <p:graphicImage name="images/dashboard/shape.jpg"
                                                library="pandora-layout" />
                                            <p:graphicImage name="images/dashboard/painting.jpg"
                                                library="pandora-layout" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-item-left">
                                        <div class="timeline-icon">
                                            <i class="pi pi-twitter"/>
                                            <span class="span-text">12:42</span>
                                        </div>
                                        <i class="pi pi-ellipsis-v"/>
                                    </div>
                                    <div class="timeline-item-right">
                                        <span class="span-text">12/5/2021</span>
                                        <span class="span-text"><i class="pi pi-circle-on"/> TWITTER</span>
                                        <h5>Olivia Arribas</h5>
                                        <p>Mauris malesuada quis risus ut consequat. Maecenas ornare nunc risus,
                                            pulvinar euismod mi pellentesque eget.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-item-left">
                                        <div class="timeline-icon">
                                            <i class="pi pi-facebook"/>
                                            <span class="span-text">12:42</span>
                                        </div>
                                        <i class="pi pi-ellipsis-v"/>
                                    </div>
                                    <div class="timeline-item-right">
                                        <span class="span-text">12/5/2021</span>
                                        <span class="span-text"><i class="pi pi-circle-on"/> FACEBOOK</span>
                                        <h5>Song Bao</h5>
                                        <p>Capitalize on low hanging fruit to identify a ballpark value added activity.
                                        </p>
                                        <div class="images">
                                            <p:graphicImage styleClass="landscape" name="images/dashboard/windows.jpg"
                                                library="pandora-layout" />
                                            <p:graphicImage name="images/dashboard/holland.jpg"
                                                library="pandora-layout" />
                                            <p:graphicImage name="images/dashboard/ship.jpg" library="pandora-layout" />
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="card survey">
                    <p:graphicImage name="images/dashboard/path-6.svg" library="pandora-layout" />
                    <i class="pi pi-user"/>
                    <h6>It's about the future, isn't it?</h6>
                    <span class="span-text">Kids, we're gonna have to eat this cake by ourselves, Uncle Joey didn't make parole again. I
                        think it would be nice, if you all dropped him a line.</span>
                    <p:commandButton value="Yes, it is about the future" />
                    <p:commandButton styleClass="second-button" value="No, invalid question" />
                </div>
            </div>
            <div class="p-col-12 p-md-6 ">
                <div class="card statistics">
                    <div class="statistics-header">
                        <h4>Department Statistics</h4>
                        <div class="tags">
                            <span class="span-text">LAST MONTH</span>
                            <span class="span-text">LAST WEEK</span>
                        </div>
                    </div>
                    <div class="statistics-images">
                        <div class="image image-1">
                            <h6>Design Team</h6>
                            <span class="span-text"><span>44</span> people resolved <span>9123</span> issues today</span>
                        </div>
                        <div class="image image-2">
                            <h6>Mobile Integrations</h6>
                            <span class="span-text"><span>12</span> people resolved <span>564</span> issues today </span>
                        </div>
                    </div>
                    <div class="stats">
                        <div class="stat stat-1">
                            <p:knob thickness=".2" showLabel="false" disabled="true" foregroundColor="#00acad" height="55" width="55" backgroundColor="#d8dadc" widgetVar="knob1" value="20.59"/>
                            <div class="stats-info">
                                <h4>System Changes</h4>
                                <span>20.59%</span>
                            </div>
                        </div>
                        <div class="stat stat-1">
                            <p:knob thickness=".2" showLabel="false" disabled="true" foregroundColor="#c03995" height="55" width="55"  backgroundColor="#d8dadc" widgetVar="knob2" value="68.44"/>
                            <div class="stats-info">
                                <h4>New Features</h4>
                                <span>68.44%</span>
                            </div>
                        </div>
                        <div class="stat stat-1">
                            <p:knob thickness=".2" showLabel="false" disabled="true" foregroundColor="#f3a841" height="55" width="55"  backgroundColor="#d8dadc" widgetVar="knob3" value="74.9"/>
                            <div class="stats-info">
                                <h4>Revisions</h4>
                                <span>74.9%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="card map card-w-title">
                    <div class="card-header">
                        <h4>Last Location</h4>
                        <h:form>
                            <p:menuButton icon="pi pi-ellipsis-v">
                                <p:menuitem value="Save" icon="pi pi-save"/>
                                <p:menuitem value="Update" icon="pi pi-refresh"/>
                                <p:menuitem value="Delete" icon="pi pi-times"/>
                            </p:menuButton>
                        </h:form>
                    </div>
                    <div class="map-info">
                        <span class="span-text"><i class="pi pi-clock"/> 15.13 PM EST</span>
                        <span class="span-text"><i class="pi pi-map-marker"/> Amsterdam, Netherlands</span>
                    </div>

                    <div class="pin"></div>

                </div>
            </div>
            <div class="p-col-12 p-md-6 news-row-wrapper">
                <div class="news-row news-1-active">
                    <div class="card news news-1 active-news">
                        <span class="news-header">Recent News</span>
                        <div class="news-content">
                            <div class="date">
                                <span class="span-text">Jan</span>
                                <span class="span-text">12</span>
                            </div>
                            <div class="news-text">
                                <h5>MIT scientists made a shape-shifting  material</h5>
                                <p>It morphs into a human face using 4D printing, as reported in PNAS. "4D materials" are designed to deform over time in response to changes in the environment, like humidity and temperature, also known as active origami or shape-morphing systems.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="card news news-2">
                        <span class="news-header">Recent News</span>
                        <div class="news-content">
                            <div class="date">
                                <span class="span-text">Apr</span>
                                <span class="span-text">1</span>
                            </div>
                            <div class="news-text">
                                <h5>Oceans can be restored to former glory within 30 years</h5>
                                <p>The glory of the world’s oceans could be restored within a generation, according to a major new scientific review. It reports rebounding sea life, from humpback whales off Australia to elephant seals in the US and green turtles in Japan.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="card news news-3">
                        <span class="news-header">Recent News</span>
                        <div class="news-content">
                            <div class="date">
                                <span class="span-text">Apr</span>
                                <span class="span-text">2</span>
                            </div>
                            <div class="news-text">
                                <h5>Mindfulness training might enhance cognitive control processes</h5>
                                <p>Mindfulness training might enhance cognitive control processes and the ability to overcome distractions, according to new research. The findings, published in the journal Mindfulness, suggest that meditation practices can improve the ability to focus and detect new changes in the environment.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="link-points">
                    <div class="points">
                        <div class="left-button slide-button">
                            <i class="pi pi-arrow-left"/>
                        </div>
                        <div class=" point point-1 active-point"></div>
                        <div class=" point point-2 "></div>
                        <div class=" point point-3 "></div>
                        <div class="right-button slide-button">
                            <i class="pi pi-arrow-right"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="card progress-card card-w-title">
                    <div class="card-header">
                        <h4>Progress</h4>
                        <p:selectOneMenu id="languageDropdown" >
                            <f:selectItem itemLabel="TR" itemValue="TR" />
                            <f:selectItem itemLabel="US" itemValue="US" />
                        </p:selectOneMenu>
                    </div>
                    <div class="progresses">
                        <div class="progress-item">
                            <div class="progress-title">
                                <span >Fahrenheit</span>
                                <span >489 / 961</span>
                            </div>
                           
                            <div class="progress-bar">
                                <span class="progress"></span>
                                <span class="progress-bar-background"></span>
                            </div>
                            <span><span>22</span> trophies earned</span>
                            <span><i class="pi pi-circle-on"/><span>412</span> decisions made</span>
                        </div>
                        <div class="progress-item">
                            <div class="progress-title">
                                <span >Detroit: Become Human</span>
                                <span >221 / 1404</span>
                            </div>
                          
                            <div class="progress-bar">
                                <span class="progress"></span>
                                <span class="progress-bar-background"></span>
                            </div>
                            <span><span>12</span> trophies earned</span>
                            <span><i class="pi pi-circle-on"/><span>179</span> decisions made</span>
                        </div>

                        <div class="progress-item">
                            <div class="progress-title">
                                <span >Spiderman: Homecoming</span>
                                <span >221 / 1404</span>
                            </div>
                          
                            <div class="progress-bar">
                                <span class="progress"></span>
                                <span class="progress-bar-background"></span>
                            </div>
                            <span><span>12</span> trophies earned</span>
                            <span><i class="pi pi-circle-on"/><span>179</span> decisions made</span>
                        </div>

                        <span><span class="mini-box"></span> Playstation 4</span>

                        <span><span class="mini-box box-2"></span> Nintendo Switch</span>
                    </div>                   
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="card revenue  card-w-title">
                    <div class="card-header">
                        <h4>Revenue Statistics</h4>
                        <h:form>
                            <p:menuButton icon="pi pi-ellipsis-v">
                                <p:menuitem value="Save" icon="pi pi-save"/>
                                <p:menuitem value="Update" icon="pi pi-refresh"/>
                                <p:menuitem value="Delete" icon="pi pi-times"/>
                            </p:menuButton>
                        </h:form>
                    </div>
                    <div class="revenue-content">
                        <span><span class="mini-box"></span>R:X1</span>
                        <span><span class="mini-box box-2"></span>R:X2</span>
                        <span><span class="mini-box box-3"></span>Expectation</span>
                        <p:graphicImage name="images/dashboard/asset-graph.png" library="pandora-layout" />
                    </div>
                </div>
            </div>
            
            <div class="p-col-12 p-md-6 p-lg-4">
                <div class="card tasks  card-w-title">
                    <div class="card-header">
                        <h4>Tasks</h4>
                    </div>
                    <div class="tasks-content">
                        <span class="category active">ALL</span>
                        <span class="category">MARKETING</span>
                        <span class="category">FINANCE</span>
                        <span class="category">PERSONAL</span>

                        <ul>
                            <li>
                                <div class="checkbox">
                                    <p:selectBooleanCheckbox />
                                    <p>Sales Reports</p>
                                </div>
                                <div class="tag">
                                    <span class="category">FINANCE</span>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <p:selectBooleanCheckbox />
                                    <p>Pay Invoices</p>
                                </div>
                                <div class="tag">
                                    <span class="category">FINANCE</span>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <p:selectBooleanCheckbox />
                                    <p>Dinner with Tony</p>
                                </div>
                                <div class="tag">
                                    <span class="category">PERSONAL</span>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <p:selectBooleanCheckbox />
                                    <p>Client Meeting</p>
                                </div>
                                <div class="tag">
                                    <span class="category">MARKETING</span>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <p:selectBooleanCheckbox />
                                    <p>New Theme</p>
                                </div>
                                <div class="tag">
                                    <span class="category">PERSONAL</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
                <div class="card members card-w-title">
                    <div class="card-header">
                        <h4>Add members to Pandora Network</h4>
                    </div>
                    <div class="members-content">
                        <div class="inputs">
                            <div class="emails">
                                <h4>Email Address</h4>
                                <p:inputText placeholder="name@example.com" />
                                <p:inputText placeholder="name@example.com" />
                            </div>
                            <div class="names">
                                <h4>Name</h4>
                                <p:inputText placeholder="Optional" />
                                <p:inputText placeholder="Optional" />
                            </div>
                        </div>
                        <p:commandButton styleClass="second-button" value="Add another" icon='pi pi-plus' />
                        <div class="upload-area">
                            <h4>Upload Bulk File</h4>
                            <div class="upload">
                                <i class="pi pi-upload"/>
                                <p>Drop file here or Browse</p>
                            </div>
                            
                        </div>
                        <p:commandButton value="ADD MEMBERS" />
                        
                    </div>

                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
                <div class="card messages  card-w-title">
                    <div class="card-header">
                        <h4>Messages</h4>
                    </div>
                    <div class="messages-content">
                        <ul>
                            <li>
                                <p:graphicImage name="images/dashboard/avatar-karl.png"
                                library="pandora-layout" />
                                <div class="messages-item-right new-messgae">
                                    <span>12.23</span>
                                    <span><i class="pi pi-circle-on"/> 12/5/2021</span>
                                    <span><i class="pi pi-circle-on"/> NEW</span>
                                    <h5>Karl Kalagin</h5>
                                    <p>Doc, look, all we need is a little plutonium. I need fuel.</p>
                                </div>
                            </li>
                            <li>
                                <p:graphicImage name="images/dashboard/avatar-harmen.png"
                                library="pandora-layout" />
                                <div class="messages-item-right">
                                    <span>12.29</span>
                                    <span><i class="pi pi-circle-on"/> 12/5/2021</span>
                                    <h5>Harmen Porter</h5>
                                    <p>Go ahead, quick, get in the car. Re-elect Mayor Goldie Wilson. Progress is his middle name.</p>
                                </div>
                            </li>
                            <li>
                                <p:graphicImage name="images/dashboard/avatar-emmy.png"
                                library="pandora-layout" />
                                <div class="messages-item-right">
                                    <span>12.29</span>
                                    <span><i class="pi pi-circle-on"/> 12/5/2021</span>
                                    <h5>Emmy Elsner</h5>
                                    <p>What? I'm sure that in 1985, plutonium is available at every corner drug store, but in 1955…</p>
                                </div>
                            </li>
                            
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>