<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

    <ui:define name="title">Index</ui:define>

    <ui:define name="content">
        <div class="card p-grid">
			<div class="p-col-12">
				<h3>Product and Design</h3>
			</div>
            <div class="p-col-12 p-lg-4">
				<p:card>
				    <f:facet name="header">
				        <p:graphicImage name="images/card_001.png" height="250" width="250" />
				    </f:facet>
				    <f:facet name="title">
				        The future of Binance.
				    </f:facet>
				    <f:facet name="subtitle">
				        Global Freedom
				    </f:facet>				
				    <p>Our vision is to increase the freedom of money globally. We believe that by spreading this freedom, we can significantly improve lives around the world</p>		
				</p:card>
            </div>
            <div class="p-col-12 p-lg-4">
				<p:card>
				    <f:facet name="header">
				        <p:graphicImage name="images/card_002.jpg" height="250" width="250" />
				    </f:facet>
				    <f:facet name="title">
				        Hourglass or Future watch
				    </f:facet>
				    <f:facet name="subtitle">
				        Build the future of technology
				    </f:facet>				
				    <p>an invertible device with two connected glass bulbs containing sand that takes an hour to pass from the upper to the lower bulb.</p>				
				</p:card>
            </div>
            <div class="p-col-12 p-lg-4">
				<p:card>
				    <f:facet name="header">
				        <p:graphicImage name="images/card_003.jpg" height="250" width="250" />
				    </f:facet>
				    <f:facet name="title">
				        The family madrigal
				    </f:facet>
				    <f:facet name="subtitle">
				        Collaboration on the world
				    </f:facet>				
				    <p>"The Family Madrigal" is a song from Disney's animated musical film Encanto (2021), released as part of the film's soundtrack on November 19, 2021, by Walt Disney Records.</p>				
				</p:card>
            </div>
        </div>
    </ui:define>
</ui:composition>