<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <p:dataTable id="logTable" widgetVar="logTable"
                 value="#{systemCtrl.logItems}" var="bean"
                 reflow="true"
                 rowIndexVar="inx"
                 stripedRows="true"
                 rows="#{systemCtrl.pageSize}"
                 paginator="true"
                 paginatorPosition="bottom"
                 paginatorAlwaysVisible="false"
                 rowsPerPageTemplate="#{systemCtrl.rowPerPage}"
                 emptyMessage="#{msg['msg.search.no.data']}">

        <p:ajax event="page" global="false"/>
        <p:ajax event="sort" global="false"/>
        <p:ajax event="filter" global="false"/>

        <f:facet name="header">
            <div class="grid">
                <span class="col-7"> </span>
                <div class="col-5 text-right">
                    <p:commandButton id="reloadButton" action="#{systemCtrl.loadLogAction()}"
                                     icon="fa-solid fa-rotate-right"
                                     update="systemTab:logTable" process="@this"
                                     title="#{msg['msg.button.refresh']}">
                    </p:commandButton>
                    <p:tooltip for="reloadButton" value="#{msg['msg.button.refresh']}" position="top"/>
                </div>
            </div>
        </f:facet>

        <p:column headerText="#{msg['msg.index.no']}" styleClass="text-center" width="55">
            <h:outputFormat value="#{bean.id}"/>
        </p:column>
        <p:column headerText="#{msg['app.info.file.name']}" sortBy="#{bean.fileName}">
            <h:outputText value="#{bean.fileName}"/>
        </p:column>
        <p:column headerText="#{msg['app.info.file.date']}" sortBy="#{bean.lastModified}" width="170"  styleClass="text-center">
            <h:outputText value="#{bean.fileDate}"/>
        </p:column>
        <p:column headerText="#{msg['app.info.file.size']}" sortBy="#{bean.fileSize}" width="150" styleClass="text-center">
            <h:panelGroup layout="block" styleClass="right">
                <h:outputText value="#{bean.fileSizeStr}"/>
            </h:panelGroup>
        </p:column>
        <p:column headerText="#{msg['msg.button.action']}" styleClass="center" width="100">
            <p:commandButton id="downloadAction" icon="pi pi-file"
                             action="#{systemCtrl.downloadFileAction(bean)}"
                             process="@this" ajax="false"
                             styleClass="rounded-button ui-button-warning p-mr-2 p-mb-2">
            </p:commandButton>
        </p:column>
    </p:dataTable>
</ui:composition>