<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="jakarta.faces.html"
                xmlns:ui="jakarta.faces.facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:dataTable id="systemTable" widgetVar="systemTable"
                 value="#{systemCtrl.propertyItems}" var="bean"
                 reflow="true" rowIndexVar="inx"
                 rows="#{systemCtrl.pageSize}"
                 stripedRows="true"
                 paginator="true"
                 paginatorPosition="bottom"
                 paginatorAlwaysVisible="false"
                 rowsPerPageTemplate="#{systemCtrl.rowPerPage}"
                 emptyMessage="#{msg['msg.search.no.data']}">

        <p:ajax event="page" global="false"/>
        <p:ajax event="sort" global="false"/>
        <p:ajax event="filter" global="false"/>

        <p:column headerText="#{msg['msg.index.no']}" styleClass="text-center" width="55">
            <h:outputFormat value="#{(bean.id)}"/>
        </p:column>
        <p:column headerText="#{msg['app.info.key']}" sortBy="#{bean.key}" width="350">
            <h:outputText value="#{bean.key}"/>
        </p:column>
        <p:column headerText="#{msg['app.info.value']}" sortBy="#{bean.value}">
            <h:outputText value="#{bean.value}"/>
        </p:column>
    </p:dataTable>
</ui:composition>