<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:h="jakarta.faces.html"
				xmlns:f="jakarta.faces.core"
				xmlns:ui="jakarta.faces.facelets"
				xmlns:p="http://primefaces.org/ui"
				template="/templates/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="dummpy" />
			<f:event type="preRenderView" listener="#{menuCtrl.grantRoleAccess('SYSTEM_INFO')}" />
		</f:metadata>
	</ui:define>

	<ui:define name="content">
		<h:form id="form" prependId="false">
			<ui:remove>++++++++++++++ Constants +++++++++</ui:remove>
			<p:importConstants type="th.co.cana.framework.utils.AppConstants$UISystems" var="UIConstants" />

			<h:panelGroup layout="block" styleClass="card">
				<p:outputPanel deferred="true" loaded="#{systemCtrl.isLoadedSuccess(UIConstants.PAGE_SYS_FORM)}" class="p-grid nested-grid">
					<p:ajax event="load" listener="#{systemCtrl.loadPageAction()}" global="false" />
					
					<ui:remove>+++++++++++ When loding content +++++++++ </ui:remove>
					<f:facet name="loading">
						<ui:include src="/views/skeleton/inc-skeleton-table.xhtml" />
					</f:facet>

					<ui:remove>+++++++++++ When success content +++++++++ </ui:remove>
					<div class="p-col-12 p-md-6">
						<h3>#{msg['app.info.page.title']}</h3>
					</div>
					<div class="p-col-12 p-md-12">
						<p:divider />
					</div>
					
					<div class="p-col-8 col-offset-2">
					    <div class="formgrid grid">
					        <div class="field col-12 md:col-6">
					            <label>#{msg['app.info.name']} : </label>
					            <strong><h:outputText value="#{systemCtrl.form.name}" style="margin-left:10px;"/></strong>
					        </div>
					        <div class="field col-12 md:col-6">
					            <label>#{msg['app.info.version']} : </label>
					            <strong>
					             	<h:outputText value="#{systemCtrl.form.version}" style="margin-left:10px;" />
					             </strong>
					        </div>
					        <div class="field col-12 md:col-6">
					            <label>#{msg['app.info.build.time']} : </label>
					            <strong><h:outputText value="#{systemCtrl.form.buildTime}" style="margin-left:10px;"/></strong>
					        </div>
							<div class="field col-12 md:col-6">
								<label>#{msg['app.info.java.build.version']} : </label>
								<strong><h:outputText value="#{systemCtrl.form.javaBuildVersion}" style="margin-left:10px;"/></strong>
							</div>
							<div class="field col-12 md:col-6">
								<label>#{msg['app.info.system.date']} : </label>
								<strong><h:outputText value="#{systemCtrl.form.systemDate}" style="margin-left:10px;"/></strong>
							</div>
							<div class="field col-12 md:col-6">
								<label>#{msg['app.info.system.locale']} : </label>
								<strong><h:outputText value="#{systemCtrl.form.systemLocale}" style="margin-left:10px;"/></strong>
							</div>
					    </div>
				    </div>
    
					<p:tabView id="systemTab" activeIndex="#{systemCtrl.tabindex}" style="margin-top:20px;">
						<p:tab id="id-tab-var" title="#{msg['app.info.tab.system']}">
							<ui:include src="inc-table-system.xhtml" />
						</p:tab>
						<p:tab id="id-tab-log" title="#{msg['app.info.tab.log']}">
							<ui:include src="inc-table-log.xhtml" />
						</p:tab>
					</p:tabView>
					
				</p:outputPanel>
			</h:panelGroup>
		</h:form>

	</ui:define>

</ui:composition>