body {
	padding: 0px !important;
}
body .ui-tabs .ui-tabs-panels {
	height: 100% !important;
}

body .ui-tabs .ui-tabs-panels .ui-tabs-panel {
	height: 99% !important;
}
body .ui-button.ui-button-text-icon-left .ui-button-text {
    padding: .429em 1em .429em 2.5em;
}
.layout-wrapper .topbar .topbar-left .topbar-logo {
    height: 35px !important;
}
body table a {
    color: #000 !important;
    text-decoration: underline !important;
}
table a {
	color: #000 !important;
    text-decoration: underline !important;
}
.ui-tabs-panel {
	height: 99% !important;
}

.ui-fluid .ui-button {
	width: auto !important;
	margin-right: 10px;
}

.center {
	text-align: center !important;
}

.right {
	text-align: right !important;
}

.label {
	font-weight: bold;
}

pre {
	padding: 5px;
	margin: 5px;
}

.string {
	color: green;
}

.number {
	color: darkorange;
}

.boolean {
	color: blue;
}

.null {
	color: magenta;
}

.key {
	color: red;
}

.ajax-status-centered {
	width:80px;
	height:80px;
  	position: fixed;
  	top: 50% !important;
  	left: 50% !important;
  	transform: translate(-50%, -50%) !important;
}
.ajax-status-icon {
	font-size: 8em !important;
	color: rgb(249, 61, 6) !important;
}

.dashboard .global-sales table thead th {
	border-bottom: 1px solid #b1b1b1 !important;
}

.form-right {
	text-align: right !important;
	font-weight: bold !important;
}

.font-red {
	color: #ff0000 !important;
}
.font-blue {
	color: #007bff !important;
}
.ui-layout-unit {
    position: absolute;
    top: 100px !important;
    height: 865px !important;
}
/** +++++++++++++++++++++ font icon ++++++++++++++++++++++ */
.fa-square {
	color: #00ae57 !important;
}
.fa-red {
	color: #ff0000 !important;
}
.fa-blue {
	color: #007bff !important;
}
.fa-green {
	color: #00ae57 !important;
}
.fa-orange {
	color: #D35400 !important;
}
.fa-yellow {
	color: #FFFF00 !important;
}
.fa-05x {
    font-size: 1.2em !important;
}
.fa-1x {
    font-size: 1.5em !important;
}
.fa-1x {
    font-size: 2.1em !important;
}
.fa-3x {
    font-size: 3.14em !important;
}
.fa-05x {
    font-size: 1.3em !important;
}