<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="jakarta.faces.html"
      xmlns:f="jakarta.faces.core"
      xmlns:ui="jakarta.faces.facelets"
      xmlns:p="http://primefaces.org/ui"
      lang="en">

<f:view contentType="text/html" locale="#{webPreferences.locale}">
    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>#{msg['msg.app.name']}</title>
        <h:outputScript name="js/layout.js" library="pandora-layout" />
        <h:outputScript name="js/prism.js" library="pandora-layout"/>
        <h:outputScript name="js/primefaces-locale-th.js" />
    </h:head>

    <h:body styleClass="login-body">
        <div class="login-topbar">
            <p:graphicImage name="images/logo-footer.svg" library="pandora-layout" />
        </div>
        <div class="login-wrapper">
            <div class="login-panel">
                <div class="login-title">
                    <h4>#{msg['login.header']}</h4>
                    <span>
                        #{msg['login.sub.header']}
                    </span>
                </div>
                <div class="login-forms-wrapper">
                    <div class="form-tabs">
                        <div class="tab tab-1 active-tab">#{msg['login.title']}</div>
                    </div>
                    <div class="login-forms">
                        <div class="login-form login">
                            <h:form prependId="false">
                                <h:inputHidden id="screenWidth" value="#{loginCtrl.screenWidth}" />
                                <h:inputHidden id="screenHeight" value="#{loginCtrl.screenHeight}" />

                                <p:growl id="growl" showDetail="false"  />
                                <div class="form-group">
                                    <span>#{msg['login.username']}</span>
                                    <p:inputText value="#{loginCtrl.username}"
                                                 placeholder="#{msg['login.username.placeholder']}"
                                                 label="#{msg['login.username']}" required="true">
                                    </p:inputText>
                                </div>
                                <div class="form-group">
                                    <span>#{msg['login.password']}</span>
                                    <p:password value="#{loginCtrl.password}"
                                                label="#{msg['login.password']}"
                                                placeholder="#{msg['login.password.placeholder']}" required="true">
                                    </p:password>
                                </div>
                                <div class="form-footer">
                                    <p:commandButton value="#{msg['login.sing.in']}"
                                                     action="#{loginCtrl.loginAction()}"
                                                     update="@form">
                                    </p:commandButton>
                                </div>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-image"> </div>
        </div>

        <h:outputStylesheet name="css/#{webPreferences.layout}.css" library="pandora-layout" />
        <h:outputStylesheet name="css/style-font.css" />
        <h:outputStylesheet name="css/style.css" />
        <h:outputStylesheet name="css/style-resp.css" />
        <h:outputStylesheet name="css/style-login.css" />

        <script type="text/javascript">
            $(function(){
                const screenWidth = $(document).width();
                const screenHeight = $(document).height();
                console.log("screenWidth:" + screenWidth + " screenHeight:" + screenHeight);
                $("#screenWidth").val(screenWidth);
                $("#screenHeight").val(screenHeight);
            });
        </script>
    </h:body>
</f:view>
</html>