<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:h="jakarta.faces.html"
				xmlns:ui="jakarta.faces.facelets"
				xmlns:p="http://primefaces.org/ui"
				template="/templates/template-public.xhtml">

	<ui:define name="title">#{msg['msg.page.404.title']}</ui:define>

	<ui:define name="viewname">
		#{msg['msg.page.404.title']}
	</ui:define>

	<ui:define name="content">
		<h:form id="form" prependId="false">
			<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
				<div class="page-error-code-bg text-center">
					<span class="bg-white text-pink-500 font-bold text-6xl text-900 inline-block px-3 fa-red">404</span>
				</div>
				<div class="mt-6 mb-5 font-bold text-6xl text-900 text-center">#{msg['msg.page.404.title']}</div>
				<p class="text-700 text-3xl mt-0 mb-6 text-center">#{msg['msg.page.404.message']}</p>
				<div class="text-center">
					<p:commandButton value="#{msg['msg.button.dashboard']}" 
						action="#{menuCtrl.homeAction()}"
						immediate="true" global="false"
						icon="pi pi-home">
					</p:commandButton>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>