<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div id="layout-config" class="layout-config">
        <a href="#" id="layout-config-button" class="layout-config-button">
            <i class="pi pi-cog"/>
        </a>
        <a href="#" class="layout-config-close">
            <i class="pi pi-times"/>
        </a>

        <div class="layout-config-content">
            <h:form id="config-form">
                <h5 style="margin-top: 0;">Menu Mode</h5>
                <p:selectOneRadio value="#{webPreferences.menuLayout}" layout="responsive" columns="2">
                    <f:selectItem itemLabel="Static" itemValue="static" />
                    <f:selectItem itemLabel="Overlay" itemValue="overlay" />
                    <f:selectItem itemLabel="Horizontal" itemValue="horizontal" />
                    <f:selectItem itemLabel="Slim" itemValue="slim" />
                    <p:ajax listener="#{webPreferences.onLayoutChange}" process="@this" update=":config-form menuform" />
                </p:selectOneRadio>

                <h5>Menu Theme</h5>
                <p:selectOneRadio value="#{webPreferences.menuClass}" layout="responsive" columns="2">
                    <f:selectItem itemLabel="Dark" itemValue="layout-menu-dark" />
                    <f:selectItem itemLabel="Light" itemValue="" />
                    <p:ajax listener="#{webPreferences.onMenuThemeChange()}"/>
                </p:selectOneRadio>

                <h5>User Profile Mode</h5>
                <p:selectOneRadio value="#{webPreferences.profileMode}" layout="responsive" columns="2">
                    <f:selectItem itemLabel="Inline" itemValue="inline"
                                  itemDisabled="#{webPreferences.menuLayout == 'horizontal'}"/>
                    <f:selectItem itemLabel="Overlay" itemValue="overlay"
                                  itemDisabled="#{webPreferences.menuLayout == 'horizontal'}"/>
                    <p:ajax process="@this" update=":config-form menuform topbar-items-form" />
                </p:selectOneRadio>

                <h5>Input Background</h5>
                <p:selectOneRadio value="#{webPreferences.inputStyle}" layout="responsive" columns="2"
                                  onchange="PrimeFaces.AvalonConfigurator.updateInputStyle(event.target.value)">
                    <f:selectItem itemLabel="Outlined" itemValue="outlined" />
                    <f:selectItem itemLabel="Filled" itemValue="filled" />
                </p:selectOneRadio>

                <h5>Flat Layout Colors</h5>
                <p:outputPanel id="layoutflatcolors-panel">
                    <div class="layout-themes">
                        <ui:repeat value="#{webPreferences.layoutThemes}" var="layoutTheme">
                            <div>
                                <p:commandLink actionListener="#{webPreferences.setLayout(layoutTheme.file, layoutTheme.special)}"
                                               style="background-color: #{layoutTheme.color}" title="#{layoutTheme.name}"
                                               process="@this" update=":config-form"
                                               onstart="PrimeFaces.AvalonConfigurator.beforeResourceChange()"
                                               oncomplete="PrimeFaces.AvalonConfigurator.changeLayout('#{layoutTheme.file}')">
                                    <ui:fragment rendered="#{layoutTheme.file eq webPreferences.layout}">
                                        <i class="pi pi-check"/>
                                    </ui:fragment>
                                </p:commandLink>
                            </div>
                        </ui:repeat>
                    </div>
                </p:outputPanel>

                <h5>Special Layout Colors</h5>
                <p:outputPanel id="specialLayoutColors-panel">
                    <div class="layout-themes">
                        <ui:repeat value="#{webPreferences.layoutSpecialThemes}" var="layoutSpecialTheme">
                            <div>
                                <p:commandLink actionListener="#{webPreferences.setLayout(layoutSpecialTheme.file, layoutSpecialTheme.special)}"
                                               style="background-image: linear-gradient(to right, #{layoutSpecialTheme.color1}, #{layoutSpecialTheme.color2})"
                                               process="@this" update=":config-form"
                                               onstart="PrimeFaces.AvalonConfigurator.beforeResourceChange()"
                                               oncomplete="PrimeFaces.AvalonConfigurator.changeLayout('#{layoutSpecialTheme.file}')">
                                    <ui:fragment rendered="#{layoutSpecialTheme.file eq webPreferences.layout}">
                                        <i class="pi pi-check"/>
                                    </ui:fragment>
                                </p:commandLink>
                            </div>
                        </ui:repeat>
                    </div>
                </p:outputPanel>

                <h5>Component Themes</h5>
                <p:outputPanel id="componentThemes-panel">
                    <div class="layout-themes">
                        <ui:repeat value="#{webPreferences.componentThemes}" var="componentTheme">
                            <div>
                                <p:commandLink actionListener="#{webPreferences.setTheme(componentTheme.file)}"
                                               style="background-color: #{componentTheme.color}"
                                               process="@this" update=":config-form"
                                               onstart="PrimeFaces.AvalonConfigurator.beforeResourceChange()"
                                               oncomplete="PrimeFaces.AvalonConfigurator.changeComponentsTheme('#{componentTheme.file}')">
                                    <ui:fragment rendered="#{componentTheme.file eq webPreferences.theme}">
                                        <i class="pi pi-check"/>
                                    </ui:fragment>
                                </p:commandLink>
                            </div>
                        </ui:repeat>
                    </div>
                </p:outputPanel>
            </h:form>
        </div>
    </div>
</ui:composition>