<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="jakarta.faces.html"
                xmlns:f="jakarta.faces.core"
                xmlns:ui="jakarta.faces.facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:ajaxStatus styleClass="ajax-status-centered" widgetVar="ajaxStatusVar">
        <f:facet name="start">
            <i class="pi pi-spin pi-spinner ajax-status-icon" aria-hidden="true"> </i>
        </f:facet>
        <f:facet name="complete">
            <h:outputText value="" />
        </f:facet>
    </p:ajaxStatus>

    <script type="text/javascript">
        function startAjaxStatus() {
            PF('ajaxStatusVar').trigger('start');
        }

        function stopAjaxStatus() {
            PF('ajaxStatusVar').trigger('complete');
        }
    </script>
</ui:composition>