<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="jakarta.faces.html"
    xmlns:ui="jakarta.faces.facelets"
    xmlns:p="http://primefaces.org/ui">

    <div class="topbar clearfix">
        <div class="topbar-left">
            <p:graphicImage name="/images/logo.png" alt="Logo Image" styleClass="topbar-logo" library="avalon-layout"/>
        </div>
        
        <div class="topbar-right">
            <a id="menu-button" href="#">
                <i class="pi pi-angle-left"/>
            </a>
            <a id="topbar-menu-button" href="#">
                <i class="pi pi-bars"/>
            </a>
            
            <h:form id="topbar-items-form">
                <ul class="topbar-items fadeInDown animated">
                    <ui:fragment rendered="#{webPreferences.profileModeOverlay}">
                        <li class="profile-item">
                            <a href="#">
                                <p:graphicImage name="images/icons/user.svg" styleClass="profile-image" style="border: 0 none"/>
                            </a>

                            <ul class="layout-menu animated">
                                <li role="menuitem">
                                    <p:commandLink action="#{loginCtrl.logoutAction()}">
                                        <i class="pi pi-fw pi-sign-out"/>
                                        <span>#{msg['login.logout']}</span>
                                    </p:commandLink>
                                </li>
                            </ul>
                        </li>
                    </ui:fragment>
                </ul>
            </h:form>
        </div>
    </div>
</ui:composition>