<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="jakarta.faces.html"
        xmlns:ui="jakarta.faces.facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pu="http://primefaces.org/avalon">

    <h:form id="menuform">
        <div class="layout-menu-container #{webPreferences.menuClass}">
            <div class="menu-scroll-content">
                <ui:fragment rendered="#{webPreferences.profileModeInline}">
                    <div class="profile">
                        <a id="profile-options" href="#">
                            <p:graphicImage name="images/icons/admin.svg" styleClass="profile-image" style="border: 0 none"/>
                            <span class="profile-name">#{userInfo.username}</span>
                            <i class="pi pi-fw pi-chevron-down"/>
                            <span class="profile-role">#{userInfo.firstName}</span>
                        </a>
                    </div>
                    <ul id="profile-menu" class="layout-menu">
                        <li role="menuitem">
                            <p:commandLink action="#{loginCtrl.logoutAction()}">
                                <i class="pi pi-fw pi-sign-out"/>
                                <span>#{msg['login.logout']}</span>
                            </p:commandLink>>
                            <div class="layout-menu-tooltip">
                                <div class="layout-menu-tooltip-arrow"> </div>
                                <div class="layout-menu-tooltip-text">#{msg['login.logout']}</div>
                            </div>
                        </li>
                    </ul>
                </ui:fragment>

                <pu:menu widgetVar="avalonMenuWidget" styleClass="layout-main-menu">
                    <p:submenu id="m_dashboard" label="Dashboard" icon="pi pi-fw pi-home">
                        <p:menuitem value="Dashboard" icon="pi pi-fw pi-money-bill"
                                    global="false">
                        </p:menuitem>
                    </p:submenu>
                    <p:submenu id="m_system" label="System Setting" icon="fa-solid fa-sliders">
                        <p:menuitem value="System Info"
                                    action="#{menuCtrl.changePageAction('SYSTEM_INFO')}"
                                    icon="fa-solid fa-user-gear"
                                    global="false">
                        </p:menuitem>
                    </p:submenu>
                    <p:submenu label="Demo Page" icon="fa-regular fa-rectangle-list">
                        <p:menuitem value="Input Form"
                                    action="#{menuCtrl.changePageAction('DEMO_FORM')}"
                                    icon="fa-brands fa-wpforms"
                                    global="false">
                        </p:menuitem>
                        <p:menuitem value="Form Layout"
                                    action="#{menuCtrl.changePageAction('DEMO_FORM_LAYOUT')}"
                                    icon="fa-brands fa-wpforms"
                                    global="false">
                        </p:menuitem>
                        <p:menuitem value="Table Data"
                                    action="#{menuCtrl.changePageAction('DEMO_FORM_TABLE')}"
                                    icon="fa-solid fa-table-list"
                                    global="false">
                        </p:menuitem>
                    </p:submenu>
                </pu:menu>
            </div>
        </div>
    </h:form>
</ui:composition>
