<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="jakarta.faces.facelets">
    
    <div class="layout-footer">
        <span class="footer-text-left">
            #{msg['msg.app.copyright']}
        </span>
        <span class="footer-text-right">
            <a href="#"><i class="pi pi-facebook" /></a>
            <a href="#"><i class="pi pi-twitter" /></a>
            <a href="#"><i class="pi pi-github" /></a>
        </span>
    </div>
</ui:composition>