<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="jakarta.faces.facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:po="http://primefaces.org/pandora">

    <po:menu widgetVar="PandoraMenuWidget">
        <p:submenu id="m_homepage" label="Main Menu" icon="pi pi-fw pi-home">
            <p:menuitem id="m_dashboard" value="Home" icon="pi pi-fw pi-home" rendered="false" />
            <p:menuitem value="Daily Process" icon="pi pi-fw pi-list" />
            <p:menuitem value="Process Hist" icon="pi pi-fw pi-history" />
        </p:submenu>
    </po:menu>

</ui:composition>