<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="jakarta.faces.html"
    xmlns:ui="jakarta.faces.facelets">

    <h:panelGroup id="layout-breadcrumb-sticky" styleClass="layout-breadcrumb" layout="block">
        <div class="breadcrumb">
            <div class="breadcrumb-icon">
                <i class="pi pi-sitemap"/>
            </div>
            <div class="route-bar-breadcrumb">
                <strong>
                    <ui:insert name="viewname" />
                </strong>
            </div>
        </div>
    </h:panelGroup>
</ui:composition>