<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:h="jakarta.faces.html"
				xmlns:f="jakarta.faces.core"
				xmlns:ui="jakarta.faces.facelets"
				xmlns:p="http://primefaces.org/ui">

	<ui:remove> ++++++++++++++++ ViewExpired +++++++++++++++++ </ui:remove>
	<p:ajaxExceptionHandler type="jakarta.faces.application.ViewExpiredException"
		update="viewExpiredDialog" onexception="PF('viewExpiredDialog').show();" />

	<p:dialog id="viewExpiredDialog" widgetVar="viewExpiredDialog" 
		header="#{msg['msg.page.view.expire.title']}"
		modal="true" resizable="false" closable="false" responsive="true" 
		dynamic="true" fitViewport="true" styleClass="dialog-resposive-error">
		
		<div class="center" style="margin-top:30px;margin-bottom:30px;">
			<h6 class="font-error">#{msg['msg.page.view.expire.message']}</h6>
		</div>
		
		<div class="center" style="margin-top:25px;margin-bottom:10px;">
			<p:commandButton value="#{msg['msg.button.refresh']}" type="button"
				immediate="true" global="false" onclick="doLogoutAction();">
			</p:commandButton>
		</div>
	</p:dialog>
	
	<ui:remove> ++++++++++++++++ Error Message +++++++++++++++++ </ui:remove>
	<p:dialog id="messageDialog" widgetVar="messageDialog"
		modal="true" resizable="false" closable="false" responsive="true" 
		dynamic="true" fitViewport="true" styleClass="dialog-resposive-error">
		
		<f:facet name="header"> 
			<i class="#{webPreferences.iconCss} #{webPreferences.styleClass}" aria-hidden="true"> </i>
			<h:outputText value=" #{webPreferences.header}" />
		</f:facet>
		
		<h:panelGroup layout="block" styleClass="#{webPreferences.styleClass}" style="margin-top:10px;">
			<h:panelGroup layout="block" styleClass="center" rendered="#{webPreferences.oneItem}">
				<ui:repeat value="#{webPreferences.errors}" var="err" varStatus="inx">
					<h:outputText value="#{err}" escape="false" /><br/>
				</ui:repeat>
			</h:panelGroup>
			<h:panelGroup layout="block" rendered="#{!webPreferences.oneItem}">
				<ui:repeat value="#{webPreferences.errors}" var="err" varStatus="inx">
					<h:outputText value="#{(inx.index + 1)}. #{err}" escape="false" /><br/>
				</ui:repeat>
			</h:panelGroup>
		</h:panelGroup>

		<div class="center" style="margin-top:25px;margin-bottom:10px;">
			<p:commandButton value="#{msg['msg.button.close']}" 
				action="#{webPreferences.executeCommand()}"
				global="false" icon="fa fa-times" 
				immediate="true" 
				oncomplete="PF('messageDialog').hide();">
			</p:commandButton>
		</div>
	</p:dialog>

	<script type="text/javascript">
		function doLogoutAction() {
			window.location.href = "#{request.contextPath}/";
		}
	</script>
	
</ui:composition>