<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="jakarta.faces.html"
                xmlns:ui="jakarta.faces.facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
                     widgetVar="mainConfirmDialog" header="#{msg['msg.confirm.title']}"
                     message="#{msg['msg.confirm.process']}" responsive="true" width="400">

        <h:panelGroup layout="block" styleClass="center" style="margin-top:10px;">
            <p:commandButton value="#{msg['msg.button.no']}"
                             type="button"
                             styleClass="ui-confirmdialog-no ui-button-danger"
                             style="margin-right:15px;"
                             icon="pi pi-times">
            </p:commandButton>
            <p:commandButton value="#{msg['msg.button.yes']}" type="button"
                             styleClass="ui-confirmdialog-yes ui-button-success"
                             icon="pi pi-check"
                             style="margin-left: 15px;">
            </p:commandButton>
        </h:panelGroup>
    </p:confirmDialog>
</ui:composition>