<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="jakarta.faces.html"
                xmlns:ui="jakarta.faces.facelets">

    <div class="menu-wrapper">
        <div class="layout-menu-container">
            <h:form id="menuform">
                <ui:include src="#{webPreferences.groupedMenu ? 'inc-menu-grouped.xhtml' : 'inc-menu-ungrouped.xhtml'}" />
            </h:form>
        </div> 
    </div>

</ui:composition>