<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="jakarta.faces.html"
	  xmlns:f="jakarta.faces.core"
	  xmlns:ui="jakarta.faces.facelets">

<f:view contentType="text/html" locale="#{webPreferences.locale}">
	<h:head>
		<f:facet name="first">
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
			<meta name="apple-mobile-web-app-capable" content="yes" />
			<link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon.ico']}" />
		</f:facet>
		<title><ui:insert name="title">#{msg['msg.app.name']}</ui:insert></title>

		<h:outputScript name="js/layout.js" library="pandora-layout" />
		<h:outputScript name="js/prism.js" library="pandora-layout"/>
		<h:outputScript name="js/primefaces-locale-th.js" rendered="#{webPreferences.langThai}" />
		<ui:insert name="head"/>
	</h:head>

	<h:body styleClass="#{webPreferences.inputStyleClass}">
		<div class="layout-wrapper #{webPreferences.layoutConfig}">

			<div class="layout-main-qrcode">
				<h:panelGroup rendered="false">
					<ui:include src="inc-topbar.xhtml"/>
					<ui:include src="inc-breadcrumb.xhtml" />
				</h:panelGroup>

				<div class="layout-content">
					<ui:include src="inc-ajax-status.xhtml" />
					<ui:include src="inc-confirm-dialog.xhtml" />
					<ui:include src="inc-exception-handler.xhtml" />
				
					<ui:insert name="content" />
					<ui:insert name="popup" />
				</div>
			</div>
		</div>

		<h:outputStylesheet name="css/primeicons.css" library="pandora-layout"/>
		<h:outputStylesheet name="css/#{webPreferences.layout}.css" library="pandora-layout" />

		<h:outputStylesheet name="primeflex/3.3.1/primeflex.min.css" library="webjars"/>
		<h:outputStylesheet name="font-awesome/6.4.2/css/all.min-jsf.css" library="webjars"/>
		<h:outputStylesheet name="font-awesome/6.4.2/css/fontawesome.min-jsf.css" library="webjars"/>

		<h:outputStylesheet name="css/style-font.css" />
		<h:outputStylesheet name="css/style.css" />
		<h:outputStylesheet name="css/style-resp.css" />
	</h:body>
</f:view>
</html>