<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div class="grid">
		<div class="col-1">
			<p:skeleton size="4rem" width="100%" />
		</div>
		<div class="col-11">
			<p:skeleton width="100%" height="1.7rem"/>
			<p:skeleton width="100%" height="1.7rem" style="margin-top:5px;"/>
		</div>
		
		<div class="col-12">
			<p:skeleton width="100%" height="100px" />
		</div>
		<div class="col-6 md:col-6">
			<p:skeleton width="100%" height="2rem" />
		</div>
		<div class="col-6 md:col-6">
			<p:skeleton width="100%" height="2rem" />
		</div>
	</div>
</ui:composition>