<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="jakarta.faces.html"
                xmlns:f="jakarta.faces.core"
                xmlns:ui="jakarta.faces.facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/template.xhtml">

    <ui:define name="title">Form Layout</ui:define>

    <ui:define name="content">
        <h:form>
            <div class="grid">
                <div class="col-12 md:col-6">
                    <div class="card ui-fluid">
                        <h5>Vertical</h5>
                        <div class="field">
                            <p:outputLabel for="name1">Name</p:outputLabel>
                            <p:inputText id="name1" />
                        </div>
                        <div class="field">
                            <p:outputLabel for="email1">Email</p:outputLabel>
                            <p:inputText id="email1" />
                        </div>
                        <div class="field">
                            <p:outputLabel for="age1">Age</p:outputLabel>
                            <p:inputText id="age1" />
                        </div>
                    </div>
    
                    <div class="card ui-fluid">
                        <h5>Vertical Grid</h5>
                        <div class="formgrid grid">
                            <div class="field col">
                                <p:outputLabel for="name2">Name</p:outputLabel>
                                <p:inputText id="name2" type="text" />
                            </div>
                            <div class="field col">
                                <p:outputLabel for="email2">Email</p:outputLabel>
                                <p:inputText id="email2" type="text" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="card ui-fluid">
                        <h5>Horizontal</h5>
                        <div class="field grid">
                            <p:outputLabel for="name3" styleClass="col-12 mb-2 md:col-2 mb-md-0">Name</p:outputLabel>
                            <div class="col-12 md:col-10">
                                <p:inputText id="name3" />
                            </div>
                        </div>
                        <div class="field grid">
                            <p:outputLabel for="email3" styleClass="col-12 mb-2 md:col-2 mb-md-0">Email</p:outputLabel>
                            <div class="col-12 md:col-10">
                                <p:inputText id="email3" />
                            </div>
                        </div>
                    </div>
    
                    <div class="card">
                        <h5>Inline</h5>
                        <div class="formgroup-inline">
                            <div class="field">
                                <p:inputText id="firstname1" type="text" placeholder="Firstname" />
                            </div>
                            <div class="field">
                                <p:inputText id="lastname1" type="text" placeholder="Lastname" />
                            </div>
                            <p:commandButton type="button" value="Submit"/>
                        </div>
                    </div>
    
                    <div class="card">
                        <h5>Help Text</h5>
                        <div class="field ui-fluid">
                            <p:outputLabel for="username" value="Username" />
                            <p:inputText id="username" />
                            <small>Enter your username to reset your password.</small>
                        </div>
                    </div>
                </div>
    
                <div class="col-12">
                    <div class="card">
                        <h5>Advanced</h5>
                        <div class="ui-fluid formgrid grid">
                            <div class="field col-12 md:col-6">
                                <p:outputLabel for="firstname2" value="Firstname" />
                                <p:inputText id="firstname2" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <p:outputLabel for="lastname2" value="Lastname" />
                                <p:inputText id="lastname2" />
                            </div>
                            <div class="field col-12">
                                <p:outputLabel for="address" value="Address" />
                                <p:inputTextarea id="address" rows="4" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <p:outputLabel for="city" value="City" />
                                <p:inputText id="city" />
                            </div>
                            <div class="field col-12 md:col-3">
                                <p:outputLabel for="state" value="State" />
                                <p:selectOneMenu id="state">
                                    <f:selectItem itemLabel="Select One" itemValue="#{null}" noSelectionOption="true"/>
                                    <f:selectItem itemLabel="Option 1" itemValue="Option 1" />
                                    <f:selectItem itemLabel="Option 2" itemValue="Option 2" />
                                    <f:selectItem itemLabel="Option 3" itemValue="Option 3" />
                                </p:selectOneMenu>
                            </div>
                            <div class="field col-12 md:col-3">
                                <p:outputLabel for="zip" value="Zip" />
                                <p:inputText id="zip" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>