<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="jakarta.faces.html"
                xmlns:f="jakarta.faces.core"
                xmlns:ui="jakarta.faces.facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:o="http://omnifaces.org/ui"
                template="templates/template.xhtml">

    <ui:define name="viewname">
        Dashboard
    </ui:define>
    <ui:define name="content">

    </ui:define>
</ui:composition>