/* thai */
@font-face {
    font-family: 'tatsana';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("#{resource['fonts/tatsana_chon-light.woff2']}") format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
@font-face {
    font-family: 'tatsana';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("#{resource['fonts/tatsana_chon-regular.woff2']}") format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
@font-face {
    font-family: 'tatsana';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("#{resource['fonts/tatsana_chon-bold.woff2']}") format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
    font-family: 'TatSanaSuksa';
    src: url("#{resource['fonts/tata-sana-suksa-bold.woff2']}") format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TatSanaSuksa';
    src: url("#{resource['fonts/tata-sana-suksa-italic.woff2']}") format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TatSanaSuksa';
    src: url("#{resource['fonts/tata-sana-suksa-bold-italic.woff2']}") format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TatSanaSuksa';
    src: url("#{resource['fonts/tata-sana-suksa-light.woff2']}") format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TatSanaSuksa';
    src: url("#{resource['fonts/tata-sana-suksa-regular.woff2']}") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TatSanaSuksa';
    src: url("#{resource['fonts/tata-sana-suksa-light-italic.woff2']}") format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}