/* +++++++++++++++ flex Layout +++++++++++++++ */
.flex-container {
    display: -webkit-box;      /* 2009 - Chrome, Safari , iOS Safari */
    display: -moz-box;         /* 2009 - Firefox */
    display: -ms-flexbox;      /* early 2012 - IE 10 */
    display: -webkit-flex;     /* 2012 - Chrome */
    display: flex;             /* 2012 - Opera 12.1, Firefox 22+ */
}
.svg-resp {
    width: auto;
    height: 100%;
    padding: 20px;
}
.map-gauge {
    padding: 0;
    width: 250px;
    height: 250px;
    z-index: 100;
    position: absolute;
    top: 65%;
    left: 50%;
}
.dialog-resposive-large {
    width: 90%;
}
.dialog-resposive-full {
    width: 98% !important;
    height: 95%;
}
/* ++++++++++++++++ Desktop ++++++++++++++++ */
@media only screen and (max-width: 1440px) and (max-height: 1024px) {
    .metric {
        width: 150px !important;
        height: 150px !important;
    }
    .map-gauge {
        width: 150px !important;
        height: 150px !important;
    }
    .svg-resp {
        width: 100% !important;
        height: auto !important;
    }
    .dialog-resposive-full {
        width: 98%;
    }
    .dialog-resposive-large {
        width: 90% !important;
    }
    .dialog-resposive {
        width: 80% !important;
    }
    .dialog-resposive-sub {
        width: 50% !important;
    }
    .dialog-resposive-table {
        width: 80% !important;
    }
    .dialog-resposive-small {
        width: 30% !important;
    }
    .dialog-resposive-error {
        width: 35% !important;
    }
    .layout-main-popup {
        padding-top: 0 !important;
    }
}

@media only screen and (max-width: 1680px) and (max-height: 1200px) {
    .metric {
        width: 180px !important;
        height: 180px !important;
    }
    .map-gauge {
        width: 180px !important;
        height: 180px !important;
    }
    .svg-resp {
        width: 100% !important;
        height: auto !important;
    }
    .dialog-resposive-full {
        width: 98%;
    }
    .dialog-resposive-large {
        width: 90% !important;
    }
    .dialog-resposive {
        width: 80% !important;
    }
    .dialog-resposive-sub {
        width: 50% !important;
    }
    .dialog-resposive-table {
        width: 80% !important;
    }
    .dialog-resposive-small {
        width: 30% !important;
    }
    .dialog-resposive-error {
        width: 35% !important;
    }
    .layout-main-popup {
        padding-top: 0 !important;
    }
}

@media only screen and (max-width: 1920px) and (max-height: 1080px) {
    .metric {
        width: 200px !important;
        height: 200px !important;
    }
    .map-gauge {
        width: 200px !important;
        height: 200px !important;
    }
    .svg-resp {
        width: 100% !important;
        height: auto !important;
    }
    .dialog-resposive-large {
        width: 90% !important;
    }
    .dialog-resposive {
        width: 80% !important;
    }
    .dialog-resposive-sub {
        width: 50% !important;
    }
    .dialog-resposive-table {
        width: 70% !important;
    }
    .dialog-resposive-small {
        width: 30% !important;
    }
    .dialog-resposive-error {
        width: 35% !important;
    }
    .layout-main-popup {
        padding-top: 0 !important;
    }
}

/* ++++++++++++++++ Tablet ++++++++++++++++ */
@media only screen and (max-width: 1030px) and (max-height: 1380px) {
    .metric {
        width: 110px !important;
        height: 110px !important;
    }
    .map-gauge {
        width: 110px !important;
        height: 110px !important;
    }
    .svg-resp {
        width: 100% !important;
        height: auto !important;
    }
    .dialog-resposive-large {
        width: 90% !important;
    }
    .dialog-resposive {
        width: 80% !important;
    }
    .dialog-resposive-sub {
        width: 50% !important;
    }
    .dialog-resposive-table {
        width: 80% !important;
    }
    .dialog-resposive-small {
        width: 35% !important;
    }
    .dialog-resposive-error {
        width: 40% !important;
    }
    .layout-main-popup {
        padding-top: 0 !important;
    }
    .ui-sticky {
        top: 112px !important;
    }
}

@media only screen and (max-width: 1380px) and (max-height: 1030px) {
    .metric {
        width: 160px !important;
        height: 160px !important;
    }
    .map-gauge {
        width: 160px !important;
        height: 160px !important;
    }
    .svg-resp {
        width: 100% !important;
        height: auto !important;
    }
    .dialog-resposive-large {
        width: 90% !important;
    }
    .dialog-resposive {
        width: 80% !important;
    }
    .dialog-resposive-sub {
        width: 50% !important;
    }
    .dialog-resposive-table {
        width: 80% !important;
    }
    .dialog-resposive-small {
        width: 35% !important;
    }
    .dialog-resposive-error {
        width: 40% !important;
    }
    .layout-main-popup {
        padding-top: 0 !important;
    }
    .ui-sticky {
        top: 112px !important;
    }
}
@media only screen and (max-width: 800px) and (max-height: 1380px) {
    .metric {
        width: 100px !important;
        height: 100px !important;
    }
    .map-gauge {
        width: 100px !important;
        height: 100px !important;
    }
    .svg-resp {
        width: 100% !important;
        height: auto !important;
    }
    .top-bar-line {
        border-left: 0 solid #07a2a4 !important;
    }
    .dialog-resposive-large {
        width: 90% !important;
    }
    .dialog-resposive {
        width: 80% !important;
    }
    .dialog-resposive-sub {
        width: 60% !important;
    }
    .dialog-resposive-table {
        width: 80% !important;
    }
    .dialog-resposive-small {
        width: 40% !important;
    }
    .dialog-resposive-error {
        width: 45% !important;
    }
    .main-title {
        font-size: 19px;
        font-weight: bold;
    }
    .main-subtitle {
        font-size: 17px;
        font-weight: bold;
    }
    .layout-main-popup {
        padding-top: 0 !important;
    }
    .ui-sticky {
        top: 112px !important;
    }
}

/* ++++++++++++++++ Mobile ++++++++++++++++ */
@media only screen and (max-width: 750px) and (max-height: 500px) {
    .layout-main .layout-content {
        padding: 1em !important;
    }
    .layout-wrapper.menu-layout-horizontal .layout-main {
        padding: 0 5px 5px 5px !important;
    }
    .metric {
        width: 100px !important;
        height: 100px !important;
    }
    .map-gauge {
        width: 100px !important;
        height: 100px !important;
    }
    .svg-resp {
        width: 100% !important;
        height: auto !important;
    }
    .dialog-resposive-large {
        width: 95% !important;
    }
    .dialog-resposive {
        width: 90% !important;
    }
    .dialog-resposive-sub {
        width: 80% !important;
    }
    .dialog-resposive-table {
        width: 90% !important;
    }
    .dialog-resposive-small {
        width: 40% !important;
    }
    .dialog-resposive-error {
        width: 50% !important;
    }
    .event-media {
        height: auto !important;
    }
    .button-right {
        text-align: left !important;
    }
    .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions>li>ul {
        left: 5% !important;
    }
    body .ui-selectonemenu-panel {
        width: 83% !important;
        left: 2.1em !important;
    }
    body .ui-autocomplete-panel {
        width: 84% !important;
        left: 1.9em !important;
    }

    body .ui-autocomplete-panel table td:nth-child(2) {
        display:none !important;
    }
    body .ui-autocomplete-panel table td:nth-child(3) {
        display:none !important;
    }
    body .ui-autocomplete-panel table td:nth-child(4) {
        display:none !important;
    }
    body .ui-autocomplete-panel table td:nth-child(5) {
        display:none !important;
    }
    .main-title {
        font-size: 19px;
        font-weight: bold;
    }
    .main-subtitle {
        font-size: 17px;
        font-weight: bold;
    }
    .layout-main-popup {
        padding-top: 0 !important;
    }
    .ui-sticky {
        top: 112px !important;
    }
}

@media only screen and (max-width: 500px) and (max-height: 750px) {
    .layout-main .layout-content {
        padding: 1em !important;
    }
    .layout-wrapper.menu-layout-horizontal .layout-main {
        padding: 0 5px 5px 5px !important;
    }
    .metric {
        width: 100px !important;
        height: 100px !important;
    }
    .map-gauge {
        width: 100px !important;
        height: 100px !important;
    }
    .svg-resp {
        width: 100% !important;
        height: auto !important;
    }
    .dialog-resposive-large {
        width: 95% !important;
    }
    .dialog-resposive {
        width: 90% !important;
    }
    .dialog-resposive-sub {
        width: 80% !important;
    }
    .dialog-resposive-table {
        width: 95% !important;
    }
    .dialog-resposive-small {
        width: 90% !important;
    }
    .dialog-resposive-error {
        width: 90% !important;
    }
    .event-media {
        height: auto !important;
    }
    .button-right {
        text-align: left !important;
    }
    .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions>li>ul {
        left: 5% !important;
    }
    body .ui-selectonemenu-panel {
        width: 83% !important;
        left: 2.1em !important;
    }
    body .ui-autocomplete-panel {
        width: 84% !important;
        left: 1.9em !important;
    }

    body .ui-autocomplete-panel table td:nth-child(2) {
        display:none !important;
    }
    body .ui-autocomplete-panel table td:nth-child(3) {
        display:none !important;
    }
    body .ui-autocomplete-panel table td:nth-child(4) {
        display:none !important;
    }
    body .ui-autocomplete-panel table td:nth-child(5) {
        display:none !important;
    }
    .main-title {
        font-size: 18px;
        font-weight: bold;
    }
    .main-subtitle {
        font-size: 17px;
        font-weight: bold;
    }
    .layout-main-popup {
        padding-top: 0 !important;
    }
    .ui-sticky {
        top: 112px !important;
    }
}

@media only screen and (max-width: 500px) and (max-height: 850px) {
    .layout-main .layout-content {
        padding: 1em !important;
    }
    .layout-wrapper.menu-layout-horizontal .layout-main {
        padding: 0 5px 5px 5px !important;
    }
    .metric {
        width: 90px !important;
        height: 90px !important;
    }
    .map-gauge {
        width: 90px !important;
        height: 90px !important;
    }
    .svg-resp {
        width: 100% !important;
        height: auto !important;
    }
    .dialog-resposive-large {
        width: 95% !important;
    }
    .dialog-resposive {
        width: 90% !important;
    }
    .dialog-resposive-sub {
        width: 80% !important;
    }
    .dialog-resposive-table {
        width: 95% !important;
    }
    .dialog-resposive-small {
        width: 90% !important;
    }
    .dialog-resposive-error {
        width: 90% !important;
    }
    .event-media {
        height: auto !important;
    }
    .button-right {
        text-align: left !important;
    }
    .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions>li>ul {
        left: 5% !important;
    }
    body .ui-selectonemenu-panel {
        width: 83% !important;
        left: 2.1em !important;
    }
    body .ui-autocomplete-panel {
        width: 84% !important;
        left: 1.9em !important;
    }

    body .ui-autocomplete-panel table td:nth-child(2) {
        display:none !important;
    }
    body .ui-autocomplete-panel table td:nth-child(3) {
        display:none !important;
    }
    body .ui-autocomplete-panel table td:nth-child(4) {
        display:none !important;
    }
    body .ui-autocomplete-panel table td:nth-child(5) {
        display:none !important;
    }
    .main-title {
        font-size: 18px;
        font-weight: bold;
    }
    .main-subtitle {
        font-size: 17px;
        font-weight: bold;
    }
    .layout-main-popup {
        padding-top: 0 !important;
    }
    .ui-sticky {
        top: 112px !important;
    }
}

@media only screen and (max-width: 650px) and (max-height: 370px) {
    .layout-main .layout-content {
        padding: 1em !important;
    }
    .layout-wrapper.menu-layout-horizontal .layout-main {
        padding: 0 5px 5px 5px !important;
    }
    .metric {
        width: 100px !important;
        height: 100px !important;
    }
    .map-gauge {
        width: 100px !important;
        height: 100px !important;
    }
    .svg-resp {
        width: 100% !important;
        height: auto !important;
    }
    .dialog-resposive-large {
        width: 95% !important;
    }
    .dialog-resposive {
        width: 90% !important;
    }
    .dialog-resposive-sub {
        width: 80% !important;
    }
    .dialog-resposive-table {
        width: 95% !important;
    }
    .dialog-resposive-small {
        width: 90% !important;
    }
    .dialog-resposive-error {
        width: 90% !important;
    }
    .event-media {
        height: auto !important;
    }
    .button-right {
        text-align: left !important;
    }
    .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions>li>ul {
        left: 5% !important;
    }

    body .ui-selectonemenu-panel {
        width: 83% !important;
        left: 2.1em !important;
    }

    body .ui-autocomplete-panel {
        width: 84% !important;
        left: 1.9em !important;
    }

    body .ui-autocomplete-panel table td:nth-child(2) {
        display:none !important;
    }
    body .ui-autocomplete-panel table td:nth-child(3) {
        display:none !important;
    }
    body .ui-autocomplete-panel table td:nth-child(4) {
        display:none !important;
    }
    body .ui-autocomplete-panel table td:nth-child(5) {
        display:none !important;
    }
    .main-title {
        font-size: 18px;
        font-weight: bold;
    }
    .main-subtitle {
        font-size: 17px;
        font-weight: bold;
    }
    .layout-main-popup {
        padding-top: 0 !important;
    }
    .ui-sticky {
        top: 112px !important;
    }
}