.ajax-status-centered {
    width:80px;
    height:80px;
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 996 !important;
}
.ajax-status-icon {
    font-size: 8em !important;
    color: rgb(249, 61, 6) !important;
}
.ajax-status-content {
    background: transparent !important;
}
.layout-footer {
    padding: 10px 20px !important;
}
.center {
    text-align: center !important;
}
.left {
    text-align: left !important;
}
.right {
    text-align: right !important;
}

.label {
    font-weight: bold !important;
}
.font-bold {
    font-weight: bold !important;
}
.font-green {
    color: #0f7d0b !important;
}
.font-red {
    color: #ff0000 !important;
}
.font-blue {
    color: #007bff !important;
}
.font-error {
    color: #ff0000 !important;
    font-size: 1.5em !important;
}
.font-info {
    color: #007bff !important;
    font-size: 1.5em !important;
}

.svg-container {
    height: 0;
    width: 99% !important;
    position: relative;
}