<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">



    <div id="layout-config" class="layout-config">
        <div class="layout-config-content">
            <a href="#" id="layout-config-button" class="layout-config-button">
                <i class="fa fa-cog"></i>
            </a>
            <a href="#" class="layout-config-close">
                <i class="fa fa-times"></i>
            </a>
            <h:form id="config-form">
                <p:tabView id="config-form-tabs">
                    <p:tab title="Menu">
                        <p:outputPanel id="menumodes-panel">
                            <h1>Menu Modes</h1>
                            <div class="panel-items">
                                <div class="panel-item">
                                    <p:commandLink
                                        actionListener="#{webPreferences.setMenuLayout('static')}"
                                        oncomplete="PrimeFaces.AvalonConfigurator.changeMenuToStatic()"
                                        update=":config-form:config-form-tabs:menumodes-panel :config-form:config-form-tabs:userprofile-panel menuform">
                                        <ui:fragment rendered="#{webPreferences.menuLayout == 'menu-layout-static'}">
                                            <i class="fa fa-check"></i>
                                        </ui:fragment>
                                        <p:graphicImage name="images/configurator/menu/Avalon-Static.png"
                                        library="avalon-layout" title="Static" />
                                    </p:commandLink>
                                    <span>Static</span>
                                </div>
                                <div class="panel-item">
                                    <p:commandLink
                                        actionListener="#{webPreferences.setMenuLayout('overlay')}"
                                        oncomplete="PrimeFaces.AvalonConfigurator.changeMenuToOverlay()"
                                        update=":config-form:config-form-tabs:menumodes-panel :config-form:config-form-tabs:userprofile-panel menuform">
                                        <ui:fragment rendered="#{webPreferences.menuLayout == 'menu-layout-overlay'}">
                                            <i class="fa fa-check"></i>
                                        </ui:fragment>
                                        <p:graphicImage name="images/configurator/menu/Avalon-Overlay.png"
                                        library="avalon-layout" title="Overlay" />
                                    </p:commandLink>
                                    <span>Overlay</span>
                                </div>
                                <div class="panel-item">
                                    <p:commandLink 
                                        actionListener="#{webPreferences.setMenuLayout('horizontal')}"
                                        oncomplete="PrimeFaces.AvalonConfigurator.changeMenuToHorizontal()"
                                        update=":config-form:config-form-tabs:menumodes-panel :config-form:config-form-tabs:userprofile-panel menuform topbar-items-form">
                                        <ui:fragment
                                            rendered="#{webPreferences.menuLayout == 'menu-layout-static menu-layout-horizontal'}">
                                            <i class="fa fa-check"></i>
                                        </ui:fragment>
                                        <p:graphicImage name="images/configurator/menu/Avalon-Horizontal.png"
                                        library="avalon-layout" title="Horizontal" />
                                    </p:commandLink>
                                    <span>Horizontal</span>
                                </div>
                                <div class="panel-item">
                                    <p:commandLink
                                        actionListener="#{webPreferences.setMenuLayout('slim')}"
                                        oncomplete="PrimeFaces.AvalonConfigurator.changeMenuToSlim()"
                                        update=":config-form:config-form-tabs:menumodes-panel :config-form:config-form-tabs:userprofile-panel menuform">
                                        <ui:fragment rendered="#{webPreferences.menuLayout == 'menu-layout-static menu-layout-slim'}">
                                            <i class="fa fa-check"></i>
                                        </ui:fragment>
                                        <p:graphicImage name="images/configurator/menu/Avalon-Slim.png"
                                        library="avalon-layout" title="Slim" />
                                    </p:commandLink>
                                    <span>Slim</span>
                                </div>
                            </div>
                        </p:outputPanel>

                        <p:outputPanel id="menucolors-panel">
                            <h1>Menu Colors</h1>
                            <div class="panel-items">
                                <div class="panel-item">
                                    <p:commandLink actionListener="#{webPreferences.setDarkMenu()}"
                                        oncomplete="PrimeFaces.AvalonConfigurator.changeMenuToDark()"
                                        update=":config-form:config-form-tabs:menucolors-panel menuform">
                                        <p:graphicImage name="images/configurator/menu/Avalon-Dark.png"
                                        library="avalon-layout" title="Dark" />
                                        <ui:fragment rendered="#{webPreferences.menuClass == 'layout-menu-dark'}">
                                            <i class="fa fa-check"></i>
                                        </ui:fragment>
                                    </p:commandLink>
                                    <span>Dark</span>
                                </div>
                                <div class="panel-item">
                                    <p:commandLink actionListener="#{webPreferences.setLightMenu()}"
                                        oncomplete="PrimeFaces.AvalonConfigurator.changeMenuToLight()"
                                        update=":config-form:config-form-tabs:menucolors-panel menuform">
                                        <p:graphicImage name="images/configurator/menu/Avalon-Static.png"
                                        library="avalon-layout" title="Light" />
                                        <ui:fragment rendered="#{webPreferences.menuClass == null}">
                                            <i class="fa fa-check"></i>
                                        </ui:fragment>
                                    </p:commandLink>
                                    <span>Light</span>
                                </div>
                            </div>
                        </p:outputPanel>
                    </p:tab>
                    <p:tab title="User Profile">
                        <p:outputPanel id="userprofile-panel">
                            <div class="panel-items">
                                <div class="panel-item">
                                    <p:commandLink actionListener="#{webPreferences.setProfileMode('inline')}"
                                        ajax="false "  update=":config-form:config-form-tabs:userprofile-panel menuform"
                                        disabled="#{webPreferences.menuLayout == 'menu-layout-static menu-layout-horizontal'}">
                                        <p:graphicImage name="images/configurator/menu/Avalon-Inline.png"
                                        library="avalon-layout" title="Inline" />
                                        <ui:fragment rendered="#{webPreferences.profileMode == 'inline'}">
                                            <i class="fa fa-check"></i>
                                        </ui:fragment>
                                    </p:commandLink>
                                    <span>Inline</span>
                                </div>
                                <div class="panel-item">
                                    <p:commandLink actionListener="#{webPreferences.setProfileMode('overlay')}"
                                        ajax="false" update=":config-form:config-form-tabs:userprofile-panel menuform"
                                        disabled="#{webPreferences.menuLayout == 'menu-layout-static menu-layout-horizontal'}">
                                        <p:graphicImage name="images/configurator/menu/Avalon-Popup.png"
                                        library="avalon-layout" title="Overlay" />
                                        <ui:fragment rendered="#{webPreferences.profileMode == 'overlay'}">
                                            <i class="fa fa-check"></i>
                                        </ui:fragment>
                                    </p:commandLink>
                                    <span>Overlay</span>
                                </div>
                            </div>
                        </p:outputPanel>
                    </p:tab>
                    <p:tab title="Bootstrap">
                        <p:outputPanel id="bootstrap-panel">
                            <div class="panel-items">
                                <div class="panel-item">
                                    <p:commandLink actionListener="#{webPreferences.setVersion('3')}"
                                            oncomplete="PrimeFaces.AvalonConfigurator.changeBootstrapVersion('3')"
                                            update=":config-form:config-form-tabs:bootstrap-panel :config-form:config-form-tabs:layoutflatcolors-panel :config-form:config-form-tabs:layoutspecialcolors-panel :config-form:config-form-tabs:componentthemes-panel">
                                        <p:graphicImage name="images/configurator/v3/avalon-bootstrap3.png" library="avalon-layout" title="Inline" />
                                        <ui:fragment rendered="#{webPreferences.version == ''}">
                                            <i class="fa fa-check" ></i>
                                        </ui:fragment>
                                    </p:commandLink>
                                    <span>v3</span>
                                </div>
                                <div class="panel-item">
                                    <p:commandLink actionListener="#{webPreferences.setVersion('4')}"
                                        oncomplete="PrimeFaces.AvalonConfigurator.changeBootstrapVersion('4')"
                                        update=":config-form:config-form-tabs:bootstrap-panel :config-form:config-form-tabs:layoutflatcolors-panel :config-form:config-form-tabs:layoutspecialcolors-panel :config-form:config-form-tabs:componentthemes-panel">
                                        <p:graphicImage name="images/configurator/v4/avalon-bootstrap4.png" library="avalon-layout" title="Overlay" />
                                        <ui:fragment rendered="#{webPreferences.version == '-v4'}">
                                            <i class="fa fa-check" ></i>
                                        </ui:fragment>
                                    </p:commandLink>
                                    <span>v4</span>
                                </div>
                            </div>
                        </p:outputPanel>
                    </p:tab>
                    <p:tab title="Layout">
                        <p:outputPanel id="layoutflatcolors-panel">
                            <h1>Flat</h1>
                            <div class="panel-items">
                                <ui:repeat value="#{webPreferences.layoutThemes}" var="layoutTheme">
                                    <div class="panel-item colors">
                                        <p:commandLink
                                            actionListener="#{webPreferences.setLayout(layoutTheme.file, layoutTheme.special)}"
                                            update=":config-form:config-form-tabs:layoutflatcolors-panel :config-form:config-form-tabs:layoutspecialcolors-panel"
                                            oncomplete="PrimeFaces.AvalonConfigurator.changeLayout('#{layoutTheme.file}', '#{webPreferences.version}')"
                                            styleClass="layout-config-layout-option">
                                            <p:graphicImage name="images/configurator/#{webPreferences.version eq '-v4' ? 'v4' : 'v3'}/layouts/flat/#{layoutTheme.image}"
                                            library="avalon-layout" title="#{layoutTheme.name}" />
                                            <ui:fragment rendered="#{webPreferences.isEqual(layoutTheme.file, webPreferences.layout)}">
                                                <i class="fa fa-check"></i>
                                            </ui:fragment>
                                        </p:commandLink>
                                    </div>
                                </ui:repeat>
                            </div>
                        </p:outputPanel>

                        <p:outputPanel id="layoutspecialcolors-panel">
                            <h1>Special</h1>
                            <div class="panel-items">
                                <ui:repeat value="#{webPreferences.layoutSpecialThemes}" var="layoutSpecialTheme">
                                    <div class="panel-item colors">
                                        <p:commandLink
                                            actionListener="#{webPreferences.setLayout(layoutSpecialTheme.file, layoutSpecialTheme.special)}"
                                            update=":config-form:config-form-tabs:layoutflatcolors-panel :config-form:config-form-tabs:layoutspecialcolors-panel"
                                            oncomplete="PrimeFaces.AvalonConfigurator.changeLayout('#{layoutSpecialTheme.file}', '#{webPreferences.version}')"
                                            styleClass="layout-config-layout-option">
                                            <p:graphicImage name="images/configurator/#{webPreferences.version eq '-v4' ? 'v4' : 'v3'}/layouts/special/#{layoutSpecialTheme.image}"
                                            library="avalon-layout" title="#{layoutSpecialTheme.name}" />
                                            <ui:fragment rendered="#{webPreferences.isEqual(layoutSpecialTheme.file, webPreferences.layout)}">
                                                <i class="fa fa-check"></i>
                                            </ui:fragment>
                                        </p:commandLink>
                                    </div>
                                </ui:repeat>
                            </div>
                        </p:outputPanel>
                    </p:tab>
                    <p:tab title="Themes">
                        <p:outputPanel id="componentthemes-panel">
                            <div class="panel-items">
                                <ui:repeat value="#{webPreferences.componentThemes}" var="componentTheme">
                                    <div class="panel-item colors">
                                        <p:commandLink
                                            actionListener="#{webPreferences.setTheme(componentTheme.file)}"
                                            update=":config-form:config-form-tabs:componentthemes-panel"
                                            oncomplete="PrimeFaces.AvalonConfigurator.changeComponentsTheme('#{componentTheme.file}', '#{webPreferences.version}')"
                                            styleClass="layout-config-option">
                                            <p:graphicImage name="images/configurator/#{webPreferences.version eq '-v4' ? 'v4' : 'v3'}/themes/#{componentTheme.image}"
                                            library="avalon-layout" title="#{componentTheme.name}" />
                                            <ui:fragment rendered="#{webPreferences.isEqual(componentTheme.file, webPreferences.theme)}">
                                                <i class="fa fa-check"></i>
                                            </ui:fragment>
                                        </p:commandLink>
                                    </div>
                                </ui:repeat>
                            </div>
                        </p:outputPanel>
                    </p:tab>
                </p:tabView>
            </h:form>
        </div>
    </div>
</ui:composition>