<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:ajaxStatus styleClass="ajax-status-centered" widgetVar="ajaxStatusVar">
		<f:facet name="start">
			<i class="fa fa-circle-o-notch fa-spin ajax-status-icon" aria-hidden="true"></i>
		</f:facet>
		<f:facet name="complete">
			<h:outputText value="" />
		</f:facet>
	</p:ajaxStatus>
</ui:composition>