<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		widgetVar="mainConfirmDialog" header="#{msg['msg.confirm.title']}"
		message="#{msg['msg.confirm.info']}">
		<p:commandButton value="#{msg['msg.button.yes']}" type="button"
			styleClass="ui-confirmdialog-yes button-action" 
			style="margin-right:5px;"
			icon="fa fa-check">
		</p:commandButton>
		<p:commandButton value="#{msg['msg.button.no']}" 
			type="button" style="margin-left:5px;"
			styleClass="ui-confirmdialog-no button-action"
			icon="fa fa-close">
		</p:commandButton>
	</p:confirmDialog>
</ui:composition>