<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:remove> ++++++++++++++++ ExceptionHandler +++++++++++++++++ </ui:remove>
	<p:ajaxExceptionHandler type="javax.faces.application.ViewExpiredException" 
		update="viewExpiredDialog" onexception="PF('viewExpiredDialog').show();" />

	<p:dialog id="viewExpiredDialog" widgetVar="viewExpiredDialog" width="500" height="150px" closable="false">
		<f:facet name="header">
			<h:outputText value="#{msg['msg.page.view.expire.title']}" />
		</f:facet>

		<h:panelGrid styleClass="table-form" columnClasses="center">
			<h:outputText value="" />
			<h:outputText value="" />
			<h:outputText value="#{msg['msg.page.view.expire.message']}" styleClass="font-error" />
			<h:outputText value="" />

			<p:commandButton value="#{msg['msg.button.relogin']}" 
				immediate="true" global="false" onclick="doLogoutAction();">
			</p:commandButton>
		</h:panelGrid>
	</p:dialog>

	<script type="text/javascript">
		function doLogoutAction() {
			window.location.href = "#{request.contextPath}/";
		}
	</script>
</ui:composition>