<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pu="http://primefaces.org/avalon">

    <h:form id="menuform">
        <div class="layout-menu-container #{webPreferences.menuClass}">
            <div class="nano">
                <div class="nano-content menu-scroll-content">
                    <ui:fragment rendered="#{webPreferences.profileMode == 'inline' and webPreferences.menuLayout != 'menu-layout-static menu-layout-horizontal'}">
                        <div class="profile">
                            <a id="profile-options" href="#">
                                <p:graphicImage name="images/avatar.png" library="avalon-layout" styleClass="profile-image" style="border: 0 none"/>
                                <span class="profile-name">Isabel Oliviera</span>
                                <i class="fa fa-fw fa-caret-down"></i>
                                <span class="profile-role">Marketing</span>
                            </a>
                        </div>

                        <ul id="profile-menu" class="layout-menu">
                            <li role="menuitem">
                                <a href="#">
                                    <i class="fa fa-fw fa-user"></i>
                                    <span>Profile</span>
                                </a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Profile</div>
                                </div>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="fa fa-fw fa-user-secret"></i>
                                    <span>Privacy</span>
                                </a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Privacy</div>
                                </div>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="fa fa-fw fa-cog"></i>
                                    <span>Settings</span>
                                </a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Settings</div>
                                </div>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="fa fa-fw fa-sign-out"></i>
                                    <span>Logout</span>
                                </a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Logout</div>
                                </div>
                            </li>
                        </ul>
                    </ui:fragment>

                    <pu:menu widgetVar="me">
                    	<p:menuitem value="Dashboard" icon="fa fa-fw fa-dashboard" outcome="/dashboard.xhtml" 
                    		rendered="#{loginCtrl.admin or loginCtrl.opersation}"/>
                    		
                        <p:submenu label="Bill Presentment" icon="fa fa-fw fa-sitemap" rendered="#{loginCtrl.admin}">
                            <p:menuitem value="Manipuation Process" icon="fa fa-fw fa-tasks" 
                            	outcome="/manipulate.xhtml"
                            	rendered="#{loginCtrl.admin or loginCtrl.manipulate}"/>
                            <p:menuitem value="Template Config" icon="fa fa-fw fa-file-text-o" 
                            	outcome="/design.xhtml"
                            	rendered="#{loginCtrl.admin}"/>
                        </p:submenu>
						<p:menuitem value="Manipuation Process" icon="fa fa-fw fa-tasks"
							outcome="/manipulate.xhtml"
							rendered="#{loginCtrl.manipulate}" />
						<p:menuitem value="Documentation" icon="fa fa-fw fa-book" />
                    </pu:menu>
                </div>
            </div>
        </div>
    </h:form>
</ui:composition>
