<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon.ico']}" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta name="theme-color" content="#{webPreferences.themeColors[webPreferences.theme]}" />
        </f:facet>
        <title><ui:insert name="title">Bill Presentment Prototype</ui:insert></title>
        <h:outputScript name="js/nanoscroller.js" library="avalon-layout" />
        <h:outputScript name="js/layout.js" library="avalon-layout" />
        <h:outputScript name="js/application.js" />
        <ui:insert name="head"/>
    </h:head>

    <h:body>
        
        <div class="layout-wrapper #{webPreferences.menuLayout}">
            <ui:include src="./topbar.xhtml" />
            <ui:include src="./menu.xhtml" />
            
            <div class="layout-main">
            	<ui:include src="inc-ajax-status.xhtml" />
            	<ui:include src="inc-confirm-dialog.xhtml" />
            	<ui:include src="inc-exception-handler.xhtml" />
                <ui:insert name="content"/>
            </div>
            
            <h:panelGroup rendered="false">
            	<ui:include src="./config.xhtml" />
            </h:panelGroup>

			<ui:insert name="popup" />
        </div>

        <h:outputStylesheet name="css/nanoscroller.css" library="avalon-layout" />
        <h:outputStylesheet name="css/animate.css" library="avalon-layout" />
        <h:outputStylesheet name="css/layout-#{webPreferences.layout}.css" library="avalon-layout" />
        <h:outputStylesheet name="css/style-app.css" />
    </h:body>

</html>