<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pu="http://primefaces.org/avalon">

    <div class="topbar clearfix">
        <div class="topbar-left">            
            <p:graphicImage name="images/true-logo.png" styleClass="topbar-logo"/>
        </div>
        
        <div class="topbar-right">
            <a id="menu-button" href="#">
                <i class="fa fa-angle-left"></i>
            </a>
            
            <a id="topbar-menu-button" href="#">
                <i class="fa fa-bars"></i>
            </a>
            
            <h:form id="topbar-items-form">
                <ul class="topbar-items fadeInDown animated">
                    <ui:fragment rendered="#{webPreferences.profileMode == 'overlay'||webPreferences.menuLayout == 'menu-layout-static menu-layout-horizontal'}">
                        <li class="profile-item">
                            <a href="#">                            
                                <p:graphicImage name="#{loginCtrl.avatar}" library="avalon-layout" 
                                	styleClass="profile-image" style="border: 0 none"/>
                                <span class="topbar-item-name">#{loginCtrl.fullName}</span>
                                <span class="topbar-item-role">#{loginCtrl.position}</span>
                            </a>

                            <ul class="layout-menu animated">
                                <li role="menuitem">
                                    <a href="#">
                                        <i class="fa fa-fw fa-user"></i>
                                        <span>Profile</span>
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a href="#">
                                        <i class="fa fa-fw fa-user-secret"></i>
                                        <span>Privacy</span>
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a href="#">
                                        <i class="fa fa-fw fa-cog"></i>
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li role="menuitem">
                                	<p:commandLink action="#{loginCtrl.logout()}">
                                        <i class="fa fa-fw fa-sign-out"></i>
                                        <span>Logout</span>
                                	</p:commandLink>
                                </li>
                            </ul>
                        </li>
                    </ui:fragment>

                    <li>
                        <a href="#">
                            <i class="topbar-icon fa fa-fw fa-bell-o"></i>
                            <span class="topbar-badge animated rubberBand">3</span>
                            <span class="topbar-item-name">Notifications</span>
                        </a>
                        <ul class="layout-menu animated">
                            <li role="menuitem">
                                <a href="#">
                                    <i class="fa fa-fw fa-tasks"></i>
                                    <span>Pending tasks</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="fa fa-fw fa-calendar-check-o"></i>
                                    <span>Meeting today at 3pm</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="fa fa-fw fa-download"></i>
                                    <span>Download documents</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="search-item">
                        <div class="topbar-search">
                            <input type="text" placeholder="Search" onkeypress="if (event.keyCode == 13) {return false;}"/>
                            <i class="fa fa-search" />
                        </div>
                    </li>
                </ul>
            </h:form>
        </div>
    </div>

</ui:composition>