<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="jakarta.faces.facelets"
                xmlns:p="http://primefaces.org/ui">
    <div>
        <p:skeleton width="10rem" height="4rem"/>
    </div>
</ui:composition>