<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" 
	template="template.xhtml">

	<ui:define name="title">File Uploads</ui:define>
	<ui:define name="content">
		<h:form id="sysForm" enctype="multipart/form-data">
			<p:growl id="messages" showDetail="true" keepAlive="true"/>

			<p:tabView multiViewState="true" id="tabViewMVS" prependId="false">
				<p:tab title="File Upload Single">
					<p>Single mode allows only one file to be selected at a time
						from the native file dialog.</p>
					<p:fileUpload listener="#{fileUploadCtrl.handleFileUpload}">
					</p:fileUpload>
				</p:tab>
				<p:tab title="File Upload Multiple">
					<p>Multiple mode allows multiple files to be selected from the
						native file dialog. Note that legacy browsers do not support
						multiple selection.</p>
					<p:fileUpload listener="#{fileUploadCtrl.handleFileUpload}"
						mode="advanced" dragDropSupport="false" multiple="true"
						sizeLimit="100000" fileLimit="3"
						allowTypes="/(\.|\/)(gif|jpe?g|png)$/">
					</p:fileUpload>
				</p:tab>
				<p:tab title="File Upload Drag and Drop">
					<p>In supported browsers, a file can be selected by dragdrop
						from filesystem.</p>
					<p:fileUpload listener="#{fileUploadCtrl.handleFileUpload}"
						mode="advanced" dragDropSupport="true" update="sysForm:messages"
						sizeLimit="100000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/">
					</p:fileUpload>
				</p:tab>
				<p:tab title="File Upload Drop Zone">
					<h5>Drop Zone</h5>
					<div class="ui-fluid">
						<div class="p-field">
							<p:inputTextarea id="customDropZone" widgetVar="textarea" rows="5"/>
							<small> Drop on the text area to upload, or <p:link
									value="choose" onclick="PF('uploadDnd').show();return false"
									style="font-size:inherit" />.
							</small>
						</div>
					</div>
					<p:fileUpload widgetVar="uploadDnd"
						listener="#{fileUploadCtrl.handleFileUploadTextarea}"
						sizeLimit="100000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
						dropZone="customDropZone" style="display: none" >
					</p:fileUpload>
				</p:tab>
			</p:tabView>
		</h:form>
	</ui:define>
</ui:composition>