<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="template.xhtml">

	<ui:define name="title">Form Input</ui:define>
	<ui:define name="content">
		<h:form id="sysForm">
			<p:growl id="messages" showDetail="true" keepAlive="true" />
			<div class="card">
				<h5>Customer Information</h5>
				<div class="formgrid grid">
					<div class="field col-12 md:col-6">
						<label for="firstName">First Name</label> 
						<p:inputText id="firstName" value="#{formInputCtrl.customer.firstName}" 
							styleClass="inputfield w-full">
						</p:inputText>
					</div>
					<div class="field col-12 md:col-6">
						<label for="lastName">Last Name</label> 
						<p:inputText id="lastName" value="#{formInputCtrl.customer.lastName}" 
							styleClass="inputfield w-full">
						</p:inputText>
					</div>
					<div class="field col-12">
						<label for="address">Address</label>
						<p:inputTextarea id="address" value="#{formInputCtrl.customer.address}" 
							styleClass="inputfield w-full" rows="4">
						</p:inputTextarea>
					</div>
					<div class="field col-12 md:col-6">
						<label for="city">City</label> 
						<p:inputText id="city" value="#{formInputCtrl.customer.city}" 
							styleClass="inputfield w-full">
						</p:inputText>
					</div>
					<div class="field col-12 md:col-3">
						<label for="state">State</label> 
						<p:selectOneMenu id="state" value="#{formInputCtrl.customer.state}" 
							styleClass="w-full inputfield">
							<f:selectItem itemValue="Arizona" itemLabel="Arizona" />
							<f:selectItem itemValue="California" itemLabel="California" />
							<f:selectItem itemValue="Florida" itemLabel="Florida" />
							<f:selectItem itemValue="Ohio" itemLabel="Ohio" />
							<f:selectItem itemValue="Washington" itemLabel="Washington" />
						</p:selectOneMenu>
					</div>
					<div class="field col-12 md:col-3">
						<label for="zip">Zip</label> 
						<p:inputText id="zip" value="#{formInputCtrl.customer.zip}" 
							styleClass="inputfield w-full">
						</p:inputText>
					</div>
					
					<div class="field col-12" style="text-align: center;">
						<p:commandButton value="Save Data" 
							action="#{formInputCtrl.saveAction()}"
							update="@form">
						</p:commandButton>
						<p:commandButton value="Cancel Data" 
							action="#{formInputCtrl.cancelAction()}"
							update="@form" process="@this" 
							styleClass="ui-button-danger" style="margin-left:15px;">
						</p:commandButton>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>