<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" 
	template="template.xhtml">

	<ui:define name="title">File Uploads</ui:define>
	<ui:define name="content">
		<h:form id="sysForm">
			<p:growl id="messages" showDetail="true" keepAlive="true"/>
			
			<p:tabView multiViewState="true" id="tabViewMVS">
				<p:tab title="File Upload Single">
					<div>Single mode allows only one file to be selected at a time from the native file dialog.</div>
					<p:fileUpload listener="#{fileUploadCtrl.handleFileUpload}" />
				</p:tab>
				<p:tab title="File Upload Multiple">
					<div>Multiple mode allows multiple files to be selected from the native file dialog. Note that legacy browsers do not support multiple selection.</div>
				</p:tab>
			</p:tabView>
		</h:form>
	</ui:define>
</ui:composition>