<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" 
	template="template.xhtml">

	<ui:define name="title">Form Input</ui:define>
	<ui:define name="content">
		<h:form id="sysForm">
			<p:growl id="messages" showDetail="true" keepAlive="true" />
			<div class="card">
				<h5>Customer Information</h5>
				<p:outputPanel deferred="true" loaded="#{outputPanelCtrl.loadCustomerSucces}" class="p-mt-2">
                    <p:ajax event="load" listener="#{outputPanelCtrl.loadCustomAction()}" async="true" />
                    <f:facet name="loading">
						<ui:include src="/demo/include/inc-skeleton-card.xhtml" />
                    </f:facet>				
					<ui:include src="/demo/include/inc-customer.xhtml" />
				</p:outputPanel>
			</div>
			
			<div class="card">
				<h5>Order Information</h5>
				<p:outputPanel deferred="true" loaded="#{outputPanelCtrl.loadOrderSucces}" class="p-mt-2">
                    <p:ajax event="load" listener="#{outputPanelCtrl.loadOrderAction()}" async="true" />
                    <f:facet name="loading">
						<ui:include src="/demo/include/inc-skeleton-card.xhtml" />
                    </f:facet>				
					Ok
				</p:outputPanel>			
			</div>
		</h:form>
	</ui:define>
</ui:composition>