body {
    font-family: Tatsana, sans-serif !important;
    font-size: 16px;
}
body .ui-widget {
    font-family: Tatsana, sans-serif !important;
    font-size: 16px;
}
.layout-main .layout-content {
    padding: 1em !important;
}
.ajax-status-centered {
    width:80px;
    height:80px;
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 996 !important;
}
.ajax-status-icon {
    font-size: 8em !important;
    color: rgb(249, 61, 6) !important;
}
.ajax-status-content {
    background: transparent !important;
}
.layout-wrapper .topbar .topbar-left .topbar-logo {
    height: 35px !important;
}
.login-body .login-image {
    background: url("#{resource['/images/cover-login.jpg']}") center center no-repeat;
    background-size: cover;
}
.login-body-block {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}

.layout-footer {
    padding: 10px 20px !important;
}
.font-red {
    color: #FF0000 !important;
}
.font-error {
    color: #FF0000 !important;
}
.font-green {
    color: #1c7430 !important;
}
.font-blue {
    color: #0d61d0 !important;
}
.font-white {
    color: #ffffff !important;
}
.font-small{
    font-weight:1500 !important
}
.fa-size-1-5 {
    font-size: 1.5rem !important;
}
.fa-size-2 {
    font-size: 2rem !important;
}
.fa-size-3 {
    font-size: 3rem !important;
}
.fa-size-4 {
    font-size: 4rem !important;
}
.fa-size-5 {
    font-size: 5rem !important;
}
.text-wrap {
    text-wrap: pretty !important;
}
.custom-step {
    display: flex;
    width: 3rem !important;
    height: 3rem !important;
    align-items: center;
    justify-content: center;
    border-radius: 50% !important;
    z-index: 1;
}
.ui-chronoline-horizontal .ui-chronoline-event-connector {
    width: auto !important;
}
body a, body a:hover {
    text-decoration: none;
    text-underline: none !important;
}
a .ui-commandlink, a .ui-commandlink:hover {
    text-underline: none !important;
}

/* +++++++++++++++ Table +++++++++++++++ */
body .ui-datatable thead th {
    padding: 0.7rem 0.6rem;
}
body .ui-datatable-empty-message {
    text-align: center !important;
    font-weight: bold;
    color: #e74c3c !important;
}
body .ui-datatable .ui-datatable-data > tr > td {
    padding: 0.5rem 0.5rem;
}
body .ui-datatable .ui-datatable-header {
    padding: 5px 5px;
}
/** ++++++++++++++++++++++++ Tabs ++++++++++++++++++++++++ **/
body .ui-tabs.ui-tabs-top>.ui-tabs-nav li.ui-tabs-header.ui-state-active {
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: #2196f3 !important;
}
body .ui-tabs.ui-tabs-top>.ui-tabs-nav li.ui-tabs-header {
    top: 0;
    border-bottom: 2px solid #dee2e6 !important;
    border-radius: 0 !important;
}

/** ++++++++++++++++++++++++ picklist ++++++++++++++++++++++++ **/
.ui-picklist .ui-picklist-list {
    height: 300px;
}
body .ui-datatable .ui-paginator {
    padding: 0.75rem 0.75rem 0.5rem 0.75rem !important;
}
body .ui-paginator .ui-paginator-first, body .ui-paginator .ui-paginator-prev, body .ui-paginator .ui-paginator-next, body .ui-paginator .ui-paginator-last {
    margin: 2px 0 0 -1px !important;
}
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-current {
    padding: 0 !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
select {
    background-color:#ffffff;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A@{arrow}%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A") !important;
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    border-radius: var(--border-radius);
    padding: 7px 30px 10px 7px;
    margin-top: 1px !important;
    outline: none;
    border: 1px solid var(--surface-400);
    color: var(--text-color);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
@-moz-document url-prefix() {
    select {
        color: rgba(0,0,0,0);
        text-shadow: 0 0 0 #ffffff;
    }
}