<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div class="layout-breadcrumb">
		<div class="breadcrumb">
			<div class="breadcrumb-icon">
				<i class="pi pi-sitemap" aria-hidden="true"/>
			</div>
			<div class="route-bar-breadcrumb">
				<ui:insert name="viewname" />
			</div>
		</div>
	</div>

</ui:composition>