<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div class="layout-config">
		<div class="layout-config-content">
			<a href="#" class="layout-config-button">
				<i class="pi pi-cog" aria-hidden="true"/>
			</a>
			
			<h:form id="config-form">
				<p:tabView id="config-form-tabs">
					<ui:remove> +++++++++++++ Thems +++++++++++++++ </ui:remove>
					<p:tab title="Theme">
						<div class="layout-config-subtitle first">Your Palette</div>
						<h:panelGroup id="layout-config-palette" layout="block" styleClass="p-grid layout-config-palette">
							<div class="p-col p-col-fixed">
								<span style="background-color: #{webPreferences.menuBgColor};"
									class="layout-config-selected-palette"
									title="#{webPreferences.menuTitle}">
								</span>
								<span class="layout-config-selected-palette-title"> Menu </span>
							</div>
							<div class="p-col p-col-fixed">
								<span style="background-color: #{webPreferences.themeBgColor};"
									class="layout-config-selected-palette"
									title="#{webPreferences.themeTitle}">
								</span>
								<span class="layout-config-selected-palette-title"> Menu Active </span>
							</div>
							<div class="p-col p-col-fixed">
								<span style="background-color: #{webPreferences.topbarBgColor};"
									class="layout-config-selected-palette"
									title="#{webPreferences.topbarTitle}" >
								</span>
								<span class="layout-config-selected-palette-title">Topbar </span>
							</div>
							<div class="p-col p-col-fixed">
								<span style="background-color: #{webPreferences.componentBgColor};"
									class="layout-config-selected-palette"
									title="#{webPreferences.componentTitle}">
								</span> 
								<span class="layout-config-selected-palette-title">Component </span>
							</div>
						</h:panelGroup>
						
						<div class="layout-config-subtitle">Palettes</div>
						<div class="p-grid layout-config-palettes">
							<ui:repeat value="#{webPreferences.palettes}" var="paletteTheme">
								<p:outputPanel deferred="true" deferredMode="visible" styleClass="p-sm-4 p-md-3 p-lg-6 p-col-fixed">
									<p:commandLink styleClass="layout-config-palette-option"
										actionListener="#{webPreferences.changePalette(paletteTheme)}"
										update="@(.layout-config-palette) logolink"
										onstart="PrimeFaces.PandoraConfigurator.beforeResourceChange()"
										oncomplete="PrimeFaces.PandoraConfigurator.changePalette('#{paletteTheme.menuColor.name}', '#{paletteTheme.menuTheme.name}', '#{paletteTheme.topbarTheme.name}', '#{paletteTheme.componentTheme.name}')">
										<span style="background-color: #{paletteTheme.menuColor.code};" title="#{paletteTheme.menuColor.name}"></span>
										<span style="background-color: #{paletteTheme.menuTheme.code};" title="#{paletteTheme.menuTheme.name}"> </span>
										<span style="background-color: #{paletteTheme.topbarTheme.code};" title="#{paletteTheme.topbarTheme.name}"> </span>
										<span style="background-color: #{paletteTheme.componentTheme.code};" title="#{paletteTheme.componentTheme.name}"> </span>
									</p:commandLink>
								</p:outputPanel>
							</ui:repeat>
						</div>
					</p:tab>

					<ui:remove> +++++++++++++ Menu +++++++++++++++ </ui:remove>
					<p:tab title="Menu">
						<p:outputPanel id="menuthemes-panel">
							<div class="layout-config-subtitle first">Mode</div>
							<div class="p-grid">
								<div class="p-col p-col-fixed">
									<p:commandLink
										styleClass="layout-config-option layout-config-option-image"
										actionListener="#{webPreferences.setMenuMode('layout-static')}"
										update=":config-form:config-form-tabs:menuthemes-panel"
										oncomplete="PrimeFaces.PandoraConfigurator.changeMenuToStatic()">
										<p:graphicImage name="pandora-layout/images/configurator/menu/pandora-static.png" title="Static">
										</p:graphicImage>
										<span class="layout-config-option-text">Static</span>
										<ui:fragment rendered="#{webPreferences.menuMode eq 'layout-static'}">
											<span class="layout-config-option-check-mask"> 
												<i class="pi pi-check" aria-hidden="true"/>
											</span>
										</ui:fragment>
									</p:commandLink>
								</div>
								<div class="p-col p-col-fixed">
									<p:commandLink
										styleClass="layout-config-option layout-config-option-image"
										actionListener="#{webPreferences.setMenuMode('layout-overlay')}"
										update=":config-form:config-form-tabs:menuthemes-panel"
										oncomplete="PrimeFaces.PandoraConfigurator.changeMenuToOverlay()">
										<p:graphicImage name="pandora-layout/images/configurator/menu/pandora-overlay.png" title="Overlay">
										</p:graphicImage>
										<span class="layout-config-option-text">Overlay</span>
										<ui:fragment rendered="#{webPreferences.menuMode eq 'layout-overlay'}">
											<span class="layout-config-option-check-mask"> 
												<i class="pi pi-check" aria-hidden="true"/>
											</span>
										</ui:fragment>
									</p:commandLink>
								</div>
								<div class="p-col p-col-fixed">
									<p:commandLink
										styleClass="layout-config-option layout-config-option-image"
										actionListener="#{webPreferences.setMenuMode('layout-horizontal')}"
										update=":config-form:config-form-tabs:menuthemes-panel"
										oncomplete="PrimeFaces.PandoraConfigurator.changeMenuToHorizontal()">
										<p:graphicImage name="pandora-layout/images/configurator/menu/pandora-horizontal.png" title="Horizontal">
										</p:graphicImage>
										<span class="layout-config-option-text">Horizontal</span>
										<ui:fragment rendered="#{webPreferences.menuMode eq 'layout-horizontal'}">
											<span class="layout-config-option-check-mask"> 
												<i class="pi pi-check" aria-hidden="true"/>
											</span>
										</ui:fragment>
									</p:commandLink>
								</div>
								<div class="p-col p-col-fixed">
									<p:commandLink
										styleClass="layout-config-option layout-config-option-image"
										actionListener="#{webPreferences.setMenuMode('layout-slim')}"
										update=":config-form:config-form-tabs:menuthemes-panel"
										oncomplete="PrimeFaces.PandoraConfigurator.changeMenuToSlim()">
										<p:graphicImage name="pandora-layout/images/configurator/menu/pandora-slim.png" title="Slim">
										</p:graphicImage>
										<span class="layout-config-option-text">Slim</span>
										<ui:fragment
											rendered="#{webPreferences.menuMode eq 'layout-slim'}">
											<span class="layout-config-option-check-mask"> 
												<i class="pi pi-check" aria-hidden="true"/>
											</span>
										</ui:fragment>
									</p:commandLink>
								</div>
								<div class="p-col p-col-fixed">
									<p:commandLink
										styleClass="layout-config-option layout-config-option-image"
										actionListener="#{webPreferences.setMenuMode('layout-slim-plus')}"
										update=":config-form:config-form-tabs:menuthemes-panel"
										oncomplete="PrimeFaces.PandoraConfigurator.changeMenuToSlimPlus()">
										<p:graphicImage name="pandora-layout/images/configurator/menu/pandora-slimplus.png" title="SlimPlus">
										</p:graphicImage>
										<span class="layout-config-option-text">Slim Plus</span>
										<ui:fragment rendered="#{webPreferences.menuMode eq 'layout-slim-plus'}">
											<span class="layout-config-option-check-mask"> 
												<i class="pi pi-check" aria-hidden="true"/>
											</span>
										</ui:fragment>
									</p:commandLink>
								</div>
							</div>
							
							<div class="layout-config-subtitle">Type</div>
							<div class="p-grid">
								<div class="p-col p-col-fixed">
									<p:commandLink
										styleClass="layout-config-option layout-config-option-image"
										actionListener="#{webPreferences.setGroupedMenu(true)}"
										update=":config-form:config-form-tabs:menuthemes-panel menuform">
										<p:graphicImage name="pandora-layout/images/configurator/menu/pandora-grouped.png" title="Grouped">
										</p:graphicImage>
										<span class="layout-config-option-text">Grouped</span>
										<ui:fragment rendered="#{webPreferences.groupedMenu}">
											<span class="layout-config-option-check-mask"> 
												<i class="pi pi-check" aria-hidden="true"/>
											</span>
										</ui:fragment>
									</p:commandLink>
								</div>
								<div class="p-col p-col-fixed">
									<p:commandLink
										styleClass="layout-config-option layout-config-option-image"
										actionListener="#{webPreferences.setGroupedMenu(false)}"
										update=":config-form:config-form-tabs:menuthemes-panel menuform">
										<p:graphicImage name="pandora-layout/images/configurator/menu/pandora-ungrouped.png" title="Ungrouped">
										</p:graphicImage>
										<span class="layout-config-option-text">Ungrouped</span>
										<ui:fragment rendered="#{!webPreferences.groupedMenu}">
											<span class="layout-config-option-check-mask"> 
												<i class="pi pi-check" aria-hidden="true"/>
											</span>
										</ui:fragment>
									</p:commandLink>
								</div>
							</div>
							
							<div class="layout-config-subtitle">Color</div>
							<div class="p-grid">
								<ui:repeat value="#{webPreferences.menuColors.keySet().toArray()}" var="menuColor">
									<div class="p-col p-col-fixed">
										<p:commandLink
											styleClass="layout-config-option layout-config-option-image"
											actionListener="#{webPreferences.setMenuColor(menuColor)}"
											update=":config-form:config-form-tabs:menuthemes-panel :config-form:config-form-tabs:layout-config-palette"
											onstart="PrimeFaces.PandoraConfigurator.beforeResourceChange()"
											oncomplete="PrimeFaces.PandoraConfigurator.changeMenuTheme('#{menuColor}', '#{webPreferences.menuColors.get(menuColor).get(0).file}')">
											<p:graphicImage name="pandora-layout/images/configurator/menu/pandora-#{menuColor}.png" title="#{menuColor}">
											</p:graphicImage>
											<span class="layout-config-option-text">#{menuColor}</span>
											<ui:fragment rendered="#{menuColor eq webPreferences.menuColor}">
												<span class="layout-config-option-check-mask"> 
													<i class="pi pi-check" aria-hidden="true"/>
												</span>
											</ui:fragment>
										</p:commandLink>
									</div>
								</ui:repeat>
							</div>
							
							<div class="layout-config-subtitle">Theme</div>
							<div class="p-grid">
								<ui:repeat value="#{webPreferences.themeMenuItems}" var="menuTheme">
									<div class="p-col p-lg-2 p-col-fixed">
										<p:commandLink styleClass="layout-config-option"
											actionListener="#{webPreferences.setMenuTheme(menuTheme.file)}"
											update=":config-form:config-form-tabs:menuthemes-panel :config-form:config-form-tabs:layout-config-palette"
											onstart="PrimeFaces.PandoraConfigurator.beforeResourceChange()"
											oncomplete="PrimeFaces.PandoraConfigurator.changeMenuTheme('#{webPreferences.menuColor}', '#{menuTheme.file}')">
											<span class="layout-config-option-color" style="background-color: #{menuTheme.color};">
											</span>
											<ui:fragment rendered="#{menuTheme.file eq webPreferences.menuTheme}">
												<span class="layout-config-option-check-mask"> 
													<i class="pi pi-check" aria-hidden="true"/>
												</span>
											</ui:fragment>
										</p:commandLink>
									</div>
								</ui:repeat>
							</div>
						</p:outputPanel>
					</p:tab>

					<ui:remove> +++++++++++++ Topbar +++++++++++++++ </ui:remove>
					<p:tab title="Topbar">
						<p:outputPanel id="topbarthemes-panel">
							<div class="p-grid">
								<ui:repeat value="#{webPreferences.topbarThemes}" var="topbarTheme">
									<div class="p-col p-lg-2 p-col-fixed">
										<p:commandLink styleClass="layout-config-option"
											actionListener="#{webPreferences.setTopbarTheme(topbarTheme.file)}"
											update=":config-form:config-form-tabs:topbarthemes-panel logolink :config-form:config-form-tabs:layout-config-palette"
											onstart="PrimeFaces.PandoraConfigurator.beforeResourceChange()"
											oncomplete="PrimeFaces.PandoraConfigurator.changeSectionTheme('#{topbarTheme.file}', 'layout-topbar')">
											<span class="layout-config-option-color" style="background-color: #{topbarTheme.color};" />
											<ui:fragment rendered="#{topbarTheme.file eq webPreferences.topbarTheme}">
												<span class="layout-config-option-check-mask"> 
													<i class="pi pi-check" aria-hidden="true"/>
												</span>
											</ui:fragment>
										</p:commandLink>
									</div>
								</ui:repeat>
							</div>
						</p:outputPanel>
					</p:tab>

					<ui:remove> +++++++++++++ Topbar +++++++++++++++ </ui:remove>
					<p:tab title="Components">
						<div class="layout-config-subtitle">Input Style</div>
						<p:selectOneRadio value="#{webPreferences.inputStyle}"
							layout="responsive" columns="1"
							onchange="PrimeFaces.PandoraConfigurator.updateInputStyle(event.target.value)">
							<f:selectItem itemLabel="Outlined" itemValue="outlined" />
							<f:selectItem itemLabel="Filled" itemValue="filled" />
							<p:ajax />
						</p:selectOneRadio>

						<div class="layout-config-subtitle">Theme</div>
						<p:outputPanel id="componentthemes-panel">
							<div class="p-grid">
								<ui:repeat value="#{webPreferences.componentThemes}" var="componentTheme">
									<div class="p-col p-lg-2 p-col-fixed">
										<p:commandLink styleClass="layout-config-option"
											actionListener="#{webPreferences.setComponentTheme(componentTheme.file)}"
											update=":config-form:config-form-tabs:componentthemes-panel :config-form:config-form-tabs:layout-config-palette"
											onstart="PrimeFaces.PandoraConfigurator.beforeResourceChange()"
											oncomplete="PrimeFaces.PandoraConfigurator.changeComponentsTheme('#{componentTheme.file}')">
											<span class="layout-config-option-color"
												style="background-color:#{componentTheme.color}"
												title="#{componentTheme.name}">
											</span>
											<ui:fragment rendered="#{componentTheme.file eq webPreferences.componentTheme}">
												<span class="layout-config-option-check-mask"> 
													<i class="pi pi-check" aria-hidden="true"/>
												</span>
											</ui:fragment>
										</p:commandLink>
									</div>
								</ui:repeat>
							</div>
						</p:outputPanel>
					</p:tab>
				</p:tabView>
			</h:form>
		</div>
	</div>
</ui:composition>