<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div class="menu-wrapper">
		<div class="layout-menu-container">
			<h:form id="menuform">				
				<ui:remove>+++++++++++++++++++++ Menu Mode +++++++++++++++++++++++++ </ui:remove>
				<ui:include src="#{webPreferences.groupedMenu ? 'menu-group.xhtml' : 'menu-ungrouped.xhtml'}" />
			</h:form>
		</div>
	</div>

</ui:composition>