<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/templates/template.xhtml">

	<ui:define name="title">Bill Presentment Dashboard</ui:define>

	<ui:define name="content">
		<div class="dashboard">
			<div class="ui-g overview-boxes">
				<div class="ui-g-12 ui-md-6 ui-lg-3">
					<div class="ui-g overview-box overview-box-1">
						<div class="overview-box-title">
							<i class="fa fa-tasks" /> <span>Total Task</span>
						</div>
						<div class="overview-box-count">12 Process</div>
						<div class="overview-box-stats">All process under 2020</div>
					</div>
				</div>
				<div class="ui-g-12 ui-md-6 ui-lg-3">
					<div class="ui-g overview-box overview-box-2">
						<div class="overview-box-title">
							<i class="fa fa-tasks" /> <span>Total Success</span>
						</div>
						<div class="overview-box-count">9 Process</div>
						<div class="overview-box-stats">All success process under 2020</div>
					</div>
				</div>
				<div class="ui-g-12 ui-md-6 ui-lg-3">
					<div class="ui-g overview-box overview-box-3">
						<div class="overview-box-title">
							<i class="fa fa-history" /> <span>Total Processing</span>
						</div>
						<div class="overview-box-count">1 Process</div>
						<div class="overview-box-stats">Current processing process</div>
					</div>
				</div>
				<div class="ui-g-12 ui-md-6 ui-lg-3">
					<div class="ui-g overview-box overview-box-4">
						<div class="overview-box-title">
							<i class="fa fa-exclamation-triangle" /> <span>Total Process Fail</span>
						</div>
						<div class="overview-box-count">2 Process</div>
						<div class="overview-box-stats">All fail process under 2020</div>
					</div>
				</div>
			</div>

			<div class="ui-g">
				<div class="ui-g-12 global-sales">
					<p:panel>
						<f:facet name="header">
							<i class="fa fa-tasks fa-orange" />
							<span>Batch Generator Process</span>
						</f:facet>
						<table>
							<thead>
								<tr>
									<th style="width: 5%;" class="center">No.</th>
									<th style="width: 5%;" class="center">Status</th>
									<th style="width: 20%;">Task Id</th>
									<th style="width: 10%;">Cycle</th>
									<th class="center">Process Start</th>
									<th class="center">Process End</th>
									<th class="right">Total</th>
									<th class="center">Completed</th>
									<th>Remark</th>
								</tr>
							</thead>
							<tbody>
								<p:repeat var="bean" value="#{indexCtrl.batchItems}" varStatus="inx">
								<tr>
									<td class="center">#{(inx.index + 1)}</td>
									<td class="center">
										<i class="#{bean.cssStatus}" aria-hidden="true"></i>										
									</td>
									<td class="#{bean.cssFont}">
										<p:commandLink action="#{indexCtrl.viewDeatil(bean)}" 
											rendered="#{bean.error}">
											<h:outputText value="#{bean.id}"/>
										</p:commandLink>
										<h:outputText value="#{bean.id}" rendered="#{!bean.error}"/>
									</td>
									<td class="#{bean.cssFont}">
										<h:outputText value="#{bean.cycle}"/>
									</td>									
									<td class="center #{bean.cssFont}">
										<h:outputFormat value="#{bean.processStart}">
											<f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss.SSS "/>
										</h:outputFormat>
									</td>
									<td class="center #{bean.cssFont}">
										<h:outputFormat value="#{bean.processEnd}">
											<f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss.SSS "/>
										</h:outputFormat>
									</td>
									<td class="right #{bean.cssFont}">
										<h:outputFormat value="#{bean.total}">
											<f:convertNumber maxFractionDigits="0"/>
										</h:outputFormat>
									</td>
									<td class="center #{bean.cssFont}">
										<h:outputFormat value="#{bean.percent}">
											<f:convertNumber maxFractionDigits="2"/>
										</h:outputFormat> % 
									</td>
									<td class="#{bean.cssFont}">
										<p:commandLink action="#{indexCtrl.viewDeatil(bean)}" 
											rendered="#{bean.error}">
											<h:outputText value="#{bean.remark}" styleClass="font-red"/>
										</p:commandLink>
										<h:outputText value="#{bean.remark}" rendered="#{!bean.error}"/>
									</td>
								</tr>
								</p:repeat>
							</tbody>
						</table>
					</p:panel>
				</div>
				
				<div class="ui-g-12">
					<div class="card">
						<span>
							<i class="fa fa-spinner fa-pulse fa-05x fa-blue" aria-hidden="true"></i> Processing
						</span>	
						<span style="margin-left: 15px;">
							<i class="fa fa-check-circle-o fa-05x fa-green" aria-hidden="true"></i> Success
						</span>	
						<span style="margin-left: 15px;">
							<i class="fa fa-times-circle-o fa-05x fa-red" aria-hidden="true"></i> Process Fail
						</span>	
					</div>
				</div>
			</div>
		</div>

	</ui:define>

</ui:composition>