<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/templates/template.xhtml">
	
	<ui:define name="title">Bill Presentment Template</ui:define>
	
	<ui:define name="content">
		<p:layout fullPage="true" id="layout-xx">
			<ui:remove> +++++++++++++ Left ++++++++++++++ </ui:remove>
			<p:layoutUnit position="west" size="400" header="Configuration" resizable="true">
				<h:form prependId="false" enctype="multipart/form-data">
					<p:panelGrid id="formSection" columns="1" layout="flex" columnClasses="p-col-12"
						contentStyleClass="p-align-baseline ui-fluid">

						<p:outputLabel value="Template" styleClass="label"/>
						<p:selectOneMenu value="#{designCtrl.form.template}">
							<f:selectItem itemValue="0" itemLabel="Corporate Truemove-H" />
							<f:selectItem itemValue="1" itemLabel="Individual Truemove-H" />
							<p:ajax listener="#{designCtrl.changeTemplateAction()}" 
								update=":desingTemplate, formSection"/>
						</p:selectOneMenu>

						<p:outputLabel value="Raw Data" styleClass="label"/>
						<p:selectOneMenu value="#{designCtrl.form.dataSource}">
							<f:selectItems value="#{designCtrl.dataSources}" />
							<p:ajax listener="#{designCtrl.changeDataSource()}" global="false"/>
						</p:selectOneMenu>
						
						<p:outputLabel value="Rule" styleClass="label"/>
				        <p:selectCheckboxMenu value="#{designCtrl.form.selectedRules}" label="Rule" 
				        	multiple="true" filter="true" filterMatchMode="startsWith">
							<f:selectItems value="#{designCtrl.ruleItems}" />
				            <p:ajax global="false" />
				        </p:selectCheckboxMenu>
						
						<p:column>
							<h:panelGroup layout="block" styleClass="center">
								<p:commandButton value="Preview as PDF" 
									action="#{designCtrl.previewAction()}"
									update=":desingTemplate"
									icon="fa fa-file-pdf-o fa-orage">
								</p:commandButton>
							</h:panelGroup>
						</p:column>
					</p:panelGrid>
					
					<p:panel id="dataSource" style="margin-top:10px;" toggleable="false">
						<f:facet name="header">
							<h:outputText value="Properties of #{designCtrl.form.fileName}" />
						</f:facet>

						<h:panelGroup layout="block" styleClass="right" rendered="#{not empty designCtrl.form.jsonData}">
							<p:commandButton value="RawData" icon="fa fa-file-code-o"
								action="#{designCtrl.viewJsonAction()}"
								oncomplete="PF('jsonData').show();" update=":jsonData">
							</p:commandButton>
							<p:commandButton value="Data Transform" icon="fa fa-file-code-o"
								action="#{designCtrl.viewJsonTransformAction()}"
								style="margin-left:10px;"
								oncomplete="PF('jsonData').show();" update=":jsonData">
							</p:commandButton>
						</h:panelGroup>
						<p:tree value="#{designCtrl.root}" var="node" style="width:100%;margin-top:5px;" 
							rendered="#{not empty designCtrl.form.jsonData}">
					        <p:treeNode>
					            <h:outputText value="#{node}" />
					        </p:treeNode>
					    </p:tree>
					</p:panel>
				</h:form>
			</p:layoutUnit>

			<ui:remove> +++++++++++++ Center ++++++++++++++ </ui:remove>
			<p:layoutUnit position="center" header="Design template">
				<h:form id="desingTemplate" prependId="false" style="height:99%;">
					<p:tabView activeIndex="#{designCtrl.tabIndex}" 
						dynamic="true"
						style="height: 96% !important">
						<p:ajax event="tabChange" listener="#{designCtrl.onTabChange}" update="@this"/>
						
						<p:tab id="word" title="Design Layout">
							<iframe src="#{designCtrl.wordUrl}" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
						</p:tab>
						<p:tab id="pdf" title="PDF Output">
							<p:media value="#{designCtrl.pdfMedia}" 
								player="pdf" cache="false"
								width="100%" height="99%">
							    Your browser can't display pdf
							</p:media>
						</p:tab>
					</p:tabView>
				</h:form>
			</p:layoutUnit>
		</p:layout>	
	</ui:define>
	
	<ui:define name="popup">
		<p:dialog header="Json Data" widgetVar="jsonData" modal="true" 
			width="1024" height="800" dynamic="true" resizable="false">
			<h:panelGroup id="jsonData" layout="block">
				<script type="text/javascript">
					try {
						var data = JSON.stringify(#{designCtrl.form.jsonData}, undefined, 4); 
						printJson("jsonValue", data);
					} catch(e) {
						console.log(e);
					}
				</script>
				<pre id="jsonValue"> 
    			</pre>
			</h:panelGroup>
		</p:dialog>	
	</ui:define>
</ui:composition>