<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<title>Bill Presentment Prototype</title>
	<h:outputScript name="js/layout.js" library="avalon-layout" />
</h:head>

<h:body styleClass="login-body">

	<div class="login-image"></div>
	<div class="card login-panel ui-fluid">
		<div class="login-panel-content">
			<h:form>
				<div class="ui-g">
					<div class="ui-g-12 ui-sm-6 ui-md-6" style="text-align: left;">
						<p:graphicImage name="images/login/icon-login.svg"
							library="avalon-layout" />
					</div>
					<div class="ui-g-12 ui-sm-6 ui-md-6" style="text-align: right;">
						<h2 class="welcome-text">Welcome</h2>
						<span class="guest-sign-in">Sign in to Bill Presentment
							System</span>
					</div>
					<div class="ui-g-12" style="text-align: left;">
						<h:panelGroup>
							<label class="login-label">Username</label>
							<div class="login-input">
								<p:inputText value="#{loginCtrl.userName}" />
							</div>
						</h:panelGroup>
					</div>
					<div class="ui-g-12" style="text-align: left;">
						<h:panelGroup>
							<label class="login-label">Password</label>
							<div class="login-input">
								<p:password value="#{loginCtrl.password}" />
							</div>
						</h:panelGroup>
					</div>
					<div class="ui-g-12 ui-sm-6 ui-md-6">
						<p:commandButton value="Sign In"
							action="#{loginCtrl.loginAction()}" icon="ui-icon-person">
						</p:commandButton>
					</div>

					<div class="ui-g-12 ui-sm-6 ui-md-6" style="padding: 12px;">
						<a href="#" class="forget-password">Forget Password?</a>
					</div>
				</div>
			</h:form>
		</div>
	</div>

	<h:outputStylesheet name="css/layout-#{webPreferences.theme}.css"
		library="avalon-layout" />
</h:body>

</html>