<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/templates/template.xhtml">

	<ui:define name="title">Manipulate Raw Data</ui:define>

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<h:form prependId="false" enctype="multipart/form-data">
						<p:panelGrid columns="1" layout="flex"
							columnClasses="p-col-12"
							contentStyleClass="p-align-baseline ui-fluid">

							<p:outputLabel value="Raw Data" styleClass="label" />
							<p:fileUpload listener="#{manipulateCtrl.handleUpload}" 								
								uploadLabel="Process Data"
								uploadIcon="fa fa-tasks"
								mode="advanced" auto="false" 
								multiple="true" fileLimit="10">
							</p:fileUpload>

							<p:column rendered="false">
								<h:panelGroup layout="block" styleClass="center">
									<p:commandButton value="Process Data" 
										action="#{manipulateCtrl.processAction()}"
										update="@form"
										icon="fa fa-tasks">
									</p:commandButton>
									<p:commandButton value="Cancel" 
										action="#{manipulateCtrl.cancelAction()}"
										update="@form"
										icon="fa fa-times-circle">
									</p:commandButton>
								</h:panelGroup>
							</p:column>
						</p:panelGrid>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>

	<ui:define name="popup">

	</ui:define>
</ui:composition>