<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/templates/template.xhtml">

	<ui:define name="title">Bill Presentment Process Detail</ui:define>

	<ui:define name="content">
		<style type="text/css">
			body #tableForm .ui-widget-content {
			    border: 0px solid !important;
			}
		</style>
		<div class="dashboard">
			<div class="ui-g">
				<div class="ui-g-12">
					<div class="card">
						<h:panelGroup layout="block" 
							rendered="#{empty indexCtrl.items}"
							styleClass="left" style="margin-bottom:12px;">
							<p:commandButton value="Back"
								action="#{indexCtrl.backAction()}">
							</p:commandButton>
						</h:panelGroup>
						
						<p:panelGrid id="tableForm" columns="4" layout="grid"
							columnClasses="ui-g-2 form-right, ui-g-4, ui-g-2 form-right, ui-g-4">
							<h:outputText value="Task Id : " />
							<h:outputText value="#{indexCtrl.form.id}" />							
							<h:outputText value="Status : " />
							<h:outputText value="#{indexCtrl.form.statusName}" />

							<h:outputText value="Process Start : " />
							<h:outputFormat value="#{indexCtrl.form.processStart}">
								<f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss.SSS " />
							</h:outputFormat>
							<h:outputText value="Process End : " />
							<h:outputFormat value="#{indexCtrl.form.processStart}">
								<f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss.SSS " />
							</h:outputFormat>

							<h:outputText value="Total : " />
							<h:outputFormat value="#{indexCtrl.form.total}">
								<f:convertNumber maxFractionDigits="0" />
							</h:outputFormat>
							<h:outputText value="Completed : " />
							<p:column>
								<h:outputFormat value="#{indexCtrl.form.percent}">
									<f:convertNumber maxFractionDigits="2" />
								</h:outputFormat> %
							</p:column>
						</p:panelGrid>
					</div>
				</div>
			</div>

			<div class="ui-g">
				<h:form prependId="false" rendered="#{not empty indexCtrl.items}">
					<div class="ui-g-12 global-sales">
						<h:panelGroup layout="block" styleClass="left" style="margin-bottom:12px;">
							<p:commandButton value="Back"
								action="#{indexCtrl.backAction()}">
							</p:commandButton>							
							<p:commandButton value="Mask To Full Step Run"
								action="#{indexCtrl.backAction()}" style="margin-left:15px;">
								<p:confirm message="Do you want to full step re-run procsss."/>
							</p:commandButton>
							<p:commandButton value="Re-Run Seleted Item"
								action="#{indexCtrl.backAction()}" style="margin-left:15px;">
								<p:confirm message="Do you want to re-run all selected."/>
							</p:commandButton>
						</h:panelGroup>

						<p:panel>
							<f:facet name="header">
								<i class="fa fa-tasks fa-orange" />
								<span>Process Detail</span>
							</f:facet>
							<p:dataTable id="dataTable" var="bean" value="#{indexCtrl.items}"
								paginator="true" paginatorAlwaysVisible="false" 
								rows="8" paginatorPosition="bottom"
								reflow="true" style="margin-bottom:20px">
								
								<p:column width="60" styleClass="center">
									<f:facet name="header">
										<p:selectBooleanCheckbox value="#{indexCtrl.selectAll}">
											<p:ajax listener="#{indexCtrl.selectAction()}" global="false" 
												update="dataTable"/>
										</p:selectBooleanCheckbox>
									</f:facet>
									<p:selectBooleanCheckbox value="#{bean.selected}"/>
								</p:column>
								
								<p:column headerText="Rerun" width="60" styleClass="center">
									<p:commandLink>
										<i class="fa fa-chevron-circle-right fa-1x fa-green" aria-hidden="true"></i>
										<p:confirm message="Do you want to re-run procsss."/>
									</p:commandLink>
								</p:column>
								<p:column headerText="Raw Data" width="70" styleClass="center">
									<p:commandLink action="#{indexCtrl.viewJsonAction()}" 
										oncomplete="PF('jsonData').show();" update=":jsonData">
										<i class="fa fa-file-code-o fa-1x fa-orange" aria-hidden="true"></i>
									</p:commandLink>
								</p:column>
								<p:column headerText="Id" sortBy="#{bean.id}" width="120" styleClass="center">
									<h:outputText value="#{bean.id}" />
								</p:column>
								
								<p:column headerText="Process Start" sortBy="#{bean.processStart}" width="200" styleClass="center">
									<h:outputFormat value="#{bean.processStart}">
										<f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss.SSS " />
									</h:outputFormat>
								</p:column>
								<p:column headerText="Process End" sortBy="#{bean.processEnd}" width="200" styleClass="center">
									<h:outputFormat value="#{bean.processEnd}">
										<f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss.SSS " />
									</h:outputFormat>
								</p:column>
								<p:column headerText="Remark">
									<p:commandLink action="#{indexCtrl.viewErrorAction()}"
										oncomplete="PF('errorInfo').show();" update=":errorInfo" 
										rendered="#{bean.renderedError}">
										<h:outputText value="#{bean.remark}" styleClass="font-red"/>
									</p:commandLink>
									<h:outputText value="#{bean.remark}" rendered="#{!bean.renderedError}" />
								</p:column>
							</p:dataTable>
						</p:panel>
					</div>
				</h:form>
			</div>
		</div>

	</ui:define>
	<ui:define name="popup">
		<p:dialog header="Raw Data" widgetVar="jsonData" modal="true" 
			width="1024" height="700" dynamic="true" resizable="false">
			<h:panelGroup id="jsonData" layout="block">
				<script type="text/javascript">
					try {
						var data = JSON.stringify(#{indexCtrl.jsonData}, undefined, 4); 
						printJson("jsonValue", data);
					} catch(e) {
						console.log(e);
					}
				</script>
				<pre id="jsonValue"> 
    			</pre>
			</h:panelGroup>
		</p:dialog>	
		
		<p:dialog header="Error Info" widgetVar="errorInfo" modal="true" 
			width="1024" height="500" dynamic="true" resizable="false">
			<h:panelGroup id="errorInfo" layout="block" styleClass="font-red">
				<pre>
					<h:outputText value="#{indexCtrl.error}" />
				</pre>
			</h:panelGroup>
		</p:dialog>
		
	</ui:define>
</ui:composition>